In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("/home/morgenlefay/iM6A/Annotation/UniqmRNA_GENCODE_VM7com_mm10_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data.drop([0,11,13,14,15], axis=1, inplace=True)

In [4]:
Data[1] = Data[12]

In [5]:
Data.drop([12], axis=1, inplace=True)

In [6]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]

In [7]:
idx = (Data["cdsStart"] != Data["cdsEnd"])

In [8]:
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]]

In [9]:
Data = Data[:22357]

In [10]:
Data = Data[Data.exonCount > 2]

In [11]:
Data = Data.reset_index(drop = True)

In [12]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
17709,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6..."
17710,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6..."
17711,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6..."
17712,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6..."
17713,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6..."

In [13]:
Length = pd.read_csv("Mouse_cDNA_Length.csv")

In [14]:
Length

       chrom     name strand  exonCount  cDNALength
0       chr1   Adora1      -          3        4968
1       chr1    Sntg1      -         21        4887
2       chr1   Adgrb3      -         31        5448
3       chr1    Prim2      -         14        1975
4       chr1    Cflar      +         10        6572
...      ...      ...    ...        ...         ...
22352  chr19    Prdx3      -          7        1478
22353  chr19   Gm7102      -          1        1624
22354  chr19   Gm6020      +          1          66
22355  chr19   Csf2ra      -         12        1849
22356  chr19  Gm21060      -          1         168

[22357 rows x 5 columns]

In [15]:
Data = pd.merge(Data, Length, how="inner", on=["chrom","name","strand","exonCount"])

In [16]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",4968
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",4887
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",5448
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",1975
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",6572
...,...,...,...,...,...,...,...,...,...,...,...
17709,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2035
17710,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",5176
17711,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",1309
17712,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",1478
17713,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",1849

In [17]:
m6A = pd.read_csv("Mouse_Prob_Counts.csv")

In [18]:
m6A

          name  Count
0         Xkr4      2
1          Rp1      6
2        Sox17      0
3       Mrpl15      2
4       Lypla1      0
...        ...    ...
22352  Gm21996      0
22353  Gm20837      0
22354  Gm21860      0
22355    Erdr1      0
22356  Gm21748      0

[22357 rows x 2 columns]

In [19]:
Data = pd.merge(Data, m6A, how="inner", on=["name"])

In [20]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength,Count
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",4968,0
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",4887,0
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",5448,3
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",1975,0
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",6572,0
...,...,...,...,...,...,...,...,...,...,...,...,...
17709,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2035,0
17710,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",5176,3
17711,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",1309,0
17712,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",1478,0
17713,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",1849,4

In [21]:
RAC = pd.read_csv("Count_RAC.csv")

In [22]:
RAC

                name    RAC
0              Cflar  110.0
1              Gpr39   79.0
2              Lmx1a  102.0
3      A830018L16Rik   75.0
4              Efhc1   86.0
...              ...    ...
22339          Sfxn4   36.0
22340          Prdx3   29.0
22341         Gm7102   24.0
22342         Csf2ra   78.0
22343        Gm21060    0.0

[22344 rows x 2 columns]

In [23]:
Data = pd.merge(Data, RAC, how="inner", on=["name"])

In [24]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength,Count,RAC
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",4968,0,109.0
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",4887,0,136.0
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",5448,3,154.0
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",1975,0,53.0
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",6572,0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17709,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2035,0,46.0
17710,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",5176,3,156.0
17711,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",1309,0,36.0
17712,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",1478,0,29.0
17713,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",1849,4,78.0

In [25]:
Half = pd.read_csv("GSE86336_halflife_changes_WTvsKO.txt", sep="\t")

In [26]:
Half

         name     KO     WT  log2(KO/WT)
0        Rln1   0.93   0.57       0.7167
1      Zfp473   1.44   0.59       1.2836
2       Mkrn3   1.01   0.59       0.7713
3       Snai1   0.66   0.59       0.1629
4       Grrp1   7.08   0.59       3.5773
...       ...    ...    ...          ...
7744   Dnmt3l   1.25  98.00      -6.2875
7745    Tnni3  11.00  98.00      -3.1551
7746  Plekhb2  21.19  98.00      -2.2097
7747     Uxs1  13.30  98.00      -2.8816
7748     Ybx2  15.92  98.00      -2.6219

[7749 rows x 4 columns]

In [27]:
Data = pd.merge(Data, Half, how="inner", on=["name"])

In [28]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength,Count,RAC,KO,WT,log2(KO/WT)
0,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",1975,0,53.0,8.48,11.60,-0.4521
1,Lactb2,chr1,-,13623329,13660546,13626860,13660450,7,"13623329,13627355,13630064,13638230,13647384,1...","13626904,13627437,13630213,13638409,13647511,1...",4494,0,92.0,2.76,3.23,-0.2297
2,Pgap1,chr1,-,54472993,54557682,54480705,54557580,27,"54472993,54481851,54486469,54490220,54492028,5...","54480844,54481956,54486657,54490271,54492164,5...",10583,0,238.0,5.22,3.89,0.4246
3,Bmpr2,chr1,+,59763399,59879014,59764652,59870485,13,"59763399,59813587,59815240,59841430,59842742,5...","59764728,59813758,59815411,59841541,59842834,5...",12899,4,291.0,3.54,1.39,1.3516
4,Xrcc5,chr1,+,72307420,72394952,72307546,72394722,21,"72307420,72310434,72312407,72314153,72315458,7...","72307567,72310548,72312591,72314202,72315581,7...",2555,0,77.0,26.55,21.49,0.3049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7326,Fam160b1,chr19,+,57361008,57389594,57361325,57386576,17,"57361008,57368523,57371153,57372939,57373279,5...","57361370,57368602,57371323,57373044,57373402,5...",5630,1,141.0,1.98,1.94,0.0324
7327,Pdzd8,chr19,-,59296083,59345780,59299522,59345587,5,"59296083,59305157,59315257,59327750,59344718,","59301708,59305320,59315360,59327873,59345780,",7076,7,197.0,4.74,2.30,1.0443
7328,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",5176,3,156.0,4.86,3.19,0.6063
7329,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",1478,0,29.0,5.59,5.92,-0.0836
7330,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",1849,4,78.0,6.77,9.36,-0.4672

### Cluster

In [29]:
Internal = pd.read_csv("Mouse_Cluster_InternalExon.csv")

In [30]:
Internal

             ID Cluster
0       ID83124      C1
1       ID61536      C1
2      ID113062      C1
3      ID105535      C1
4      ID129267      C1
...         ...     ...
22253   ID46846      C2
22254   ID80977      C2
22255   ID55257      C2
22256   ID58145      C2
22257  ID129993      C2

[22258 rows x 2 columns]

In [31]:
InternalExon = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Figure1/mm10_InternalExon.csv")

In [32]:
InternalExon = InternalExon.reset_index(drop = False)
InternalExon["index"] = InternalExon["index"].astype(str)
InternalExon["ID"] = "ID"+ InternalExon["index"]
InternalExon.drop(["index"], axis=1,inplace=True)

In [33]:
InternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2
3,chr2,155045611,155045781,a,+,170,111,ID3
4,chr2,155047675,155047740,a,+,65,281,ID4
...,...,...,...,...,...,...,...,...
163855,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855
163856,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856
163857,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857
163858,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858
163859,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859

In [34]:
Internal = pd.merge(InternalExon, Internal, how="inner", on=["ID"])

In [35]:
Internal = Internal[["name","Cluster"]]
Internal = Internal.reset_index(drop = True)

In [36]:
Internal

                name Cluster
0              l7Rn6      C2
1               Zzz3      C2
2              Zzef1      C2
3              Zzef1      C2
4              Zzef1      C2
...              ...     ...
22253  1110032A03Rik      C1
22254  1110017D15Rik      C2
22255  1110012L19Rik      C2
22256  0610010F05Rik      C2
22257  0610009O20Rik      C1

[22258 rows x 2 columns]

In [37]:
Gene1 = Internal[["name"]]
Gene1 = Gene1.drop_duplicates()
Gene1 = Gene1.reset_index(drop=True)

In [38]:
Gene1

                name
0              l7Rn6
1               Zzz3
2              Zzef1
3                Zyx
4             Zyg11b
...              ...
10035  1110032A03Rik
10036  1110017D15Rik
10037  1110012L19Rik
10038  0610010F05Rik
10039  0610009O20Rik

[10040 rows x 1 columns]

In [39]:
C1 = Internal[Internal["Cluster"]=="C1"]
C1 = C1.reset_index(drop=True)

In [40]:
C1

               name Cluster
0             Zzef1      C1
1             Zzef1      C1
2            Zswim8      C1
3            Zswim8      C1
4            Zswim4      C1
...             ...     ...
4227  1700003E16Rik      C1
4228  1200014J11Rik      C1
4229  1190002N15Rik      C1
4230  1110032A03Rik      C1
4231  0610009O20Rik      C1

[4232 rows x 2 columns]

In [41]:
df1 = pd.DataFrame(C1["name"].value_counts())
df1 = df1.reset_index(drop=False)
df1.columns = ["name","C1"]

In [42]:
df1

               name  C1
0               Ttn  20
1             Dnah5  13
2     4932438A13Rik  12
3            Adgrv1  10
4             Lrp1b  10
...             ...  ..
3234          Psmc2   1
3235          Rab19   1
3236          Agap3   1
3237         Polr1a   1
3238         Piezo1   1

[3239 rows x 2 columns]

In [43]:
Gene1 = pd.merge(Gene1, df1, how="outer", on=["name"])

In [44]:
Gene1

                name   C1
0              l7Rn6  NaN
1               Zzz3  NaN
2              Zzef1  2.0
3                Zyx  NaN
4             Zyg11b  NaN
...              ...  ...
10035  1110032A03Rik  1.0
10036  1110017D15Rik  NaN
10037  1110012L19Rik  NaN
10038  0610010F05Rik  NaN
10039  0610009O20Rik  1.0

[10040 rows x 2 columns]

In [45]:
Gene1 = Gene1.fillna(0)

In [46]:
Gene1

                name   C1
0              l7Rn6  0.0
1               Zzz3  0.0
2              Zzef1  2.0
3                Zyx  0.0
4             Zyg11b  0.0
...              ...  ...
10035  1110032A03Rik  1.0
10036  1110017D15Rik  0.0
10037  1110012L19Rik  0.0
10038  0610010F05Rik  0.0
10039  0610009O20Rik  1.0

[10040 rows x 2 columns]

In [47]:
LastExon = pd.read_csv("Mouse_Cluster_LastExon.csv")

In [48]:
LastExon

            name Cluster
0         Cartpt      C2
1          Huwe1      C2
2         Col8a1      C2
3          Ube3c      C2
4      Trp53inp1      C2
...          ...     ...
16486       Figf      C1
16487      Kdm2a      C1
16488      Tppp3      C1
16489    Smarca4      C1
16490      Gria2      C1

[16491 rows x 2 columns]

In [49]:
C1 = LastExon[LastExon["Cluster"]=="C1"]
C1 = C1.reset_index(drop=True)

In [50]:
C1

         name Cluster
0        Fgf9      C1
1     Ankrd39      C1
2        Lmo3      C1
3       Xirp2      C1
4      Guca2b      C1
...       ...     ...
2059     Figf      C1
2060    Kdm2a      C1
2061    Tppp3      C1
2062  Smarca4      C1
2063    Gria2      C1

[2064 rows x 2 columns]

In [51]:
C1 = C1["name"].to_list()

In [52]:
for i in range(len(Gene1)):
    name = Gene1.loc[i,"name"]
    if name in C1:
        Gene1.loc[i, "C1"] = Gene1.loc[i, "C1"] + 1

In [53]:
Gene1

                name   C1
0              l7Rn6  0.0
1               Zzz3  0.0
2              Zzef1  2.0
3                Zyx  0.0
4             Zyg11b  0.0
...              ...  ...
10035  1110032A03Rik  1.0
10036  1110017D15Rik  0.0
10037  1110012L19Rik  0.0
10038  0610010F05Rik  0.0
10039  0610009O20Rik  1.0

[10040 rows x 2 columns]

In [54]:
Data = pd.merge(Data, Gene1, how="inner", on=["name"])

In [55]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength,Count,RAC,KO,WT,log2(KO/WT),C1
0,Bmpr2,chr1,+,59763399,59879014,59764652,59870485,13,"59763399,59813587,59815240,59841430,59842742,5...","59764728,59813758,59815411,59841541,59842834,5...",12899,4,291.0,3.54,1.39,1.3516,0.0
1,Usp37,chr1,-,74437729,74544284,74439390,74495785,26,"74437729,74439959,74441531,74444412,74450494,7...","74439478,74440098,74441601,74444528,74450555,7...",4974,1,147.0,2.60,3.09,-0.2469,0.0
2,Pask,chr1,-,93308777,93342789,93310091,93337531,18,"93308777,93310767,93312795,93314280,93316784,9...","93310249,93310914,93312929,93314480,93316919,9...",5779,3,150.0,11.16,7.62,0.5514,1.0
3,Clasp1,chr1,+,118389057,118609497,118419723,118606994,42,"118389057,118419439,118459800,118461186,118462...","118389521,118419918,118459879,118461290,118462...",7910,10,243.0,6.21,4.73,0.3935,1.0
4,Rab3gap1,chr1,+,127868772,127943868,127868811,127942610,24,"127868772,127868924,127874079,127889155,127891...","127868829,127868980,127874155,127889288,127891...",4243,0,100.0,4.26,5.06,-0.2477,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4254,Gpam,chr19,-,55069733,55099451,55070929,55097598,21,"55069733,55072711,55074570,55075541,55076290,5...","55071046,55072770,55074760,55075679,55076368,5...",3832,0,99.0,3.50,5.02,-0.5177,1.0
4255,Dclre1a,chr19,-,56529168,56548222,56529501,56547150,10,"56529168,56531216,56537127,56538296,56540181,5...","56529662,56531358,56537282,56538442,56540322,5...",4066,7,130.0,14.32,2.47,2.5340,0.0
4256,Nhlrc2,chr19,+,56548260,56598846,56548682,56597512,11,"56548260,56551758,56570415,56574757,56576154,5...","56548860,56551911,56570871,56574879,56576284,5...",3934,3,99.0,8.63,4.70,0.8776,2.0
4257,Fam160b1,chr19,+,57361008,57389594,57361325,57386576,17,"57361008,57368523,57371153,57372939,57373279,5...","57361370,57368602,57371323,57373044,57373402,5...",5630,1,141.0,1.98,1.94,0.0324,0.0
4258,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",5176,3,156.0,4.86,3.19,0.6063,4.0

In [56]:
# Data.to_csv("Data_C1_VS_C2.csv", index=0)

In [57]:
# Data = Data[Data["Count"]>0]
# Data = Data.reset_index(drop = True)

In [58]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength,Count,RAC,KO,WT,log2(KO/WT),C1
0,Bmpr2,chr1,+,59763399,59879014,59764652,59870485,13,"59763399,59813587,59815240,59841430,59842742,5...","59764728,59813758,59815411,59841541,59842834,5...",12899,4,291.0,3.54,1.39,1.3516,0.0
1,Usp37,chr1,-,74437729,74544284,74439390,74495785,26,"74437729,74439959,74441531,74444412,74450494,7...","74439478,74440098,74441601,74444528,74450555,7...",4974,1,147.0,2.60,3.09,-0.2469,0.0
2,Pask,chr1,-,93308777,93342789,93310091,93337531,18,"93308777,93310767,93312795,93314280,93316784,9...","93310249,93310914,93312929,93314480,93316919,9...",5779,3,150.0,11.16,7.62,0.5514,1.0
3,Clasp1,chr1,+,118389057,118609497,118419723,118606994,42,"118389057,118419439,118459800,118461186,118462...","118389521,118419918,118459879,118461290,118462...",7910,10,243.0,6.21,4.73,0.3935,1.0
4,Rab3gap1,chr1,+,127868772,127943868,127868811,127942610,24,"127868772,127868924,127874079,127889155,127891...","127868829,127868980,127874155,127889288,127891...",4243,0,100.0,4.26,5.06,-0.2477,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4254,Gpam,chr19,-,55069733,55099451,55070929,55097598,21,"55069733,55072711,55074570,55075541,55076290,5...","55071046,55072770,55074760,55075679,55076368,5...",3832,0,99.0,3.50,5.02,-0.5177,1.0
4255,Dclre1a,chr19,-,56529168,56548222,56529501,56547150,10,"56529168,56531216,56537127,56538296,56540181,5...","56529662,56531358,56537282,56538442,56540322,5...",4066,7,130.0,14.32,2.47,2.5340,0.0
4256,Nhlrc2,chr19,+,56548260,56598846,56548682,56597512,11,"56548260,56551758,56570415,56574757,56576154,5...","56548860,56551911,56570871,56574879,56576284,5...",3934,3,99.0,8.63,4.70,0.8776,2.0
4257,Fam160b1,chr19,+,57361008,57389594,57361325,57386576,17,"57361008,57368523,57371153,57372939,57373279,5...","57361370,57368602,57371323,57373044,57373402,5...",5630,1,141.0,1.98,1.94,0.0324,0.0
4258,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",5176,3,156.0,4.86,3.19,0.6063,4.0

In [59]:
C1 = Data[Data["C1"]>1]
C1 = C1.reset_index(drop=True)

In [60]:
C1

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength,Count,RAC,KO,WT,log2(KO/WT),C1
0,Akt3,chr1,-,177022114,177248767,177025363,177248721,13,"177022114,177031649,177043774,177050037,177059...","177025449,177031752,177043862,177050252,177059...",4735,1,125.0,5.10,2.24,1.1887,2.0
1,Ncoa2,chr1,-,13139104,13372439,13142760,13224694,22,"13139104,13146874,13148316,13148930,13150689,1...","13142772,13146964,13148515,13149108,13150918,1...",8171,5,255.0,5.42,2.19,1.3089,2.0
2,Dst,chr1,+,33908271,34307592,33908271,34307592,103,"33908271,33908998,33968702,34006190,34086241,3...","33908452,33909033,33968903,34006398,34086303,3...",23154,23,813.0,5.77,6.64,-0.2031,3.0
3,Ercc5,chr1,+,44147846,44181260,44148062,44181082,15,"44147846,44156936,44158143,44158804,44160976,4...","44148150,44157112,44158259,44158891,44161037,4...",3907,8,129.0,5.01,2.62,0.9350,2.0
4,Spats2l,chr1,+,57774860,57948394,57832099,57946463,14,"57774860,57799304,57832052,57855463,57879507,5...","57775024,57799354,57832137,57855524,57879616,5...",3929,0,108.0,2.65,2.44,0.1157,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,Kif11,chr19,+,37376402,37421859,37376593,37420390,22,"37376402,37384239,37384541,37384731,37387016,3...","37376667,37384372,37384639,37384810,37387202,3...",4819,1,154.0,3.32,2.92,0.1877,2.0
427,Entpd7,chr19,+,43689671,43733697,43690273,43729935,13,"43689671,43690178,43691017,43704198,43704879,4...","43689904,43690281,43691200,43704404,43705030,4...",5911,4,144.0,6.79,1.34,2.3377,2.0
428,Taf5,chr19,+,47067747,47083479,47067764,47082644,11,"47067747,47070980,47074812,47075735,47075996,4...","47068326,47071218,47075128,47075899,47076132,4...",3258,5,100.0,4.26,2.91,0.5492,2.0
429,Nhlrc2,chr19,+,56548260,56598846,56548682,56597512,11,"56548260,56551758,56570415,56574757,56576154,5...","56548860,56551911,56570871,56574879,56576284,5...",3934,3,99.0,8.63,4.70,0.8776,2.0
430,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",5176,3,156.0,4.86,3.19,0.6063,4.0

In [61]:
C2 = Data[Data["C1"]==0.0]
C2 = C2.reset_index(drop=True)

In [62]:
C2

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength,Count,RAC,KO,WT,log2(KO/WT),C1
0,Bmpr2,chr1,+,59763399,59879014,59764652,59870485,13,"59763399,59813587,59815240,59841430,59842742,5...","59764728,59813758,59815411,59841541,59842834,5...",12899,4,291.0,3.54,1.39,1.3516,0.0
1,Usp37,chr1,-,74437729,74544284,74439390,74495785,26,"74437729,74439959,74441531,74444412,74450494,7...","74439478,74440098,74441601,74444528,74450555,7...",4974,1,147.0,2.60,3.09,-0.2469,0.0
2,Camsap2,chr1,-,136268122,136346104,136270841,136345437,19,"136268122,136271530,136273749,136274800,136276...","136271147,136271649,136273865,136274873,136276...",7823,21,226.0,3.26,1.17,1.4754,0.0
3,1700025G04Rik,chr1,-,151884523,152090125,151893393,152006638,6,"151884523,151915481,151921046,151980425,152006...","151893432,151915542,151921123,151980520,152006...",9559,0,218.0,4.38,2.84,0.6235,0.0
4,Rps6kc1,chr1,-,190772878,190911770,190773592,190911660,15,"190772878,190782534,190783563,190798651,190799...","190773703,190782630,190783646,190798741,190800...",3995,4,118.0,4.20,2.26,0.8965,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528,Actr1a,chr19,-,46376813,46395735,46378366,46395677,11,"46376813,46378607,46379412,46379581,46380248,4...","46378469,46378648,46379474,46379756,46380341,4...",2742,0,76.0,30.48,22.17,0.4592,0.0
2529,Trim8,chr19,+,46501647,46516444,46502443,46515666,6,"46501647,46512722,46513107,46514452,46514621,4...","46503013,46512818,46513341,46514484,46514737,4...",3230,1,73.0,6.84,3.05,1.1680,0.0
2530,Calhm2,chr19,-,47131822,47138294,47132756,47135903,3,"47131822,47135348,47137904,","47133173,47136065,47138294,",2458,0,59.0,1.77,0.87,1.0246,0.0
2531,Dclre1a,chr19,-,56529168,56548222,56529501,56547150,10,"56529168,56531216,56537127,56538296,56540181,5...","56529662,56531358,56537282,56538442,56540322,5...",4066,7,130.0,14.32,2.47,2.5340,0.0
2532,Fam160b1,chr19,+,57361008,57389594,57361325,57386576,17,"57361008,57368523,57371153,57372939,57373279,5...","57361370,57368602,57371323,57373044,57373402,5...",5630,1,141.0,1.98,1.94,0.0324,0.0

In [63]:
cDNA = C1["RAC"].tolist()

In [64]:
data2 = pd.DataFrame(columns = C2.columns.to_list())

In [65]:
for i in range(len(cDNA)):
    
    length = cDNA[i]
    df = C2[(C2["RAC"]==length)]
    
    if len(df)>=1:
        df = df.sample(n=1, random_state=1)
        data2 = data2.append(df)
        C2 = C2.append(df)
        C2 = C2.drop_duplicates(subset=["name"], keep=False)
        C2 = C2.reset_index(drop = True)
        
    if len(df)==0:
        df = C1[C1["RAC"]==length]
        df = df.sample(n=1, random_state=1)
        C1 = C1.append(df)
        C1 = C1.drop_duplicates(subset=["name"], keep=False)

In [66]:
C1

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength,Count,RAC,KO,WT,log2(KO/WT),C1
0,Akt3,chr1,-,177022114,177248767,177025363,177248721,13,"177022114,177031649,177043774,177050037,177059...","177025449,177031752,177043862,177050252,177059...",4735,1,125.0,5.10,2.24,1.1887,2.0
1,Ncoa2,chr1,-,13139104,13372439,13142760,13224694,22,"13139104,13146874,13148316,13148930,13150689,1...","13142772,13146964,13148515,13149108,13150918,1...",8171,5,255.0,5.42,2.19,1.3089,2.0
3,Ercc5,chr1,+,44147846,44181260,44148062,44181082,15,"44147846,44156936,44158143,44158804,44160976,4...","44148150,44157112,44158259,44158891,44161037,4...",3907,8,129.0,5.01,2.62,0.9350,2.0
4,Spats2l,chr1,+,57774860,57948394,57832099,57946463,14,"57774860,57799304,57832052,57855463,57879507,5...","57775024,57799354,57832137,57855524,57879616,5...",3929,0,108.0,2.65,2.44,0.1157,2.0
5,Usp40,chr1,-,87945120,88008551,87946595,88007423,28,"87945120,87948501,87949931,87950158,87951642,8...","87946707,87948596,87950027,87950369,87951708,8...",5049,0,151.0,4.43,5.14,-0.2143,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,Kif11,chr19,+,37376402,37421859,37376593,37420390,22,"37376402,37384239,37384541,37384731,37387016,3...","37376667,37384372,37384639,37384810,37387202,3...",4819,1,154.0,3.32,2.92,0.1877,2.0
427,Entpd7,chr19,+,43689671,43733697,43690273,43729935,13,"43689671,43690178,43691017,43704198,43704879,4...","43689904,43690281,43691200,43704404,43705030,4...",5911,4,144.0,6.79,1.34,2.3377,2.0
428,Taf5,chr19,+,47067747,47083479,47067764,47082644,11,"47067747,47070980,47074812,47075735,47075996,4...","47068326,47071218,47075128,47075899,47076132,4...",3258,5,100.0,4.26,2.91,0.5492,2.0
429,Nhlrc2,chr19,+,56548260,56598846,56548682,56597512,11,"56548260,56551758,56570415,56574757,56576154,5...","56548860,56551911,56570871,56574879,56576284,5...",3934,3,99.0,8.63,4.70,0.8776,2.0
430,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",5176,3,156.0,4.86,3.19,0.6063,4.0

In [67]:
data2

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength,Count,RAC,KO,WT,log2(KO/WT),C1
904,Gltscr1,chr7,-,15971261,15999495,15971777,15996591,14,"15971261,15975082,15975365,15975664,15977050,1...","15972889,15975185,15975460,15975813,15977112,1...",5360,1,125.0,2.53,1.76,0.5220,0.0
897,Nav2,chr7,+,48959096,49606821,48964365,49606821,40,"48959096,48963797,49362097,49372316,49398082,4...","48959177,48964440,49362215,49372369,49398155,4...",7765,1,255.0,4.44,5.90,-0.4089,0.0
1571,Mtmr3,chr11,-,4480867,4594815,4482767,4531224,18,"4480867,4485362,4487233,4489621,4490977,449180...","4482939,4485451,4488632,4489767,4491148,449199...",5674,5,129.0,4.09,1.75,1.2216,0.0
2160,Morc1,chr16,+,48431236,48630905,48431340,48630812,27,"48431236,48437274,48442404,48446312,48449301,4...","48431402,48437328,48442439,48446381,48449392,4...",3050,0,108.0,10.48,11.52,-0.1369,0.0
2225,Bach1,chr16,+,87698944,87733346,87715390,87729871,5,"87698944,87715330,87718806,87722401,87729436,","87699056,87715624,87720150,87722608,87733346,",5867,6,151.0,3.14,1.42,1.1462,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,Ppp1r26,chr2,+,28447940,28455508,28450359,28453851,3,"28447940,28448691,28450301,","28447982,28448908,28455508,",5466,5,154.0,3.05,1.14,1.4159,0.0
399,Mob3b,chr4,-,34949073,35157484,34954017,35084187,4,"34949073,34985915,35083769,35157251,","34954047,34986118,35084389,35157484,",6030,0,144.0,5.32,2.15,1.3089,0.0
1554,Sec23a,chr12,-,58958382,59012017,58959996,59007210,20,"58958382,58966979,58968812,58971239,58972880,5...","58960086,58967045,58968968,58971326,58973042,5...",4109,0,100.0,8.10,18.18,-1.1667,0.0
943,Nacc1,chr8,-,84670482,84687862,84673041,84677244,6,"84670482,84674764,84674998,84676084,84676340,8...","84673304,84674862,84675104,84676258,84677252,8...",4300,3,99.0,41.97,8.34,2.3310,0.0
1311,Nfic,chr10,-,81396185,81427187,81401053,81427105,9,"81396185,81404823,81406088,81407554,81408105,8...","81401071,81405008,81406214,81407679,81408229,8...",6237,0,156.0,4.09,3.00,0.4490,0.0

In [68]:
Data = C1.append(data2)
Data = Data.reset_index(drop = True)

In [69]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,cDNALength,Count,RAC,KO,WT,log2(KO/WT),C1
0,Akt3,chr1,-,177022114,177248767,177025363,177248721,13,"177022114,177031649,177043774,177050037,177059...","177025449,177031752,177043862,177050252,177059...",4735,1,125.0,5.10,2.24,1.1887,2.0
1,Ncoa2,chr1,-,13139104,13372439,13142760,13224694,22,"13139104,13146874,13148316,13148930,13150689,1...","13142772,13146964,13148515,13149108,13150918,1...",8171,5,255.0,5.42,2.19,1.3089,2.0
2,Ercc5,chr1,+,44147846,44181260,44148062,44181082,15,"44147846,44156936,44158143,44158804,44160976,4...","44148150,44157112,44158259,44158891,44161037,4...",3907,8,129.0,5.01,2.62,0.9350,2.0
3,Spats2l,chr1,+,57774860,57948394,57832099,57946463,14,"57774860,57799304,57832052,57855463,57879507,5...","57775024,57799354,57832137,57855524,57879616,5...",3929,0,108.0,2.65,2.44,0.1157,2.0
4,Usp40,chr1,-,87945120,88008551,87946595,88007423,28,"87945120,87948501,87949931,87950158,87951642,8...","87946707,87948596,87950027,87950369,87951708,8...",5049,0,151.0,4.43,5.14,-0.2143,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,Ppp1r26,chr2,+,28447940,28455508,28450359,28453851,3,"28447940,28448691,28450301,","28447982,28448908,28455508,",5466,5,154.0,3.05,1.14,1.4159,0.0
708,Mob3b,chr4,-,34949073,35157484,34954017,35084187,4,"34949073,34985915,35083769,35157251,","34954047,34986118,35084389,35157484,",6030,0,144.0,5.32,2.15,1.3089,0.0
709,Sec23a,chr12,-,58958382,59012017,58959996,59007210,20,"58958382,58966979,58968812,58971239,58972880,5...","58960086,58967045,58968968,58971326,58973042,5...",4109,0,100.0,8.10,18.18,-1.1667,0.0
710,Nacc1,chr8,-,84670482,84687862,84673041,84677244,6,"84670482,84674764,84674998,84676084,84676340,8...","84673304,84674862,84675104,84676258,84677252,8...",4300,3,99.0,41.97,8.34,2.3310,0.0
711,Nfic,chr10,-,81396185,81427187,81401053,81427105,9,"81396185,81404823,81406088,81407554,81408105,8...","81401071,81405008,81406214,81407679,81408229,8...",6237,0,156.0,4.09,3.00,0.4490,0.0

In [70]:
Data.to_csv("Data_C1_VS_C2.csv", index=0)