### Convert gtf to GenePred

In [1]:
# !gtfToGenePred -ignoreGroupsWithoutExons gencode.vM7.annotation.gtf genome.bed

### Read GenePred file

In [2]:
import pandas as pd

In [3]:
Data = pd.read_csv("genome.bed", sep="\t", header=None, error_bad_lines=False)

In [4]:
Data

,0,1,2,3,4,5,6,7,8,9
0,ENSMUST00000193812.1,chr1,+,3073252,3074322,3074322,3074322,1,"3073252,","3074322,"
1,ENSMUST00000082908.1,chr1,+,3102015,3102125,3102125,3102125,1,"3102015,","3102125,"
2,ENSMUST00000162897.1,chr1,-,3205900,3216344,3216344,3216344,2,"3205900,3213608,","3207317,3216344,"
3,ENSMUST00000159265.1,chr1,-,3206522,3215632,3215632,3215632,2,"3206522,3213438,","3207317,3215632,"
4,ENSMUST00000070533.4,chr1,-,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,"
...,...,...,...,...,...,...,...,...,...,...
111701,ENSMUST00000082419.1,chrM,-,13551,14070,13551,14070,1,"13551,","14070,"
111702,ENSMUST00000082420.1,chrM,-,14070,14139,14139,14139,1,"14070,","14139,"
111703,ENSMUST00000082421.1,chrM,+,14144,15288,14144,15288,1,"14144,","15288,"
111704,ENSMUST00000082422.1,chrM,+,15288,15355,15355,15355,1,"15288,","15355,"
111705,ENSMUST00000082423.1,chrM,-,15355,15422,15422,15422,1,"15355,","15422,"

In [5]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]

In [6]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,ENSMUST00000193812.1,chr1,+,3073252,3074322,3074322,3074322,1,"3073252,","3074322,"
1,ENSMUST00000082908.1,chr1,+,3102015,3102125,3102125,3102125,1,"3102015,","3102125,"
2,ENSMUST00000162897.1,chr1,-,3205900,3216344,3216344,3216344,2,"3205900,3213608,","3207317,3216344,"
3,ENSMUST00000159265.1,chr1,-,3206522,3215632,3215632,3215632,2,"3206522,3213438,","3207317,3215632,"
4,ENSMUST00000070533.4,chr1,-,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,"
...,...,...,...,...,...,...,...,...,...,...
111701,ENSMUST00000082419.1,chrM,-,13551,14070,13551,14070,1,"13551,","14070,"
111702,ENSMUST00000082420.1,chrM,-,14070,14139,14139,14139,1,"14070,","14139,"
111703,ENSMUST00000082421.1,chrM,+,14144,15288,14144,15288,1,"14144,","15288,"
111704,ENSMUST00000082422.1,chrM,+,15288,15355,15355,15355,1,"15288,","15355,"
111705,ENSMUST00000082423.1,chrM,-,15355,15422,15422,15422,1,"15355,","15422,"

### Coding genes

In [7]:
idx = (Data["cdsStart"] != Data["cdsEnd"])

In [8]:
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]]

In [9]:
Data = Data.reset_index(drop=True)

In [10]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,ENSMUST00000070533.4,chr1,-,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,"
1,ENSMUST00000194992.4,chr1,-,4290845,4409241,4292980,4409187,4,"4290845,4351909,4352201,4409169,","4293012,4352081,4352837,4409241,"
2,ENSMUST00000027032.5,chr1,-,4344145,4360314,4344599,4352825,4,"4344145,4351909,4352201,4360199,","4350091,4352081,4352837,4360314,"
3,ENSMUST00000027035.8,chr1,-,4490930,4496413,4491715,4493406,5,"4490930,4493099,4493771,4495135,4496290,","4492668,4493466,4493863,4495942,4496413,"
4,ENSMUST00000195555.1,chr1,-,4491249,4496757,4491715,4492591,3,"4491249,4493767,4496290,","4492663,4493863,4496757,"
...,...,...,...,...,...,...,...,...,...,...
55904,ENSMUST00000084013.1,chrM,+,9876,10173,9876,10173,1,"9876,","10173,"
55905,ENSMUST00000082414.1,chrM,+,10166,11544,10166,11544,1,"10166,","11544,"
55906,ENSMUST00000082418.1,chrM,+,11741,13565,11741,13565,1,"11741,","13565,"
55907,ENSMUST00000082419.1,chrM,-,13551,14070,13551,14070,1,"13551,","14070,"
55908,ENSMUST00000082421.1,chrM,+,14144,15288,14144,15288,1,"14144,","15288,"

### Gene name

In [11]:
Table = pd.read_csv('gencode.vM7.annotation.gff3',sep='\t',header=None,skiprows=7)

In [12]:
Table

,0,1,2,3,4,5,6,7,8
0,chr1,HAVANA,gene,3073253.0,3074322.0,.,+,.,ID=ENSMUSG00000102693.1;gene_id=ENSMUSG0000010...
1,chr1,HAVANA,transcript,3073253.0,3074322.0,.,+,.,ID=ENSMUST00000193812.1;Parent=ENSMUSG00000102...
2,chr1,HAVANA,exon,3073253.0,3074322.0,.,+,.,ID=exon:ENSMUST00000193812.1:1;Parent=ENSMUST0...
3,chr1,ENSEMBL,gene,3102016.0,3102125.0,.,+,.,ID=ENSMUSG00000064842.1;gene_id=ENSMUSG0000006...
4,chr1,ENSEMBL,transcript,3102016.0,3102125.0,.,+,.,ID=ENSMUST00000082908.1;Parent=ENSMUSG00000064...
...,...,...,...,...,...,...,...,...,...
1554685,chrM,ENSEMBL,transcript,15289.0,15355.0,.,+,.,ID=ENSMUST00000082422.1;Parent=ENSMUSG00000064...
1554686,chrM,ENSEMBL,exon,15289.0,15355.0,.,+,.,ID=exon:ENSMUST00000082422.1:1;Parent=ENSMUST0...
1554687,chrM,ENSEMBL,gene,15356.0,15422.0,.,-,.,ID=ENSMUSG00000064372.1;gene_id=ENSMUSG0000006...
1554688,chrM,ENSEMBL,transcript,15356.0,15422.0,.,-,.,ID=ENSMUST00000082423.1;Parent=ENSMUSG00000064...
1554689,chrM,ENSEMBL,exon,15356.0,15422.0,.,-,.,ID=exon:ENSMUST00000082423.1:1;Parent=ENSMUST0...

In [13]:
Table.drop(1,axis=1,inplace=True)

In [14]:
Gene = Table.loc[Table[2] == 'transcript'].copy()

In [15]:
Gene

,0,2,3,4,5,6,7,8
1,chr1,transcript,3073253.0,3074322.0,.,+,.,ID=ENSMUST00000193812.1;Parent=ENSMUSG00000102...
4,chr1,transcript,3102016.0,3102125.0,.,+,.,ID=ENSMUST00000082908.1;Parent=ENSMUSG00000064...
7,chr1,transcript,3205901.0,3216344.0,.,-,.,ID=ENSMUST00000162897.1;Parent=ENSMUSG00000051...
10,chr1,transcript,3206523.0,3215632.0,.,-,.,ID=ENSMUST00000159265.1;Parent=ENSMUSG00000051...
13,chr1,transcript,3214482.0,3671498.0,.,-,.,ID=ENSMUST00000070533.4;Parent=ENSMUSG00000051...
...,...,...,...,...,...,...,...,...
1554671,chrM,transcript,13552.0,14070.0,.,-,.,ID=ENSMUST00000082419.1;Parent=ENSMUSG00000064...
1554677,chrM,transcript,14071.0,14139.0,.,-,.,ID=ENSMUST00000082420.1;Parent=ENSMUSG00000064...
1554680,chrM,transcript,14145.0,15288.0,.,+,.,ID=ENSMUST00000082421.1;Parent=ENSMUSG00000064...
1554685,chrM,transcript,15289.0,15355.0,.,+,.,ID=ENSMUST00000082422.1;Parent=ENSMUSG00000064...
1554688,chrM,transcript,15356.0,15422.0,.,-,.,ID=ENSMUST00000082423.1;Parent=ENSMUSG00000064...

In [16]:
Gene.loc[:,('GeneName')] = Gene.apply(lambda x:x[8].split(';')[6].split('=')[1],axis=1).values
Gene.loc[:,('name')] = Gene.apply(lambda x:x[8].split(';')[0].split('=')[1],axis=1).values

In [17]:
Gene

,0,2,3,4,5,6,7,8,GeneName,name
1,chr1,transcript,3073253.0,3074322.0,.,+,.,ID=ENSMUST00000193812.1;Parent=ENSMUSG00000102...,4933401J01Rik,ENSMUST00000193812.1
4,chr1,transcript,3102016.0,3102125.0,.,+,.,ID=ENSMUST00000082908.1;Parent=ENSMUSG00000064...,Gm26206,ENSMUST00000082908.1
7,chr1,transcript,3205901.0,3216344.0,.,-,.,ID=ENSMUST00000162897.1;Parent=ENSMUSG00000051...,Xkr4,ENSMUST00000162897.1
10,chr1,transcript,3206523.0,3215632.0,.,-,.,ID=ENSMUST00000159265.1;Parent=ENSMUSG00000051...,Xkr4,ENSMUST00000159265.1
13,chr1,transcript,3214482.0,3671498.0,.,-,.,ID=ENSMUST00000070533.4;Parent=ENSMUSG00000051...,Xkr4,ENSMUST00000070533.4
...,...,...,...,...,...,...,...,...,...,...
1554671,chrM,transcript,13552.0,14070.0,.,-,.,ID=ENSMUST00000082419.1;Parent=ENSMUSG00000064...,mt-Nd6,ENSMUST00000082419.1
1554677,chrM,transcript,14071.0,14139.0,.,-,.,ID=ENSMUST00000082420.1;Parent=ENSMUSG00000064...,mt-Te,ENSMUST00000082420.1
1554680,chrM,transcript,14145.0,15288.0,.,+,.,ID=ENSMUST00000082421.1;Parent=ENSMUSG00000064...,mt-Cytb,ENSMUST00000082421.1
1554685,chrM,transcript,15289.0,15355.0,.,+,.,ID=ENSMUST00000082422.1;Parent=ENSMUSG00000064...,mt-Tt,ENSMUST00000082422.1
1554688,chrM,transcript,15356.0,15422.0,.,-,.,ID=ENSMUST00000082423.1;Parent=ENSMUSG00000064...,mt-Tp,ENSMUST00000082423.1

In [18]:
Gene.drop([0,2,3,4,5,6,7,8],axis=1,inplace=True)

In [19]:
Gene

              GeneName                  name
1        4933401J01Rik  ENSMUST00000193812.1
4              Gm26206  ENSMUST00000082908.1
7                 Xkr4  ENSMUST00000162897.1
10                Xkr4  ENSMUST00000159265.1
13                Xkr4  ENSMUST00000070533.4
...                ...                   ...
1554671         mt-Nd6  ENSMUST00000082419.1
1554677          mt-Te  ENSMUST00000082420.1
1554680        mt-Cytb  ENSMUST00000082421.1
1554685          mt-Tt  ENSMUST00000082422.1
1554688          mt-Tp  ENSMUST00000082423.1

[111706 rows x 2 columns]

In [20]:
Gene = Gene.reset_index(drop=True)

### Merge tables

In [21]:
Merge = pd.merge(Data, Gene, how="inner", on = ["name"])

In [22]:
Merge

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,GeneName
0,ENSMUST00000070533.4,chr1,-,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",Xkr4
1,ENSMUST00000194992.4,chr1,-,4290845,4409241,4292980,4409187,4,"4290845,4351909,4352201,4409169,","4293012,4352081,4352837,4409241,",Rp1
2,ENSMUST00000027032.5,chr1,-,4344145,4360314,4344599,4352825,4,"4344145,4351909,4352201,4360199,","4350091,4352081,4352837,4360314,",Rp1
3,ENSMUST00000027035.8,chr1,-,4490930,4496413,4491715,4493406,5,"4490930,4493099,4493771,4495135,4496290,","4492668,4493466,4493863,4495942,4496413,",Sox17
4,ENSMUST00000195555.1,chr1,-,4491249,4496757,4491715,4492591,3,"4491249,4493767,4496290,","4492663,4493863,4496757,",Sox17
...,...,...,...,...,...,...,...,...,...,...,...
55904,ENSMUST00000084013.1,chrM,+,9876,10173,9876,10173,1,"9876,","10173,",mt-Nd4l
55905,ENSMUST00000082414.1,chrM,+,10166,11544,10166,11544,1,"10166,","11544,",mt-Nd4
55906,ENSMUST00000082418.1,chrM,+,11741,13565,11741,13565,1,"11741,","13565,",mt-Nd5
55907,ENSMUST00000082419.1,chrM,-,13551,14070,13551,14070,1,"13551,","14070,",mt-Nd6
55908,ENSMUST00000082421.1,chrM,+,14144,15288,14144,15288,1,"14144,","15288,",mt-Cytb

### Remove chrM

In [23]:
idx = (Data["chrom"] != "chrM")

In [24]:
Merge = Merge.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds", "GeneName"]]

In [25]:
Merge = Merge.reset_index(drop=True)

In [26]:
Merge

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,GeneName
0,ENSMUST00000070533.4,chr1,-,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",Xkr4
1,ENSMUST00000194992.4,chr1,-,4290845,4409241,4292980,4409187,4,"4290845,4351909,4352201,4409169,","4293012,4352081,4352837,4409241,",Rp1
2,ENSMUST00000027032.5,chr1,-,4344145,4360314,4344599,4352825,4,"4344145,4351909,4352201,4360199,","4350091,4352081,4352837,4360314,",Rp1
3,ENSMUST00000027035.8,chr1,-,4490930,4496413,4491715,4493406,5,"4490930,4493099,4493771,4495135,4496290,","4492668,4493466,4493863,4495942,4496413,",Sox17
4,ENSMUST00000195555.1,chr1,-,4491249,4496757,4491715,4492591,3,"4491249,4493767,4496290,","4492663,4493863,4496757,",Sox17
...,...,...,...,...,...,...,...,...,...,...,...
55891,ENSMUST00000179483.6,chrY,+,90784737,90816439,90784807,90816439,4,"90784737,90785589,90793295,90816348,","90784822,90785979,90793417,90816439,",Erdr1
55892,ENSMUST00000177591.1,chrY,+,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",Erdr1
55893,ENSMUST00000177671.6,chrY,+,90785500,90816464,90785659,90793353,5,"90785500,90785763,90785968,90793295,90816348,","90785758,90785964,90785979,90793417,90816464,",Erdr1
55894,ENSMUST00000179077.1,chrY,+,90785585,90816464,90785659,90793421,5,"90785585,90785693,90785700,90793295,90816348,","90785689,90785696,90785979,90793680,90816464,",Erdr1
55895,ENSMUST00000179623.1,chrY,-,90838868,90839177,90838868,90839177,1,"90838868,","90839177,",Gm21748

In [27]:
Merge.to_csv("Gencode_vM7_mm10.csv", index=0)