In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("Temp/Data.csv")

In [3]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",2
...,...,...,...,...,...,...,...,...,...,...,...,...
18108,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",2
18109,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",2
18110,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",2
18111,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",2
18112,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",2

In [4]:
for i in range(len(Data)):
    if Data.loc[i, "strand"] == "+":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[-2]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[-2]
    elif Data.loc[i, "strand"] == "-":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[0]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[0]

In [5]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group,LastExonStart,LastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",2,134199224,134203590
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",2,8361474,8363633
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",2,25067549,25068356
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",2,33453809,33454304
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",2,58753783,58758884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18108,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",2,60198585,60199487
18109,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",2,60761115,60762304
18110,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",2,60838747,60839050
18111,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",2,60864050,60864719
18112,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",2,61224401,61225033

In [6]:
Data["LastExonStart"] = Data["LastExonStart"].astype(int)
Data["LastExonEnd"] = Data["LastExonEnd"].astype(int)

In [7]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group,LastExonStart,LastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",2,134199224,134203590
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",2,8361474,8363633
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",2,25067549,25068356
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",2,33453809,33454304
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",2,58753783,58758884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18108,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",2,60198585,60199487
18109,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",2,60761115,60762304
18110,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",2,60838747,60839050
18111,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",2,60864050,60864719
18112,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",2,61224401,61225033

In [8]:
Data = Data[Data["name"].str.contains(r"Gm*")==False]
Data = Data.reset_index(drop = True)

In [9]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group,LastExonStart,LastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",2,134199224,134203590
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",2,8361474,8363633
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",2,25067549,25068356
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",2,33453809,33454304
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",2,58753783,58758884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16482,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",2,60198585,60199487
16483,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",2,60761115,60762304
16484,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",2,60838747,60839050
16485,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",2,60864050,60864719
16486,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",2,61224401,61225033

### Grab sequence

In [10]:
Bed = Data[["chrom","LastExonStart","LastExonEnd","name","Group","strand"]]

In [11]:
Bed.to_csv("Temp/Temp.bed", sep="\t", header=False, index=False)

In [12]:
!bedtools getfasta -s -bed Temp/Temp.bed -fi /home/morgenlefay/Reference/Fasta/mm10.fa -fo Temp/Temp.txt

In [13]:
from Bio import SeqIO
from Bio.Seq import Seq

In [14]:
meta=[]
sequence=[]

In [15]:
seq = ('Temp/Temp.txt')

In [16]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [17]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [18]:
Data = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [19]:
Data.drop(["Meta"], axis=1, inplace=True)

In [20]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group,LastExonStart,LastExonEnd,Sequence
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",2,134199224,134203590,GTACAAGACAGTGGTGACTCAGCGGCGGGCAGCAGTGGCCATAGCC...
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",2,8361474,8363633,GAGTTGGAATTTTCAAATTTATTTGCTGTTCTTCACTGTATTCATT...
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",2,25067549,25068356,GAAAACCCAGCACCAAACAAGAATCCATGGGACACTTTCAAACCCC...
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",2,33453809,33454304,GTGGACGATTGTGGCTTTTCTTTGAATCATCCAAATCAGTTCTTTT...
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",2,58753783,58758884,GAGACGCCCACTCGTGGACCTCCACGTTGAACTCATGGACAAAGTG...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16482,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",2,60198585,60199487,GTTTGAAGCAAAGAAGAGATGGGAAACCAAAAGCAACATGGGATAT...
16483,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",2,60761115,60762304,CAAGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGA...
16484,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",2,60838747,60839050,ATCCAGTGCAGTCAGCTTGAAGAGAAGATTCAATCTTCTACAGAAG...
16485,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",2,60864050,60864719,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...
16486,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",2,61224401,61225033,ACCCTCAGGAAGGACCTCCTGCAGCCCTAGACGTCCCGCCCCCAAC...

In [21]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [22]:
Positive["CodingLength"] = Positive["cdsEnd"] - Positive["LastExonStart"]
Negative["CodingLength"] = Negative["LastExonEnd"] - Negative["cdsStart"]

In [23]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [24]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group,LastExonStart,LastExonEnd,Sequence,CodingLength
0,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",2,58753783,58758884,GAGACGCCCACTCGTGGACCTCCACGTTGAACTCATGGACAAAGTG...,139
1,Lmx1a,chr1,+,167689556,167848741,167689774,167846761,8,"167689556,167691980,167791336,167830545,167832...","167689850,167692167,167791569,167830718,167832...","0,1,2,1,0,0,1,1,",2,167846600,167848741,GTGCTGAACCTCTTTTCCATGACTTGGATAGTGATGACACATCTCT...,161
2,A830018L16Rik,chr1,+,11414104,11975901,11414568,11974966,14,"11414104,11511917,11518577,11545153,11562962,1...","11414637,11512065,11518709,11545282,11562991,1...","0,0,1,1,1,0,2,1,2,1,0,0,1,1,",2,11974922,11975901,GTCTGTCTGTGAAACCGGCAAAGGAAGTTGCAAGTGGTCCTTAAGA...,44
3,Efhc1,chr1,+,20951687,20990841,20951733,20990688,11,"20951687,20955334,20960129,20961152,20967323,2...","20951796,20955556,20960417,20961302,20967516,2...","0,0,0,0,0,1,0,0,1,2,0,",2,20990616,20990841,TTGATCAGGCTGTGCACCCACGGAGAAGGCAGGATTAACTACTATA...,72
4,Khdrbs2,chr1,+,32172713,32658568,32172917,32657541,9,"32172713,32243899,32333465,32414870,32467759,3...","32173008,32244027,32333582,32415017,32467887,3...","0,1,0,0,0,2,0,2,1,",2,32657443,32658568,CACCAGAAGAATGGGCCACAACTCGCTCCAGCCTGAAGGCACCACC...,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16482,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",2,60198585,60199487,GTTTGAAGCAAAGAAGAGATGGGAAACCAAAAGCAACATGGGATAT...,52
16483,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",2,60761115,60762304,CAAGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGA...,224
16484,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",2,60838747,60839050,ATCCAGTGCAGTCAGCTTGAAGAGAAGATTCAATCTTCTACAGAAG...,78
16485,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",2,60864050,60864719,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...,54
16486,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",2,61224401,61225033,ACCCTCAGGAAGGACCTCCTGCAGCCCTAGACGTCCCGCCCCCAAC...,30

In [25]:
Data["Interval"] = Data["CodingLength"]%3
Data["Codon"] = Data["CodingLength"] - Data["Interval"]

In [26]:
for i in range(len(Data)):
    Data.loc[i,("IntervalSequence")] = Data.loc[i,("Sequence")][:(Data.loc[i,("Interval")])]
    Data.loc[i,("CodonSequence")] = Data.loc[i,("Sequence")][(Data.loc[i,("Interval")]):(Data.loc[i,("CodingLength")])]

In [27]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group,LastExonStart,LastExonEnd,Sequence,CodingLength,Codon,IntervalSequence,CodonSequence
0,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",1,2,58753783,58758884,GAGACGCCCACTCGTGGACCTCCACGTTGAACTCATGGACAAAGTG...,139,138,G,AGACGCCCACTCGTGGACCTCCACGTTGAACTCATGGACAAAGTGT...
1,Lmx1a,chr1,+,167689556,167848741,167689774,167846761,8,"167689556,167691980,167791336,167830545,167832...","167689850,167692167,167791569,167830718,167832...",2,2,167846600,167848741,GTGCTGAACCTCTTTTCCATGACTTGGATAGTGATGACACATCTCT...,161,159,GT,GCTGAACCTCTTTTCCATGACTTGGATAGTGATGACACATCTCTCA...
2,A830018L16Rik,chr1,+,11414104,11975901,11414568,11974966,14,"11414104,11511917,11518577,11545153,11562962,1...","11414637,11512065,11518709,11545282,11562991,1...",2,2,11974922,11975901,GTCTGTCTGTGAAACCGGCAAAGGAAGTTGCAAGTGGTCCTTAAGA...,44,42,GT,CTGTCTGTGAAACCGGCAAAGGAAGTTGCAAGTGGTCCTTAA
3,Efhc1,chr1,+,20951687,20990841,20951733,20990688,11,"20951687,20955334,20960129,20961152,20967323,2...","20951796,20955556,20960417,20961302,20967516,2...",0,2,20990616,20990841,TTGATCAGGCTGTGCACCCACGGAGAAGGCAGGATTAACTACTATA...,72,72,,TTGATCAGGCTGTGCACCCACGGAGAAGGCAGGATTAACTACTATA...
4,Khdrbs2,chr1,+,32172713,32658568,32172917,32657541,9,"32172713,32243899,32333465,32414870,32467759,3...","32173008,32244027,32333582,32415017,32467887,3...",2,2,32657443,32658568,CACCAGAAGAATGGGCCACAACTCGCTCCAGCCTGAAGGCACCACC...,98,96,CA,CCAGAAGAATGGGCCACAACTCGCTCCAGCCTGAAGGCACCACCAC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16482,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",1,2,60198585,60199487,GTTTGAAGCAAAGAAGAGATGGGAAACCAAAAGCAACATGGGATAT...,52,51,G,TTTGAAGCAAAGAAGAGATGGGAAACCAAAAGCAACATGGGATATA...
16483,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,2,60761115,60762304,CAAGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGA...,224,222,CA,AGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGAAG...
16484,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",0,2,60838747,60839050,ATCCAGTGCAGTCAGCTTGAAGAGAAGATTCAATCTTCTACAGAAG...,78,78,,ATCCAGTGCAGTCAGCTTGAAGAGAAGATTCAATCTTCTACAGAAG...
16485,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",0,2,60864050,60864719,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...,54,54,,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...
16486,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",0,2,61224401,61225033,ACCCTCAGGAAGGACCTCCTGCAGCCCTAGACGTCCCGCCCCCAAC...,30,30,,ACCCTCAGGAAGGACCTCCTGCAGCCCTAG

In [28]:
def translate(seq):
    seq = seq.upper()
      
    table = { 
        'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M', 
        'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T', 
        'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K', 
        'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',                  
        'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L', 
        'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P', 
        'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q', 
        'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R', 
        'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V', 
        'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A', 
        'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E', 
        'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G', 
        'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S', 
        'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L', 
        'TAC':'Y', 'TAT':'Y', 'TAA':'_', 'TAG':'_', 
        'TGC':'C', 'TGT':'C', 'TGA':'_', 'TGG':'W', 
    } 
    protein ="" 
    if len(seq)%3 == 0: 
        for i in range(0, len(seq), 3): 
            codon = seq[i:i + 3] 
            protein+= table[codon] 
    return protein

In [29]:
CodonSequence = Data["CodonSequence"].tolist()
New = []
for i in range(len(CodonSequence)):
    Protein = translate(CodonSequence[i])
    New.append(Protein)
New = np.array(New)
New = pd.DataFrame({"Protein":New})

In [30]:
Data["Protein"] = 0
Data["Protein"] = New["Protein"]

In [31]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group,LastExonStart,LastExonEnd,Sequence,CodingLength,Codon,IntervalSequence,CodonSequence,Protein
0,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",1,2,58753783,58758884,GAGACGCCCACTCGTGGACCTCCACGTTGAACTCATGGACAAAGTG...,139,138,G,AGACGCCCACTCGTGGACCTCCACGTTGAACTCATGGACAAAGTGT...,RRPLVDLHVELMDKVYAWNSGVSSKEKYSLSLQHTLRKKLILAPT_
1,Lmx1a,chr1,+,167689556,167848741,167689774,167846761,8,"167689556,167691980,167791336,167830545,167832...","167689850,167692167,167791569,167830718,167832...",2,2,167846600,167848741,GTGCTGAACCTCTTTTCCATGACTTGGATAGTGATGACACATCTCT...,161,159,GT,GCTGAACCTCTTTTCCATGACTTGGATAGTGATGACACATCTCTCA...,AEPLFHDLDSDDTSLSNLGDCFLATSEAGPLQSRVGNPIDHLYSMQ...
2,A830018L16Rik,chr1,+,11414104,11975901,11414568,11974966,14,"11414104,11511917,11518577,11545153,11562962,1...","11414637,11512065,11518709,11545282,11562991,1...",2,2,11974922,11975901,GTCTGTCTGTGAAACCGGCAAAGGAAGTTGCAAGTGGTCCTTAAGA...,44,42,GT,CTGTCTGTGAAACCGGCAAAGGAAGTTGCAAGTGGTCCTTAA,LSVKPAKEVASGP_
3,Efhc1,chr1,+,20951687,20990841,20951733,20990688,11,"20951687,20955334,20960129,20961152,20967323,2...","20951796,20955556,20960417,20961302,20967516,2...",0,2,20990616,20990841,TTGATCAGGCTGTGCACCCACGGAGAAGGCAGGATTAACTACTATA...,72,72,,TTGATCAGGCTGTGCACCCACGGAGAAGGCAGGATTAACTACTATA...,LIRLCTHGEGRINYYNFVRAFSN_
4,Khdrbs2,chr1,+,32172713,32658568,32172917,32657541,9,"32172713,32243899,32333465,32414870,32467759,3...","32173008,32244027,32333582,32415017,32467887,3...",2,2,32657443,32658568,CACCAGAAGAATGGGCCACAACTCGCTCCAGCCTGAAGGCACCACC...,98,96,CA,CCAGAAGAATGGGCCACAACTCGCTCCAGCCTGAAGGCACCACCAC...,PEEWATTRSSLKAPPPRSARGGYREHPYGRY_
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16482,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",1,2,60198585,60199487,GTTTGAAGCAAAGAAGAGATGGGAAACCAAAAGCAACATGGGATAT...,52,51,G,TTTGAAGCAAAGAAGAGATGGGAAACCAAAAGCAACATGGGATATA...,FEAKKRWETKSNMGYM_
16483,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,2,60761115,60762304,CAAGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGA...,224,222,CA,AGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGAAG...,SSWRRTDDRKDDRTEERDPPRRVPPPALSRDREREREREGEKEKAS...
16484,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",0,2,60838747,60839050,ATCCAGTGCAGTCAGCTTGAAGAGAAGATTCAATCTTCTACAGAAG...,78,78,,ATCCAGTGCAGTCAGCTTGAAGAGAAGATTCAATCTTCTACAGAAG...,IQCSQLEEKIQSSTEEKELFYYRGV_
16485,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",0,2,60864050,60864719,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...,54,54,,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...,IKPSPTASKEYFEKVHQ_
16486,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",0,2,61224401,61225033,ACCCTCAGGAAGGACCTCCTGCAGCCCTAGACGTCCCGCCCCCAAC...,30,30,,ACCCTCAGGAAGGACCTCCTGCAGCCCTAG,TLRKDLLQP_

In [32]:
Cluster = pd.read_csv("Mouse_Cluster_LastExon.csv")

In [33]:
Cluster

           name Cluster
0        Tgfbr1      C2
1       Ehbp1l1      C2
2      Btg1.ps2      C2
3          Tln2      C2
4         Pcid2      C2
...         ...     ...
19040     Hspa5      C1
19041   Vmn2r83      C1
19042      Ska2      C1
19043      Lcp2      C1
19044     Ramp2      C1

[19045 rows x 2 columns]

In [34]:
Data = pd.merge(Data, Cluster, how="inner", on=["name"])

In [35]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,...,Group,LastExonStart,LastExonEnd,Sequence,CodingLength,Codon,IntervalSequence,CodonSequence,Protein,Cluster
0,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",...,2,58753783,58758884,GAGACGCCCACTCGTGGACCTCCACGTTGAACTCATGGACAAAGTG...,139,138,G,AGACGCCCACTCGTGGACCTCCACGTTGAACTCATGGACAAAGTGT...,RRPLVDLHVELMDKVYAWNSGVSSKEKYSLSLQHTLRKKLILAPT_,C1
1,Lmx1a,chr1,+,167689556,167848741,167689774,167846761,8,"167689556,167691980,167791336,167830545,167832...","167689850,167692167,167791569,167830718,167832...",...,2,167846600,167848741,GTGCTGAACCTCTTTTCCATGACTTGGATAGTGATGACACATCTCT...,161,159,GT,GCTGAACCTCTTTTCCATGACTTGGATAGTGATGACACATCTCTCA...,AEPLFHDLDSDDTSLSNLGDCFLATSEAGPLQSRVGNPIDHLYSMQ...,C1
2,A830018L16Rik,chr1,+,11414104,11975901,11414568,11974966,14,"11414104,11511917,11518577,11545153,11562962,1...","11414637,11512065,11518709,11545282,11562991,1...",...,2,11974922,11975901,GTCTGTCTGTGAAACCGGCAAAGGAAGTTGCAAGTGGTCCTTAAGA...,44,42,GT,CTGTCTGTGAAACCGGCAAAGGAAGTTGCAAGTGGTCCTTAA,LSVKPAKEVASGP_,C2
3,Efhc1,chr1,+,20951687,20990841,20951733,20990688,11,"20951687,20955334,20960129,20961152,20967323,2...","20951796,20955556,20960417,20961302,20967516,2...",...,2,20990616,20990841,TTGATCAGGCTGTGCACCCACGGAGAAGGCAGGATTAACTACTATA...,72,72,,TTGATCAGGCTGTGCACCCACGGAGAAGGCAGGATTAACTACTATA...,LIRLCTHGEGRINYYNFVRAFSN_,C1
4,Khdrbs2,chr1,+,32172713,32658568,32172917,32657541,9,"32172713,32243899,32333465,32414870,32467759,3...","32173008,32244027,32333582,32415017,32467887,3...",...,2,32657443,32658568,CACCAGAAGAATGGGCCACAACTCGCTCCAGCCTGAAGGCACCACC...,98,96,CA,CCAGAAGAATGGGCCACAACTCGCTCCAGCCTGAAGGCACCACCAC...,PEEWATTRSSLKAPPPRSARGGYREHPYGRY_,C2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15885,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",...,2,60198585,60199487,GTTTGAAGCAAAGAAGAGATGGGAAACCAAAAGCAACATGGGATAT...,52,51,G,TTTGAAGCAAAGAAGAGATGGGAAACCAAAAGCAACATGGGATATA...,FEAKKRWETKSNMGYM_,C2
15886,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",...,2,60761115,60762304,CAAGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGA...,224,222,CA,AGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGAAG...,SSWRRTDDRKDDRTEERDPPRRVPPPALSRDREREREREGEKEKAS...,C1
15887,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",...,2,60838747,60839050,ATCCAGTGCAGTCAGCTTGAAGAGAAGATTCAATCTTCTACAGAAG...,78,78,,ATCCAGTGCAGTCAGCTTGAAGAGAAGATTCAATCTTCTACAGAAG...,IQCSQLEEKIQSSTEEKELFYYRGV_,C2
15888,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",...,2,60864050,60864719,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...,54,54,,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...,IKPSPTASKEYFEKVHQ_,C2
15889,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",...,2,61224401,61225033,ACCCTCAGGAAGGACCTCCTGCAGCCCTAGACGTCCCGCCCCCAAC...,30,30,,ACCCTCAGGAAGGACCTCCTGCAGCCCTAG,TLRKDLLQP_,C2

In [36]:
data = pd.read_csv("GSE86336_halflife_changes_WTvsKO.txt", sep="\t")

In [37]:
data

         name     KO     WT  log2(KO/WT)
0        Rln1   0.93   0.57       0.7167
1      Zfp473   1.44   0.59       1.2836
2       Mkrn3   1.01   0.59       0.7713
3       Snai1   0.66   0.59       0.1629
4       Grrp1   7.08   0.59       3.5773
...       ...    ...    ...          ...
7744   Dnmt3l   1.25  98.00      -6.2875
7745    Tnni3  11.00  98.00      -3.1551
7746  Plekhb2  21.19  98.00      -2.2097
7747     Uxs1  13.30  98.00      -2.8816
7748     Ybx2  15.92  98.00      -2.6219

[7749 rows x 4 columns]

In [38]:
data = data[["name"]]

In [39]:
Data = pd.merge(Data, data, how="inner", on=["name"])

In [40]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,...,Group,LastExonStart,LastExonEnd,Sequence,CodingLength,Codon,IntervalSequence,CodonSequence,Protein,Cluster
0,Bmpr2,chr1,+,59763399,59879014,59764652,59870485,13,"59763399,59813587,59815240,59841430,59842742,5...","59764728,59813758,59815411,59841541,59842834,5...",...,2,59870234,59879014,TAGGTGAGTCAACACAAGATGGCAAATCAGGATCAGGTGAAAAGAT...,251,249,TA,GGTGAGTCAACACAAGATGGCAAATCAGGATCAGGTGAAAAGATCA...,GESTQDGKSGSGEKIKRRVKTPYSLKRWRPSTWVISTEPLDCEVNN...,C2
1,Xrcc5,chr1,+,72307420,72394952,72307546,72394722,21,"72307420,72310434,72312407,72314153,72315458,7...","72307567,72310548,72312591,72314202,72315581,7...",...,2,72394707,72394952,CTGGACATGATATAGATCATGGATGTGTGGGGAATCCAAGAGTGCC...,15,15,,CTGGACATGATATAG,LDMI_,C2
2,Clasp1,chr1,+,118389057,118609497,118419723,118606994,42,"118389057,118419439,118459800,118461186,118462...","118389521,118419918,118459879,118461290,118462...",...,2,118606907,118609497,ATGAAGCTGCTGAACTTATATATAAAGAGGGCCCAGACTACCAACA...,87,87,,ATGAAGCTGCTGAACTTATATATAAAGAGGGCCCAGACTACCAACA...,MKLLNLYIKRAQTTNSNSSSSSDVSTHS_,C1
3,Rab3gap1,chr1,+,127868772,127943868,127868811,127942610,24,"127868772,127868924,127874079,127889155,127891...","127868829,127868980,127874155,127889288,127891...",...,2,127942373,127943868,GCTGCGGCAGTGGCTCTGCCAGAGGAGGAGCTTAAGAAATCAGGCT...,237,237,,GCTGCGGCAGTGGCTCTGCCAGAGGAGGAGCTTAAGAAATCAGGCT...,AAAVALPEEELKKSGCPEERRQTLVSDFPPPAGRELILRATVPRPA...,C2
4,Aspm,chr1,+,139454774,139494091,139454931,139493750,28,"139454774,139456739,139457036,139461425,139461...","139455204,139456883,139458444,139461530,139461...",...,2,139493647,139494091,ACTTAAGCCACAGTGGGTTTTGAGGCGTGATAATGTGGAAGAAATT...,103,102,A,CTTAAGCCACAGTGGGTTTTGAGGCGTGATAATGTGGAAGAAATTA...,LKPQWVLRRDNVEEITNSLQAIQLVMDTLGISY_,C2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6838,Dclre1a,chr19,-,56529168,56548222,56529501,56547150,10,"56529168,56531216,56537127,56538296,56540181,5...","56529662,56531358,56537282,56538442,56540322,5...",...,2,56529168,56529662,GGATTCCCTACAGTGAACACAGCAGCTACTTAGAAATGAAGCGTTT...,161,159,GG,ATTCCCTACAGTGAACACAGCAGCTACTTAGAAATGAAGCGTTTTG...,IPYSEHSSYLEMKRFVQWLKPQKIIPTVNVGSFRSRNTMEKYFKEW...,C2
6839,Pdzd8,chr19,-,59296083,59345780,59299522,59345587,5,"59296083,59305157,59315257,59327750,59344718,","59301708,59305320,59315360,59327873,59345780,",...,2,59296083,59301708,GTGTGAAAATCACATCGACCCTGCAGGTGCTGAAGCTCATCAAGCA...,2186,2184,GT,GTGAAAATCACATCGACCCTGCAGGTGCTGAAGCTCATCAAGCAGG...,VKITSTLQVLKLIKQAGDRVLVYYQRPAGQSSQDSLGQLEESFLSS...,C2
6840,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",...,2,60761115,60762304,CAAGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGA...,224,222,CA,AGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGAAG...,SSWRRTDDRKDDRTEERDPPRRVPPPALSRDREREREREGEKEKAS...,C1
6841,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",...,2,60864050,60864719,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...,54,54,,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...,IKPSPTASKEYFEKVHQ_,C2
6842,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",...,2,61224401,61225033,ACCCTCAGGAAGGACCTCCTGCAGCCCTAGACGTCCCGCCCCCAAC...,30,30,,ACCCTCAGGAAGGACCTCCTGCAGCCCTAG,TLRKDLLQP_,C2

In [41]:
C1 = Data[Data["Cluster"]=="C1"]
C1 = C1.reset_index(drop=True)

In [42]:
C1

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,...,Group,LastExonStart,LastExonEnd,Sequence,CodingLength,Codon,IntervalSequence,CodonSequence,Protein,Cluster
0,Clasp1,chr1,+,118389057,118609497,118419723,118606994,42,"118389057,118419439,118459800,118461186,118462...","118389521,118419918,118459879,118461290,118462...",...,2,118606907,118609497,ATGAAGCTGCTGAACTTATATATAAAGAGGGCCCAGACTACCAACA...,87,87,,ATGAAGCTGCTGAACTTATATATAAAGAGGGCCCAGACTACCAACA...,MKLLNLYIKRAQTTNSNSSSSSDVSTHS_,C1
1,Sgk3,chr1,+,9798106,9900843,9865252,9898890,17,"9798106,9865130,9868382,9871629,9872257,987716...","9798246,9865348,9868466,9871702,9872333,987725...",...,2,9898719,9900843,GCTGGACCAGATGATATCAGAAACTTTGATGCCGTCTTCACTGAAG...,171,171,,GCTGGACCAGATGATATCAGAAACTTTGATGCCGTCTTCACTGAAG...,AGPDDIRNFDAVFTEETVPYSVCVSSDYSIVNASVLEADDAFVGFS...,C1
2,Cspp1,chr1,+,10038216,10136768,10045085,10136145,30,"10038216,10045075,10047423,10058719,10064332,1...","10038344,10045184,10047526,10058823,10064413,1...",...,2,10135933,10136768,ATGATGAGGGTTCACTGGTTGATCCTGATGACATCATGAGACACCT...,212,210,AT,GATGAGGGTTCACTGGTTGATCCTGATGACATCATGAGACACCTGA...,DEGSLVDPDDIMRHLSDDGRNSAATEPWLRPGTSESLKRFMAEHLN...,C1
3,Plekhb2,chr1,+,34849991,34879580,34861880,34877047,8,"34849991,34861872,34863005,34863470,34864472,3...","34850063,34861917,34863158,34863573,34864512,3...",...,2,34876910,34879580,GAGTTTATGGACAACAGCCTGCCAACCAAGTCATCATCCGCGAGCG...,137,135,GA,GTTTATGGACAACAGCCTGCCAACCAAGTCATCATCCGCGAGCGGT...,VYGQQPANQVIIRERYRDNDSDLALGMLAGAATGMALGSLFWVF_,C1
4,Eif5b,chr1,+,37998009,38055579,37998289,38051713,24,"37998009,38017805,38018024,38018864,38021593,3...","37998324,38017931,38018109,38019534,38021811,3...",...,2,38051605,38055579,ATCAGCCGGCAGTCCATCGATGCACTCAAAGACTGGTTCAGAGACG...,108,108,,ATCAGCCGGCAGTCCATCGATGCACTCAAAGACTGGTTCAGAGACG...,ISRQSIDALKDWFRDEMQKSDWQLIVELKKVFEII_,C1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928,Ttc9c,chr19,-,8809074,8819333,8811743,8818673,4,"8809074,8815853,8818435,8819020,","8811838,8816036,8818684,8819333,",...,2,8809074,8811838,ATGCCAATGTTCGGCGGTACCTCCAGTTGACGCAGTCAGAACTCAG...,95,93,AT,GCCAATGTTCGGCGGTACCTCCAGTTGACGCAGTCAGAACTCAGCA...,ANVRRYLQLTQSELSSYHRKEKQLYLGMFG_,C1
929,Tctn3,chr19,-,40596445,40612233,40597311,40612144,14,"40596445,40602804,40605305,40605702,40606225,4...","40597542,40602942,40605459,40605797,40606333,4...",...,2,40596445,40597542,GAGCACCAGAGAGGAATAGAAGTATCTTTGACGACTCTTGTGAACT...,231,231,,GAGCACCAGAGAGGAATAGAAGTATCTTTGACGACTCTTGTGAACT...,EHQRGIEVSLTTLVNFVDITQKPEPPRDQPRIDWKLPFDFFFPFKA...,C1
930,Arl3,chr19,-,46531108,46573085,46531338,46573042,6,"46531108,46542351,46543481,46551572,46558237,4...","46531386,46542537,46543532,46551689,46558381,4...",...,2,46531108,46531386,GATGGCATGAACTGGGTCTGCAAGAATGTCAACGCAAAGAAGAAAT...,48,48,,GATGGCATGAACTGGGTCTGCAAGAATGTCAACGCAAAGAAGAAATAA,DGMNWVCKNVNAKKK_,C1
931,Smndc1,chr19,-,53379213,53390573,53380463,53389422,6,"53379213,53381240,53383556,53384453,53389302,5...","53380601,53381394,53383718,53384596,53389422,5...",...,2,53379213,53380601,GTAAAGAGGAGTATTTTTGCTTCTCCAGAAAGTGTAACGGGCAAAG...,138,138,,GTAAAGAGGAGTATTTTTGCTTCTCCAGAAAGTGTAACGGGCAAAG...,VKRSIFASPESVTGKVGVGTCGIADKPMTQYQDTSKYNVRHLMPQ_,C1
932,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",...,2,60761115,60762304,CAAGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGA...,224,222,CA,AGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGAAG...,SSWRRTDDRKDDRTEERDPPRRVPPPALSRDREREREREGEKEKAS...,C1

In [43]:
C2 = Data[Data["Cluster"]=="C2"]
C2 = C2.reset_index(drop=True)

In [44]:
C2

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,...,Group,LastExonStart,LastExonEnd,Sequence,CodingLength,Codon,IntervalSequence,CodonSequence,Protein,Cluster
0,Bmpr2,chr1,+,59763399,59879014,59764652,59870485,13,"59763399,59813587,59815240,59841430,59842742,5...","59764728,59813758,59815411,59841541,59842834,5...",...,2,59870234,59879014,TAGGTGAGTCAACACAAGATGGCAAATCAGGATCAGGTGAAAAGAT...,251,249,TA,GGTGAGTCAACACAAGATGGCAAATCAGGATCAGGTGAAAAGATCA...,GESTQDGKSGSGEKIKRRVKTPYSLKRWRPSTWVISTEPLDCEVNN...,C2
1,Xrcc5,chr1,+,72307420,72394952,72307546,72394722,21,"72307420,72310434,72312407,72314153,72315458,7...","72307567,72310548,72312591,72314202,72315581,7...",...,2,72394707,72394952,CTGGACATGATATAGATCATGGATGTGTGGGGAATCCAAGAGTGCC...,15,15,,CTGGACATGATATAG,LDMI_,C2
2,Rab3gap1,chr1,+,127868772,127943868,127868811,127942610,24,"127868772,127868924,127874079,127889155,127891...","127868829,127868980,127874155,127889288,127891...",...,2,127942373,127943868,GCTGCGGCAGTGGCTCTGCCAGAGGAGGAGCTTAAGAAATCAGGCT...,237,237,,GCTGCGGCAGTGGCTCTGCCAGAGGAGGAGCTTAAGAAATCAGGCT...,AAAVALPEEELKKSGCPEERRQTLVSDFPPPAGRELILRATVPRPA...,C2
3,Aspm,chr1,+,139454774,139494091,139454931,139493750,28,"139454774,139456739,139457036,139461425,139461...","139455204,139456883,139458444,139461530,139461...",...,2,139493647,139494091,ACTTAAGCCACAGTGGGTTTTGAGGCGTGATAATGTGGAAGAAATT...,103,102,A,CTTAAGCCACAGTGGGTTTTGAGGCGTGATAATGTGGAAGAAATTA...,LKPQWVLRRDNVEEITNSLQAIQLVMDTLGISY_,C2
4,Nmnat2,chr1,+,152954997,153119261,152955108,153115670,11,"152954997,153073796,153074672,153076908,153086...","152955193,153073885,153074740,153076987,153086...",...,2,153115567,153119261,GCTGGCCCTGCAGCATGGGGACGGCCATGTTGTGGATTACCTGTCC...,103,102,G,CTGGCCCTGCAGCATGGGGACGGCCATGTTGTGGATTACCTGTCCC...,LALQHGDGHVVDYLSQPVIDYILKSQLYINASG_,C2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5905,Bbip1,chr19,-,53929676,53944627,53931344,53932175,4,"53929676,53932129,53943465,53944155,","53931502,53932205,53943579,53944627,",...,2,53929676,53931502,GGCAGTTGTCTGTGGAAGATGTAACCACAATGGTGCTGTGTAAACC...,158,156,GG,CAGTTGTCTGTGGAAGATGTAACCACAATGGTGCTGTGTAAACCCA...,QLSVEDVTTMVLCKPKLLPLKSLTLEKLEKMQQAAQDTVRQQEMAE...,C2
5906,Dclre1a,chr19,-,56529168,56548222,56529501,56547150,10,"56529168,56531216,56537127,56538296,56540181,5...","56529662,56531358,56537282,56538442,56540322,5...",...,2,56529168,56529662,GGATTCCCTACAGTGAACACAGCAGCTACTTAGAAATGAAGCGTTT...,161,159,GG,ATTCCCTACAGTGAACACAGCAGCTACTTAGAAATGAAGCGTTTTG...,IPYSEHSSYLEMKRFVQWLKPQKIIPTVNVGSFRSRNTMEKYFKEW...,C2
5907,Pdzd8,chr19,-,59296083,59345780,59299522,59345587,5,"59296083,59305157,59315257,59327750,59344718,","59301708,59305320,59315360,59327873,59345780,",...,2,59296083,59301708,GTGTGAAAATCACATCGACCCTGCAGGTGCTGAAGCTCATCAAGCA...,2186,2184,GT,GTGAAAATCACATCGACCCTGCAGGTGCTGAAGCTCATCAAGCAGG...,VKITSTLQVLKLIKQAGDRVLVYYQRPAGQSSQDSLGQLEESFLSS...,C2
5908,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",...,2,60864050,60864719,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...,54,54,,ATCAAGCCAAGTCCAACAGCTTCCAAAGAGTACTTTGAGAAGGTCC...,IKPSPTASKEYFEKVHQ_,C2
5909,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",...,2,61224401,61225033,ACCCTCAGGAAGGACCTCCTGCAGCCCTAGACGTCCCGCCCCCAAC...,30,30,,ACCCTCAGGAAGGACCTCCTGCAGCCCTAG,TLRKDLLQP_,C2

### Count AA for C1

In [45]:
Sequence = C1["Protein"].tolist()

In [46]:
Dict = {"A":0, "R":0, "N":0, "D":0, "C":0, "E":0, "Q":0, "G":0, "H":0, "I":0, "L":0, 
        "K":0, "M":0, "F":0, "P":0, "S":0, "T":0, "W":0, "Y":0, "V":0, "_":0, "":0}

In [47]:
for i in range(len(C1)):
    Seq = Sequence[i]
    
    if len(Seq) <=30:
        for j in range(0, len(Seq)-3, 1):
            string = Seq[j:j+1]
            Dict[string] = Dict[string] + 1   
    
    if len(Seq) > 30:
        Seq = Seq[0:30]
        for j in range(0, 30, 1):
            string = Seq[j:j+1]
            Dict[string] = Dict[string] + 1 
del Dict[""]
del Dict["_"]

In [48]:
Count = pd.DataFrame([Dict])
Count = Count.T
Count = Count.reset_index(drop = False)
Count.columns = ["AA","C1"]

In [49]:
C1 = Count

In [50]:
C1

   AA    C1
0   A  1266
1   R  1394
2   N  1083
3   D  1693
4   C   479
5   E  1909
6   Q  1191
7   G  1285
8   H   594
9   I  1047
10  L  2439
11  K  1659
12  M   529
13  F   773
14  P  1161
15  S  1671
16  T  1452
17  W   295
18  Y   644
19  V  1297

### Count AA for C2

In [51]:
Sequence = C2["Protein"].tolist()

In [52]:
Dict = {"A":0, "R":0, "N":0, "D":0, "C":0, "E":0, "Q":0, "G":0, "H":0, "I":0, "L":0, 
        "K":0, "M":0, "F":0, "P":0, "S":0, "T":0, "W":0, "Y":0, "V":0, "_":0, "":0}

In [53]:
for i in range(len(C2)):
    Seq = Sequence[i]
    
    if len(Seq) <=30:
        for j in range(0, len(Seq)-3, 1):
            string = Seq[j:j+1]
            Dict[string] = Dict[string] + 1   
    
    if len(Seq) > 30:
        Seq = Seq[0:30]
        for j in range(0, 30, 1):
            string = Seq[j:j+1]
            Dict[string] = Dict[string] + 1 
del Dict[""]
del Dict["_"]

In [54]:
Count = pd.DataFrame([Dict])
Count = Count.T
Count = Count.reset_index(drop = False)
Count.columns = ["AA","C2"]

In [55]:
C2 = Count

In [56]:
C2

   AA     C2
0   A  10855
1   R   9253
2   N   5215
3   D   7351
4   C   3383
5   E  11618
6   Q   7583
7   G   9000
8   H   4271
9   I   6471
10  L  15513
11  K   9803
12  M   3449
13  F   5814
14  P   9442
15  S  12974
16  T   7658
17  W   1966
18  Y   4279
19  V   9545

### Fisher-exact test

In [57]:
data = pd.merge(C1, C2, how="inner", on=["AA"])

In [58]:
data

   AA    C1     C2
0   A  1266  10855
1   R  1394   9253
2   N  1083   5215
3   D  1693   7351
4   C   479   3383
5   E  1909  11618
6   Q  1191   7583
7   G  1285   9000
8   H   594   4271
9   I  1047   6471
10  L  2439  15513
11  K  1659   9803
12  M   529   3449
13  F   773   5814
14  P  1161   9442
15  S  1671  12974
16  T  1452   7658
17  W   295   1966
18  Y   644   4279
19  V  1297   9545

In [59]:
from scipy.stats import fisher_exact

In [60]:
for i in range(len(data)):
    S1 = data["C1"].sum()
    S2 = data["C2"].sum()
    
    A1 = data.loc[i,"C1"]
    B1 = data.loc[i,"C2"]
    
    oddsr, p = fisher_exact([[A1, S1-A1], [B1, S2-B1]], alternative='two-sided')
    
    data.loc[i, "p"] = p

In [61]:
data["C1"] = data["C1"]/S1
data["C2"] = data["C2"]/S2

In [62]:
data["OR"] = data["C1"]/data["C2"]

In [63]:
data = data.sort_values(by=["OR","p"], ascending=[False,True])
data = data.reset_index(drop = True)

In [64]:
data

   AA        C1        C2             p        OR
0   D  0.070953  0.047291  9.626003e-50  1.500352
1   N  0.045388  0.033549  4.269875e-19  1.352872
2   T  0.060852  0.049266  1.364802e-13  1.235190
3   K  0.069528  0.063065  1.749805e-04  1.102478
4   E  0.080005  0.074741  4.461605e-03  1.070427
5   I  0.043879  0.041629  1.067286e-01  1.054042
6   L  0.102217  0.099799  2.467872e-01  1.024232
7   Q  0.049914  0.048783  4.488221e-01  1.023183
8   M  0.022170  0.022188  1.000000e+00  0.999183
9   R  0.058422  0.059527  5.080274e-01  0.981438
10  Y  0.026990  0.027528  6.550355e-01  0.980451
11  W  0.012363  0.012648  7.318868e-01  0.977510
12  G  0.053854  0.057899  1.201403e-02  0.930129
13  C  0.020075  0.021764  9.840770e-02  0.922393
14  H  0.024894  0.027476  2.203315e-02  0.906023
15  V  0.054356  0.061405  1.792374e-05  0.885211
16  F  0.032396  0.037403  1.116054e-04  0.866138
17  S  0.070031  0.083465  7.188009e-13  0.839045
18  P  0.048657  0.060743  4.791290e-14  0.801034
19  A  0.053057  0.069833  4.227479e-23  0.759777

In [65]:
data.to_csv("AA_LastExon.csv",index=0)

### Count Codon for C1

In [66]:
C1 = Data[Data["Cluster"]=="C1"]
C1 = C1.reset_index(drop=True)

In [67]:
Sequence = C1["CodonSequence"].tolist()

In [68]:
from itertools import product
comb = list(product(["A","T","C","G"],repeat=3))
Mer = []
for i in range(len(comb)):
    value = "".join(comb[i])
    Mer.append(value)
Motif = dict(zip(Mer, [0]*len(Mer)))

In [69]:
for i in range(len(C1)):
    Seq = Sequence[i]
    Seq = Seq.upper()
    
    if len(Seq)<90:
        for j in range(0, len(Seq), 3):
            string = Seq[j:j+3]
            Motif[string] = Motif[string] + 1        
        
    
    if len(Seq)>90:
        Seq = Seq[0:90]       
        for j in range(0, 90, 3):
            string = Seq[j:j+3]
            Motif[string] = Motif[string] + 1

In [70]:
Count = pd.DataFrame([Motif])
Count = Count.T
Count = Count.reset_index(drop = False)
Count.columns = ["Codon","C1"]

In [71]:
C1 = Count

In [72]:
C1

   Codon   C1
0    AAA  768
1    AAT  431
2    AAC  655
3    AAG  890
4    ATA  190
..   ...  ...
59   GCG   92
60   GGA  487
61   GGT  199
62   GGC  338
63   GGG  258

[64 rows x 2 columns]

### Count Codon for C2

In [73]:
C2 = Data[Data["Cluster"]=="C2"]
C2 = C2.reset_index(drop=True)

In [74]:
Sequence = C2["CodonSequence"].tolist()

In [75]:
from itertools import product
comb = list(product(["A","T","C","G"],repeat=3))
Mer = []
for i in range(len(comb)):
    value = "".join(comb[i])
    Mer.append(value)
Motif = dict(zip(Mer, [0]*len(Mer)))

In [76]:
for i in range(len(C2)):
    Seq = Sequence[i]
    Seq = Seq.upper()
    
    if len(Seq)<90:
        for j in range(0, len(Seq), 3):
            string = Seq[j:j+3]
            Motif[string] = Motif[string] + 1        
        
    
    if len(Seq)>=90:
        Seq = Seq[0:90]       
        for j in range(0, 90, 3):
            string = Seq[j:j+3]
            Motif[string] = Motif[string] + 1

In [77]:
Count = pd.DataFrame([Motif])
Count = Count.T
Count = Count.reset_index(drop = False)
Count.columns = ["Codon","C2"]

In [78]:
C2 = Count

In [79]:
C2

   Codon    C2
0    AAA  3891
1    AAT  2263
2    AAC  3051
3    AAG  6179
4    ATA   988
..   ...   ...
59   GCG   845
60   GGA  2462
61   GGT  1691
62   GGC  3078
63   GGG  1897

[64 rows x 2 columns]

In [80]:
data = pd.merge(C1, C2, how="inner", on=["Codon"])

In [81]:
data

   Codon   C1    C2
0    AAA  768  3891
1    AAT  431  2263
2    AAC  655  3051
3    AAG  890  6179
4    ATA  190   988
..   ...  ...   ...
59   GCG   92   845
60   GGA  487  2462
61   GGT  199  1691
62   GGC  338  3078
63   GGG  258  1897

[64 rows x 3 columns]

In [82]:
data = data[(data["Codon"] != "TAA") & (data["Codon"] != "TAG") & (data["Codon"] != "TGA")]
data = data.reset_index(drop=True)

In [83]:
data

   Codon   C1    C2
0    AAA  768  3891
1    AAT  431  2263
2    AAC  655  3051
3    AAG  890  6179
4    ATA  190   988
..   ...  ...   ...
56   GCG   92   845
57   GGA  487  2462
58   GGT  199  1691
59   GGC  338  3078
60   GGG  258  1897

[61 rows x 3 columns]

In [84]:
from scipy.stats import fisher_exact

In [85]:
for i in range(len(data)):
    S1 = data["C1"].sum()
    S2 = data["C2"].sum()
    
    A1 = data.loc[i,"C1"]
    B1 = data.loc[i,"C2"]
    
    oddsr, p = fisher_exact([[A1, S1-A1], [B1, S2-B1]], alternative='two-sided')
    
    data.loc[i, "p"] = p

In [86]:
data

   Codon   C1    C2             p
0    AAA  768  3891  6.878321e-11
1    AAT  431  2263  2.429455e-05
2    AAC  655  3051  5.316763e-15
3    AAG  890  6179  1.321052e-01
4    ATA  190   988  3.755472e-03
..   ...  ...   ...           ...
56   GCG   92   845  1.914069e-03
57   GGA  487  2462  1.788884e-07
58   GGT  199  1691  4.848118e-04
59   GGC  338  3078  3.011671e-09
60   GGG  258  1897  9.584602e-02

[61 rows x 4 columns]

In [87]:
data.replace({0:0.001}, inplace=True)
data["Per-C1"] = data["C1"]/S1
data["Per-C2"] = data["C2"]/S2
data["OR"] = data["Per-C1"]/data["Per-C2"]
data = data.sort_values(by=["OR","p"], ascending=[False,True])
data = data.reset_index(drop = True)

In [88]:
data

   Codon    C1    C2             p    Per-C1    Per-C2        OR
0    GAC  1131  3943  1.364332e-72  0.047035  0.024907  1.888408
1    ACT   468  1878  4.666039e-20  0.019463  0.011863  1.640629
2    AAC   655  3051  5.316763e-15  0.027239  0.019273  1.413381
3    AGA   426  1999  6.584828e-10  0.017716  0.012627  1.402997
4    GGA   487  2462  1.788884e-07  0.020253  0.015552  1.302270
..   ...   ...   ...           ...       ...       ...       ...
56   CGC   164  1515  1.847894e-05  0.006820  0.009570  0.712675
57   GCC   447  4145  3.942078e-13  0.018589  0.026183  0.709975
58   TCC   290  2824  1.835374e-11  0.012060  0.017839  0.676073
59   TCG    71   715  3.873350e-04  0.002953  0.004517  0.653751
60   CCG    91   929  2.823022e-05  0.003784  0.005868  0.644890

[61 rows x 7 columns]

In [89]:
data.to_csv("Codon_LastExon.csv",index=0)

### Positional plot for AA

#### C1

In [90]:
C1 = Data[Data["Cluster"]=="C1"]
C1 = C1.reset_index(drop=True)

In [91]:
C1

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,...,Group,LastExonStart,LastExonEnd,Sequence,CodingLength,Codon,IntervalSequence,CodonSequence,Protein,Cluster
0,Clasp1,chr1,+,118389057,118609497,118419723,118606994,42,"118389057,118419439,118459800,118461186,118462...","118389521,118419918,118459879,118461290,118462...",...,2,118606907,118609497,ATGAAGCTGCTGAACTTATATATAAAGAGGGCCCAGACTACCAACA...,87,87,,ATGAAGCTGCTGAACTTATATATAAAGAGGGCCCAGACTACCAACA...,MKLLNLYIKRAQTTNSNSSSSSDVSTHS_,C1
1,Sgk3,chr1,+,9798106,9900843,9865252,9898890,17,"9798106,9865130,9868382,9871629,9872257,987716...","9798246,9865348,9868466,9871702,9872333,987725...",...,2,9898719,9900843,GCTGGACCAGATGATATCAGAAACTTTGATGCCGTCTTCACTGAAG...,171,171,,GCTGGACCAGATGATATCAGAAACTTTGATGCCGTCTTCACTGAAG...,AGPDDIRNFDAVFTEETVPYSVCVSSDYSIVNASVLEADDAFVGFS...,C1
2,Cspp1,chr1,+,10038216,10136768,10045085,10136145,30,"10038216,10045075,10047423,10058719,10064332,1...","10038344,10045184,10047526,10058823,10064413,1...",...,2,10135933,10136768,ATGATGAGGGTTCACTGGTTGATCCTGATGACATCATGAGACACCT...,212,210,AT,GATGAGGGTTCACTGGTTGATCCTGATGACATCATGAGACACCTGA...,DEGSLVDPDDIMRHLSDDGRNSAATEPWLRPGTSESLKRFMAEHLN...,C1
3,Plekhb2,chr1,+,34849991,34879580,34861880,34877047,8,"34849991,34861872,34863005,34863470,34864472,3...","34850063,34861917,34863158,34863573,34864512,3...",...,2,34876910,34879580,GAGTTTATGGACAACAGCCTGCCAACCAAGTCATCATCCGCGAGCG...,137,135,GA,GTTTATGGACAACAGCCTGCCAACCAAGTCATCATCCGCGAGCGGT...,VYGQQPANQVIIRERYRDNDSDLALGMLAGAATGMALGSLFWVF_,C1
4,Eif5b,chr1,+,37998009,38055579,37998289,38051713,24,"37998009,38017805,38018024,38018864,38021593,3...","37998324,38017931,38018109,38019534,38021811,3...",...,2,38051605,38055579,ATCAGCCGGCAGTCCATCGATGCACTCAAAGACTGGTTCAGAGACG...,108,108,,ATCAGCCGGCAGTCCATCGATGCACTCAAAGACTGGTTCAGAGACG...,ISRQSIDALKDWFRDEMQKSDWQLIVELKKVFEII_,C1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928,Ttc9c,chr19,-,8809074,8819333,8811743,8818673,4,"8809074,8815853,8818435,8819020,","8811838,8816036,8818684,8819333,",...,2,8809074,8811838,ATGCCAATGTTCGGCGGTACCTCCAGTTGACGCAGTCAGAACTCAG...,95,93,AT,GCCAATGTTCGGCGGTACCTCCAGTTGACGCAGTCAGAACTCAGCA...,ANVRRYLQLTQSELSSYHRKEKQLYLGMFG_,C1
929,Tctn3,chr19,-,40596445,40612233,40597311,40612144,14,"40596445,40602804,40605305,40605702,40606225,4...","40597542,40602942,40605459,40605797,40606333,4...",...,2,40596445,40597542,GAGCACCAGAGAGGAATAGAAGTATCTTTGACGACTCTTGTGAACT...,231,231,,GAGCACCAGAGAGGAATAGAAGTATCTTTGACGACTCTTGTGAACT...,EHQRGIEVSLTTLVNFVDITQKPEPPRDQPRIDWKLPFDFFFPFKA...,C1
930,Arl3,chr19,-,46531108,46573085,46531338,46573042,6,"46531108,46542351,46543481,46551572,46558237,4...","46531386,46542537,46543532,46551689,46558381,4...",...,2,46531108,46531386,GATGGCATGAACTGGGTCTGCAAGAATGTCAACGCAAAGAAGAAAT...,48,48,,GATGGCATGAACTGGGTCTGCAAGAATGTCAACGCAAAGAAGAAATAA,DGMNWVCKNVNAKKK_,C1
931,Smndc1,chr19,-,53379213,53390573,53380463,53389422,6,"53379213,53381240,53383556,53384453,53389302,5...","53380601,53381394,53383718,53384596,53389422,5...",...,2,53379213,53380601,GTAAAGAGGAGTATTTTTGCTTCTCCAGAAAGTGTAACGGGCAAAG...,138,138,,GTAAAGAGGAGTATTTTTGCTTCTCCAGAAAGTGTAACGGGCAAAG...,VKRSIFASPESVTGKVGVGTCGIADKPMTQYQDTSKYNVRHLMPQ_,C1
932,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",...,2,60761115,60762304,CAAGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGA...,224,222,CA,AGCTCTTGGAGACGCACTGATGACAGGAAAGATGACCGGACTGAAG...,SSWRRTDDRKDDRTEERDPPRRVPPPALSRDREREREREGEKEKAS...,C1

In [92]:
Sequence = C1["Protein"].tolist()

In [93]:
motif_dic = dict()
positions = range(0, 50)
posi_str = []
for element in positions:
    posi_str.append(str(element))
motif_dic = dict.fromkeys(posi_str, 0)

In [94]:
for i in range(len(C1)):
    Seq = Sequence[i]
    
    if len(Seq)>=50:
        Seq = Seq[0:50]
        for j in range(0, 50, 1):
            string = Seq[j:j+1]
            if(string=="D"):
                motif_dic[str(j)]+=1
    if len(Seq)<50:
        for j in range(0, len(Seq), 1):
            string = Seq[j:j+1]
            if(string=="D"):
                motif_dic[str(j)]+=1

In [95]:
Position = pd.DataFrame({"Index":range(0, 50)})

In [96]:
Value=[]
for i in range(0,50,1):
    Value.append(int(motif_dic[str(i)]))
Position["AA"]=Value

In [97]:
Sequence = C1["Protein"].tolist()

In [98]:
df = pd.DataFrame({"Index":range(0, 50)})
for i in range(len(Sequence)):
    
    seq = Sequence[i]
    if len(seq) >= 50:
        lis = [1]*100
    if len(seq) < 50:
        lis = [1]*len(seq) + [0]*(50-len(seq))
        
    New = np.array(lis)
    New = pd.DataFrame({Data.loc[i,"name"]:New})
    df = pd.merge(df, New, left_index=True, right_index=True)

In [99]:
df.drop(["Index"], axis=1, inplace=True)
df = df.T

In [100]:
df.loc["col_sum"] = df.sum()
df = df.T

In [101]:
Number = df[["col_sum"]]
Number.columns = ["Number"]

In [102]:
Position["Number"] = Number["Number"]

In [103]:
Position

    Index  AA  Number
0       0  87     933
1       1  56     932
2       2  64     926
3       3  74     923
4       4  70     918
5       5  77     912
6       6  63     908
7       7  62     902
8       8  84     894
9       9  87     885
10     10  73     874
11     11  76     868
12     12  66     860
13     13  51     845
14     14  65     834
15     15  53     827
16     16  53     818
17     17  59     808
18     18  60     798
19     19  52     787
20     20  57     775
21     21  45     767
22     22  55     757
23     23  37     749
24     24  48     735
25     25  37     729
26     26  37     712
27     27  41     694
28     28  38     677
29     29  26     661
30     30  45     648
31     31  29     632
32     32  26     621
33     33  29     611
34     34  16     603
35     35  32     596
36     36  34     587
37     37  27     572
38     38  30     557
39     39  29     543
40     40  25     534
41     41  25     523
42     42  28     511
43     43  21     499
44     44  19     487
45     45  20     474
46     46  22     462
47     47  19     451
48     48  22     443
49     49  22     432

In [104]:
Position.to_csv("Temp/D_C1.csv", index=0)

#### C2

In [105]:
C2 = Data[Data["Cluster"]=="C2"]
C2 = C2.reset_index(drop=True)

In [106]:
Sequence = C2["Protein"].tolist()

In [107]:
motif_dic = dict()
positions = range(0, 50)
posi_str = []
for element in positions:
    posi_str.append(str(element))
motif_dic = dict.fromkeys(posi_str, 0)

In [108]:
for i in range(len(C2)):
    Seq = Sequence[i]
    
    if len(Seq)>=50:
        Seq = Seq[0:50]
        for j in range(0, 50, 1):
            string = Seq[j:j+1]
            if(string=="D"):
                motif_dic[str(j)]+=1
    if len(Seq)<50:
        for j in range(0, len(Seq), 1):
            string = Seq[j:j+1]
            if(string=="D"):
                motif_dic[str(j)]+=1

In [109]:
Position = pd.DataFrame({"Index":range(0, 50)})

In [110]:
Value=[]
for i in range(0,50,1):
    Value.append(int(motif_dic[str(i)]))
Position["AA"]=Value

In [111]:
Sequence = C2["Protein"].tolist()

In [112]:
df = pd.DataFrame({"Index":range(0, 50)})
for i in range(len(Sequence)):
    
    seq = Sequence[i]
    if len(seq) >= 50:
        lis = [1]*100
    if len(seq) < 50:
        lis = [1]*len(seq) + [0]*(50-len(seq))
        
    New = np.array(lis)
    New = pd.DataFrame({Data.loc[i,"name"]:New})
    df = pd.merge(df, New, left_index=True, right_index=True)

In [113]:
df.drop(["Index"], axis=1, inplace=True)
df = df.T

In [114]:
df.loc["col_sum"] = df.sum()
df = df.T

In [115]:
Number = df[["col_sum"]]

In [116]:
Number.columns = ["Number"]

In [117]:
Position["Number"] = Number["Number"]

In [118]:
Position

    Index   AA  Number
0       0  356    5910
1       1  255    5890
2       2  285    5863
3       3  272    5830
4       4  284    5797
5       5  275    5757
6       6  251    5723
7       7  265    5685
8       8  250    5659
9       9  255    5614
10     10  255    5571
11     11  263    5541
12     12  264    5497
13     13  271    5462
14     14  269    5418
15     15  237    5369
16     16  265    5318
17     17  222    5269
18     18  245    5214
19     19  234    5175
20     20  260    5114
21     21  236    5056
22     22  222    4996
23     23  223    4936
24     24  224    4880
25     25  203    4818
26     26  231    4743
27     27  197    4669
28     28  208    4604
29     29  236    4519
30     30  192    4443
31     31  198    4362
32     32  229    4285
33     33  209    4223
34     34  182    4141
35     35  182    4066
36     36  190    3988
37     37  160    3904
38     38  176    3813
39     39  172    3731
40     40  177    3665
41     41  159    3591
42     42  171    3523
43     43  154    3437
44     44  157    3354
45     45  152    3287
46     46  167    3208
47     47  142    3120
48     48  122    3021
49     49  113    2945

In [119]:
Position.to_csv("Temp/D_C2.csv", index=0)