In [1]:
from Bio import SeqIO
from Bio.Seq import Seq
import numpy as np
import pandas as pd
import random

In [2]:
meta=[]
sequence=[]

In [3]:
seq = ('Temp/MultiExon.txt')

In [4]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [5]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [6]:
Fasta

,Meta,Sequence
0,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...
17577,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [7]:
Data = pd.read_csv("Temp/MultiExon.csv")

In [8]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356,25074684,25074789,2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304,33464052,33464121,2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",60198585,60199487,60199969,60200076,2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",60761115,60762304,60763064,60763264,2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",60838747,60839050,60842118,60842236,2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719,60865165,60865331,2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,2

In [9]:
Result = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [10]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Group,Meta,Sequence
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,2,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,2,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356,25074684,25074789,2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304,33464052,33464121,2,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,2,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",60198585,60199487,60199969,60200076,2,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",60761115,60762304,60763064,60763264,2,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",60838747,60839050,60842118,60842236,2,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719,60865165,60865331,2,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,2,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [11]:
Result.drop(["Meta","Sequence"], axis=1, inplace=True)

In [12]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356,25074684,25074789,2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304,33464052,33464121,2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",60198585,60199487,60199969,60200076,2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",60761115,60762304,60763064,60763264,2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",60838747,60839050,60842118,60842236,2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719,60865165,60865331,2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,2

In [13]:
Result["GeneLength"] = Result["txEnd"] - Result["txStart"]
Result["LastExonLength"] = Result["LastExonEnd"] - Result["LastExonStart"]

In [14]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Group,GeneLength,LastExonLength
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,2,36207,4366
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,2,937764,2159
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356,25074684,25074789,2,762158,807
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304,33464052,33464121,2,215986,495
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,2,47325,5101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",60198585,60199487,60199969,60200076,2,28112,902
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",60761115,60762304,60763064,60763264,2,29578,1189
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",60838747,60839050,60842118,60842236,2,22732,303
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719,60865165,60865331,2,10506,669
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,2,4017,632

In [15]:
Data = Result

In [16]:
LongInternalExon = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Figure1/mm10_InternalExon.csv")

In [17]:
LongInternalExon

        chrom  exonStart    exonEnd           name strand  ExonLength  Start
0        chr7   89935726   89935964          l7Rn6      -         238    217
1        chr7   89923563   89923715          l7Rn6      -         152    455
2        chr7   89920072   89920191          l7Rn6      -         119    607
3        chr2  155045611  155045781              a      +         170    111
4        chr2  155047675  155047740              a      +          65    281
...       ...        ...        ...            ...    ...         ...    ...
163855  chr18   38258269   38258362  0610009O20Rik      +          93   1179
163856  chr18   38254279   38254368  0610009O20Rik      +          89    691
163857  chr12   85822087   85822248  0610007P14Rik      -         161     52
163858  chr12   85816315   85816434  0610007P14Rik      -         119    304
163859  chr12   85819478   85819569  0610007P14Rik      -          91    213

[163860 rows x 7 columns]

In [18]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["ID"] = "ID"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [19]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2
3,chr2,155045611,155045781,a,+,170,111,ID3
4,chr2,155047675,155047740,a,+,65,281,ID4
...,...,...,...,...,...,...,...,...
163855,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855
163856,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856
163857,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857
163858,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858
163859,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859

In [20]:
LongInternalExon = LongInternalExon.iloc[40000:80000]

In [21]:
LongInternalExon

       chrom  exonStart   exonEnd   name strand  ExonLength  Start       ID
40000  chr12   72219256  72219395   Rtn1      -         139   2488  ID40000
40001  chr12   72217418  72217488   Rtn1      -          70   2627  ID40001
40002  chr12   72216770  72216829   Rtn1      -          59   2744  ID40002
40003  chr12   72216914  72216961   Rtn1      -          47   2697  ID40003
40004  chr10   67987306  67987503  Rtkn2      +         197    215  ID40004
...      ...        ...       ...    ...    ...         ...    ...      ...
79995  chr19   45021386  45021836  Lzts2      +         450    148  ID79995
79996  chr19   45024718  45024979  Lzts2      +         261   1261  ID79996
79997   chr8   69138351  69139149  Lzts1      -         798    345  ID79997
79998  chr16   17520435  17520637  Lztr1      +         202    842  ID79998
79999  chr16   17522967  17523137  Lztr1      +         170   1666  ID79999

[40000 rows x 8 columns]

In [22]:
M6A = pd.read_csv("/home/morgenlefay/iM6A/Chapter3/Figure1/iM6A_Mouse_IL.csv")

In [23]:
M6A

        chrom     Start       End     name strand        WT        IL
0        chr1   3214485   3214486     Xkr4      -  0.000000  0.000000
1        chr1   3214554   3214555     Xkr4      -  0.000000  0.000000
2        chr1   3214662   3214663     Xkr4      -  0.199716  0.199716
3        chr1   3214724   3214725     Xkr4      -  0.152102  0.152101
4        chr1   3214732   3214733     Xkr4      -  0.652838  0.652836
...       ...       ...       ...      ...    ...       ...       ...
1769220  chrY  10433185  10433186  Gm28510      +  0.000000  0.001592
1769221  chrY  51866751  51866752  Gm20920      +  0.000000  0.001402
1769222  chrY  64487901  64487902  Gm20908      +  0.000000  0.001402
1769223  chrY  74478146  74478147  Gm29110      +  0.000000  0.077403
1769224  chrY  75203467  75203468  Gm20814      +  0.000000  0.072174

[1769225 rows x 7 columns]

In [24]:
M6A.columns = ["chrom","m6AStart","m6AEnd","name","strand","WT","IL"]

In [25]:
Data = pd.merge(M6A, Data, how="inner", on=["chrom","name","strand"])

In [26]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Group,GeneLength,LastExonLength
0,chr1,3214485,3214486,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,...,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",3214481,3216968,3421701,3421901,2,457017,2487
1,chr1,3214554,3214555,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,...,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",3214481,3216968,3421701,3421901,2,457017,2487
2,chr1,3214662,3214663,Xkr4,-,0.199716,0.199716,3214481,3671498,3216021,...,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",3214481,3216968,3421701,3421901,2,457017,2487
3,chr1,3214724,3214725,Xkr4,-,0.152102,0.152101,3214481,3671498,3216021,...,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",3214481,3216968,3421701,3421901,2,457017,2487
4,chr1,3214732,3214733,Xkr4,-,0.652838,0.652836,3214481,3671498,3216021,...,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",3214481,3216968,3421701,3421901,2,457017,2487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589988,chrY,90793403,90793404,Erdr1,+,0.232404,0.259672,90785441,90816464,90785670,...,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",90816435,90816464,90816348,90816433,2,31023,29
1589989,chrY,90793407,90793408,Erdr1,+,0.218156,0.176900,90785441,90816464,90785670,...,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",90816435,90816464,90816348,90816433,2,31023,29
1589990,chrY,90816374,90816375,Erdr1,+,0.000000,0.020307,90785441,90816464,90785670,...,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",90816435,90816464,90816348,90816433,2,31023,29
1589991,chrY,90816408,90816409,Erdr1,+,0.000000,0.003735,90785441,90816464,90785670,...,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",90816435,90816464,90816348,90816433,2,31023,29
1589992,chrY,90816418,90816419,Erdr1,+,0.000000,0.002582,90785441,90816464,90785670,...,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",90816435,90816464,90816348,90816433,2,31023,29

In [27]:
Data = pd.merge(Data, LongInternalExon, how="inner", on=["chrom","name","strand"])

In [28]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,SecondToLastExonStart,SecondToLastExonEnd,Group,GeneLength,LastExonLength,exonStart,exonEnd,ExonLength,Start,ID
0,chr1,4290854,4290855,Rp1,-,0.0,0.0,4290845,4409241,4292980,...,4351909,4352081,2,118396,2167,4352201,4352837,636,72,ID41267
1,chr1,4290854,4290855,Rp1,-,0.0,0.0,4290845,4409241,4292980,...,4351909,4352081,2,118396,2167,4351909,4352081,172,708,ID41268
2,chr1,4290870,4290871,Rp1,-,0.0,0.0,4290845,4409241,4292980,...,4351909,4352081,2,118396,2167,4352201,4352837,636,72,ID41267
3,chr1,4290870,4290871,Rp1,-,0.0,0.0,4290845,4409241,4292980,...,4351909,4352081,2,118396,2167,4351909,4352081,172,708,ID41268
4,chr1,4290905,4290906,Rp1,-,0.0,0.0,4290845,4409241,4292980,...,4351909,4352081,2,118396,2167,4352201,4352837,636,72,ID41267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5340151,chrY,2841826,2841827,Rbmy,+,0.0,0.0,2830679,2841851,2833558,...,2840910,2840999,2,11172,671,2833554,2833667,113,72,ID44238
5340152,chrY,2841826,2841827,Rbmy,+,0.0,0.0,2830679,2841851,2833558,...,2840910,2840999,2,11172,671,2838078,2838187,109,623,ID44239
5340153,chrY,2841826,2841827,Rbmy,+,0.0,0.0,2830679,2841851,2833558,...,2840910,2840999,2,11172,671,2834114,2834221,107,185,ID44240
5340154,chrY,2841826,2841827,Rbmy,+,0.0,0.0,2830679,2841851,2833558,...,2840910,2840999,2,11172,671,2840910,2840999,89,813,ID44241
5340155,chrY,2841826,2841827,Rbmy,+,0.0,0.0,2830679,2841851,2833558,...,2840910,2840999,2,11172,671,2839554,2839635,81,732,ID44242

In [29]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [30]:
Positive = Positive[(Positive["m6AStart"]>=Positive["exonStart"]) & (Positive["m6AEnd"]<=Positive["exonEnd"])]
Negative = Negative[(Negative["m6AStart"]>=Negative["exonStart"]) & (Negative["m6AEnd"]<=Negative["exonEnd"])]

In [31]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [32]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,SecondToLastExonStart,SecondToLastExonEnd,Group,GeneLength,LastExonLength,exonStart,exonEnd,ExonLength,Start,ID
0,chr1,5589121,5589122,Oprk1,+,0.0,0.001304,5588492,5606131,5589048,...,5598589,5598942,2,17639,3880,5589034,5589305,271,171,ID62223
1,chr1,5589142,5589143,Oprk1,+,0.0,0.003646,5588492,5606131,5589048,...,5598589,5598942,2,17639,3880,5589034,5589305,271,171,ID62223
2,chr1,5589157,5589158,Oprk1,+,0.0,0.001348,5588492,5606131,5589048,...,5598589,5598942,2,17639,3880,5589034,5589305,271,171,ID62223
3,chr1,5598605,5598606,Oprk1,+,0.0,0.011812,5588492,5606131,5589048,...,5598589,5598942,2,17639,3880,5598589,5598942,353,442,ID62222
4,chr1,5598611,5598612,Oprk1,+,0.0,0.004148,5588492,5606131,5589048,...,5598589,5598942,2,17639,3880,5598589,5598942,353,442,ID62222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186527,chrX,168671144,168671145,Msl3,-,0.0,0.009759,168654116,168673898,168654868,...,168656962,168657047,2,19782,852,168671142,168671243,101,267,ID73204
186528,chrX,168671150,168671151,Msl3,-,0.0,0.023945,168654116,168673898,168654868,...,168656962,168657047,2,19782,852,168671142,168671243,101,267,ID73204
186529,chrX,168671195,168671196,Msl3,-,0.0,0.007691,168654116,168673898,168654868,...,168656962,168657047,2,19782,852,168671142,168671243,101,267,ID73204
186530,chrX,168671839,168671840,Msl3,-,0.0,0.003934,168654116,168673898,168654868,...,168656962,168657047,2,19782,852,168671794,168671890,96,171,ID73206
186531,chrX,168671865,168671866,Msl3,-,0.0,0.032765,168654116,168673898,168654868,...,168656962,168657047,2,19782,852,168671794,168671890,96,171,ID73206

In [33]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [34]:
Positive["m6APosition"] = Positive["m6AStart"] - Positive["exonStart"]
Negative["m6APosition"] = Negative["exonEnd"] - Negative["m6AEnd"]

In [35]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [36]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,SecondToLastExonEnd,Group,GeneLength,LastExonLength,exonStart,exonEnd,ExonLength,Start,ID,m6APosition
0,chr1,5589121,5589122,Oprk1,+,0.0,0.001304,5588492,5606131,5589048,...,5598942,2,17639,3880,5589034,5589305,271,171,ID62223,87
1,chr1,5589142,5589143,Oprk1,+,0.0,0.003646,5588492,5606131,5589048,...,5598942,2,17639,3880,5589034,5589305,271,171,ID62223,108
2,chr1,5589157,5589158,Oprk1,+,0.0,0.001348,5588492,5606131,5589048,...,5598942,2,17639,3880,5589034,5589305,271,171,ID62223,123
3,chr1,5598605,5598606,Oprk1,+,0.0,0.011812,5588492,5606131,5589048,...,5598942,2,17639,3880,5598589,5598942,353,442,ID62222,16
4,chr1,5598611,5598612,Oprk1,+,0.0,0.004148,5588492,5606131,5589048,...,5598942,2,17639,3880,5598589,5598942,353,442,ID62222,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186527,chrX,168671144,168671145,Msl3,-,0.0,0.009759,168654116,168673898,168654868,...,168657047,2,19782,852,168671142,168671243,101,267,ID73204,98
186528,chrX,168671150,168671151,Msl3,-,0.0,0.023945,168654116,168673898,168654868,...,168657047,2,19782,852,168671142,168671243,101,267,ID73204,92
186529,chrX,168671195,168671196,Msl3,-,0.0,0.007691,168654116,168673898,168654868,...,168657047,2,19782,852,168671142,168671243,101,267,ID73204,47
186530,chrX,168671839,168671840,Msl3,-,0.0,0.003934,168654116,168673898,168654868,...,168657047,2,19782,852,168671794,168671890,96,171,ID73206,50
186531,chrX,168671865,168671866,Msl3,-,0.0,0.032765,168654116,168673898,168654868,...,168657047,2,19782,852,168671794,168671890,96,171,ID73206,24

In [37]:
Data = Data.sort_values(by=["ID","m6APosition"], axis=0, ascending=[True,True])
Data = Data.reset_index(drop = True)

In [38]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,SecondToLastExonEnd,Group,GeneLength,LastExonLength,exonStart,exonEnd,ExonLength,Start,ID,m6APosition
0,chr12,72219338,72219339,Rtn1,-,0.001834,0.657783,72211751,72409054,72212534,...,72216829,2,197303,826,72219256,72219395,139,2488,ID40000,56
1,chr12,72219317,72219318,Rtn1,-,0.000000,0.126123,72211751,72409054,72212534,...,72216829,2,197303,826,72219256,72219395,139,2488,ID40000,77
2,chr12,72219275,72219276,Rtn1,-,0.000000,0.047692,72211751,72409054,72212534,...,72216829,2,197303,826,72219256,72219395,139,2488,ID40000,119
3,chr12,72217463,72217464,Rtn1,-,0.000000,0.004479,72211751,72409054,72212534,...,72216829,2,197303,826,72217418,72217488,70,2627,ID40001,24
4,chr12,72217433,72217434,Rtn1,-,0.000000,0.002003,72211751,72409054,72212534,...,72216829,2,197303,826,72217418,72217488,70,2627,ID40001,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186527,chr16,17520554,17520555,Lztr1,+,0.001868,0.627879,17508967,17526331,17509027,...,17525503,2,17364,655,17520435,17520637,202,842,ID79998,119
186528,chr16,17520593,17520594,Lztr1,+,0.001090,0.281805,17508967,17526331,17509027,...,17525503,2,17364,655,17520435,17520637,202,842,ID79998,158
186529,chr16,17520601,17520602,Lztr1,+,0.000000,0.015389,17508967,17526331,17509027,...,17525503,2,17364,655,17520435,17520637,202,842,ID79998,166
186530,chr16,17520629,17520630,Lztr1,+,0.000000,0.008357,17508967,17526331,17509027,...,17525503,2,17364,655,17520435,17520637,202,842,ID79998,194
186531,chr16,17522979,17522980,Lztr1,+,0.000000,0.007439,17508967,17526331,17509027,...,17525503,2,17364,655,17522967,17523137,170,1666,ID79999,12

In [39]:
Data["Probabilty"] = Data["IL"] - Data["WT"]

### Heatmap

In [40]:
ID = Data["ID"].to_list()
ID = list(set(ID))

In [41]:
Heatmap = pd.DataFrame({"Index":range(0, 200, 5)})

In [42]:
for i in range(len(ID)):
    df = Data[Data["ID"]==ID[i]]
    df = df.reset_index(drop = True)
    
    Position = df["m6APosition"].to_list()
    # Prob = df["WT"].to_list() # WT
    Prob = df["IL"].to_list() # Mutation
    Dict = dict(zip(Position,Prob))
    
    
    Value = []
    for j in range(40):
        Interval = [k for k in range(j*5,(j+1)*5,1)]
        
        List = []
        for num in Interval:
            if num in Dict.keys():
                List.append(Dict[num])
            if num not in Dict.keys():
                List.append(0)
        Value.append(sum(List)/5)
    
    df = pd.DataFrame({ID[i]:Value})
    Heatmap = pd.merge(Heatmap, df, left_index=True, right_index=True, how='outer')

In [43]:
Heatmap

,Index,ID59529,ID66596,ID51196,ID61091,ID60404,ID56973,ID75014,ID45835,ID44812,...,ID76286,ID43668,ID40142,ID59252,ID49981,ID53585,ID79727,ID48572,ID64977,ID50489
0,0,0.000000,0.132446,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.002917,0.075367
1,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001523,0.004857,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
2,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.004638
3,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.002535,0.000000,0.000000,0.000000
4,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000404,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
5,25,0.000000,0.000000,0.000000,0.000000,0.000756,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.001351,0.0,0.000000,0.000000,0.000000,0.000000
6,30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000826,0.001607,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
7,35,0.000000,0.064191,0.000000,0.006871,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.004008,0.000000,0.000000,0.000000
8,40,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.017876,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
9,45,0.128248,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.017320,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.036583,0.000000
10,50,0.000000,0.000000,0.031925,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
11,55,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004438,0.000000,0.055065,...,0.000000,0.000000,0.001365,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
12,60,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
13,65,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000521,0.000000,0.000000,...,0.038107,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
14,70,0.000000,0.000000,0.000000,0.013600,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
15,75,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.119910,...,0.075896,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
16,80,0.000000,0.020537,0.000000,0.001470,0.000000,0.000000,0.000000,0.000000,0.008857,...,0.000000,0.004159,0.001342,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
17,85,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.023964,0.001662,0.000000,0.021561,0.000000,0.0,0.000000,0.000228,0.000000,0.000000
18,90,0.000000,0.050527,0.054823,0.000000,0.000000,0.000000,0.000000,0.028384,0.000000,...,0.000000,0.000000,0.000000,0.030046,0.000863,0.0,0.000000,0.000000,0.000000,0.000000
19,95,0.000000,0.000000,0.000000,0.000000,0.000000,0.000692,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
20,100,0.000000,0.050822,0.007984,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.083249,0.000000
21,105,0.000000,0.000000,0.000000,0.000000,0.001238,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.001277,0.0,0.000000,0.000000,0.073120,0.000000
22,110,0.000000,0.000000,0.000000,0.000000,0.000000,0.000576,0.000000,0.000000,0.000000,...,0.027479,0.000000,0.000000,0.000000,0.001790,0.0,0.000000,0.000000,0.000000,0.000000
23,115,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.023018,0.000000,0.0,0.000000,0.000000,0.025899,0.000000
24,120,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.042725,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25,125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
26,130,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.006776,0.000000,0.0,0.000000,0.005331,0.000000,0.000000
27,135,0.000000,0.000000,0.000000,0.000292,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000214,0.0,0.000000,0.000000,0.000000,0.000000
28,140,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
29,145,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.005326,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
30,150,0.000000,0.005032,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.002626,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
31,155,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.001948,0.0,0.000000,0.000000,0.000000,0.000000
32,160,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
33,165,0.000000,0.000000,0.000000,0.000000,0.000000,0.007709,0.000000,0.000000,0.000000,...,0.000000,0.001690,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
34,170,0.000000,0.000000,0.000000,0.000000,0.000000,0.021168,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.101494,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
35,175,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
36,180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
37,185,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
38,190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
39,195,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000

In [44]:
Heatmap.to_csv("mm10_Heatmap_iM6A_IL_LongInternalExonStart_2.csv", index=0)