In [1]:
from Bio import SeqIO
from Bio.Seq import Seq
import numpy as np
import pandas as pd
import random

In [2]:
meta=[]
sequence=[]

In [3]:
seq = ('Temp/MultiExon.txt')

In [4]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [5]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [6]:
Fasta

,Meta,Sequence
0,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...
17577,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [7]:
Data = pd.read_csv("Temp/MultiExon.csv")

In [8]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356,25074684,25074789,2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304,33464052,33464121,2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",60198585,60199487,60199969,60200076,2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",60761115,60762304,60763064,60763264,2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",60838747,60839050,60842118,60842236,2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719,60865165,60865331,2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,2

In [9]:
Result = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [10]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Group,Meta,Sequence
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,2,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,2,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356,25074684,25074789,2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304,33464052,33464121,2,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,2,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",60198585,60199487,60199969,60200076,2,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",60761115,60762304,60763064,60763264,2,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",60838747,60839050,60842118,60842236,2,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719,60865165,60865331,2,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,2,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [11]:
Result.drop(["Meta","Sequence"], axis=1, inplace=True)

In [12]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356,25074684,25074789,2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304,33464052,33464121,2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",60198585,60199487,60199969,60200076,2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",60761115,60762304,60763064,60763264,2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",60838747,60839050,60842118,60842236,2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719,60865165,60865331,2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,2

In [13]:
Result["GeneLength"] = Result["txEnd"] - Result["txStart"]
Result["LastExonLength"] = Result["LastExonEnd"] - Result["LastExonStart"]

In [14]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Group,GeneLength,LastExonLength
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,2,36207,4366
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,2,937764,2159
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356,25074684,25074789,2,762158,807
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304,33464052,33464121,2,215986,495
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,2,47325,5101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",60198585,60199487,60199969,60200076,2,28112,902
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",60761115,60762304,60763064,60763264,2,29578,1189
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",60838747,60839050,60842118,60842236,2,22732,303
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719,60865165,60865331,2,10506,669
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,2,4017,632

In [15]:
Data = Result

In [16]:
LongInternalExon = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Figure1/mm10_InternalExon.csv")

In [17]:
LongInternalExon

        chrom  exonStart    exonEnd           name strand  ExonLength  Start
0        chr7   89935726   89935964          l7Rn6      -         238    217
1        chr7   89923563   89923715          l7Rn6      -         152    455
2        chr7   89920072   89920191          l7Rn6      -         119    607
3        chr2  155045611  155045781              a      +         170    111
4        chr2  155047675  155047740              a      +          65    281
...       ...        ...        ...            ...    ...         ...    ...
163855  chr18   38258269   38258362  0610009O20Rik      +          93   1179
163856  chr18   38254279   38254368  0610009O20Rik      +          89    691
163857  chr12   85822087   85822248  0610007P14Rik      -         161     52
163858  chr12   85816315   85816434  0610007P14Rik      -         119    304
163859  chr12   85819478   85819569  0610007P14Rik      -          91    213

[163860 rows x 7 columns]

In [18]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["ID"] = "ID"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [19]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2
3,chr2,155045611,155045781,a,+,170,111,ID3
4,chr2,155047675,155047740,a,+,65,281,ID4
...,...,...,...,...,...,...,...,...
163855,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855
163856,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856
163857,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857
163858,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858
163859,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859

In [20]:
LongInternalExon = LongInternalExon[LongInternalExon["ExonLength"]>=200]
LongInternalExon = LongInternalExon.reset_index(drop = True)

In [21]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr3,152427276,152428832,Zzz3,+,1556,416,ID5
2,chr11,72874897,72875360,Zzef1,+,463,4292,ID17
3,chr11,72913050,72913410,Zzef1,+,360,7573,ID18
4,chr11,72888996,72889259,Zzef1,+,263,5637,ID19
...,...,...,...,...,...,...,...,...
22268,chr9,50764695,50764926,1110032A03Rik,-,231,595,ID163783
22269,chr4,41507098,41507328,1110017D15Rik,-,230,637,ID163785
22270,chrX,70387893,70388166,1110012L19Rik,+,273,275,ID163790
22271,chr11,23620228,23620467,0610010F05Rik,-,239,709,ID163826
22272,chr18,38261063,38261285,0610009O20Rik,+,222,1432,ID163846

In [22]:
M6A = pd.read_csv("/home/morgenlefay/iM6A/Chapter3/Figure1/iM6A_Mouse_IL.csv")

In [23]:
M6A

        chrom     Start       End     name strand        WT        IL
0        chr1   3214485   3214486     Xkr4      -  0.000000  0.000000
1        chr1   3214554   3214555     Xkr4      -  0.000000  0.000000
2        chr1   3214662   3214663     Xkr4      -  0.199716  0.199716
3        chr1   3214724   3214725     Xkr4      -  0.152102  0.152101
4        chr1   3214732   3214733     Xkr4      -  0.652838  0.652836
...       ...       ...       ...      ...    ...       ...       ...
1769220  chrY  10433185  10433186  Gm28510      +  0.000000  0.001592
1769221  chrY  51866751  51866752  Gm20920      +  0.000000  0.001402
1769222  chrY  64487901  64487902  Gm20908      +  0.000000  0.001402
1769223  chrY  74478146  74478147  Gm29110      +  0.000000  0.077403
1769224  chrY  75203467  75203468  Gm20814      +  0.000000  0.072174

[1769225 rows x 7 columns]

In [24]:
M6A.columns = ["chrom","m6AStart","m6AEnd","name","strand","WT","IL"]

In [25]:
Data = pd.merge(M6A, Data, how="inner", on=["chrom","name","strand"])

In [26]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Group,GeneLength,LastExonLength
0,chr1,3214485,3214486,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,...,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",3214481,3216968,3421701,3421901,2,457017,2487
1,chr1,3214554,3214555,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,...,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",3214481,3216968,3421701,3421901,2,457017,2487
2,chr1,3214662,3214663,Xkr4,-,0.199716,0.199716,3214481,3671498,3216021,...,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",3214481,3216968,3421701,3421901,2,457017,2487
3,chr1,3214724,3214725,Xkr4,-,0.152102,0.152101,3214481,3671498,3216021,...,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",3214481,3216968,3421701,3421901,2,457017,2487
4,chr1,3214732,3214733,Xkr4,-,0.652838,0.652836,3214481,3671498,3216021,...,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",3214481,3216968,3421701,3421901,2,457017,2487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589988,chrY,90793403,90793404,Erdr1,+,0.232404,0.259672,90785441,90816464,90785670,...,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",90816435,90816464,90816348,90816433,2,31023,29
1589989,chrY,90793407,90793408,Erdr1,+,0.218156,0.176900,90785441,90816464,90785670,...,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",90816435,90816464,90816348,90816433,2,31023,29
1589990,chrY,90816374,90816375,Erdr1,+,0.000000,0.020307,90785441,90816464,90785670,...,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",90816435,90816464,90816348,90816433,2,31023,29
1589991,chrY,90816408,90816409,Erdr1,+,0.000000,0.003735,90785441,90816464,90785670,...,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",90816435,90816464,90816348,90816433,2,31023,29
1589992,chrY,90816418,90816419,Erdr1,+,0.000000,0.002582,90785441,90816464,90785670,...,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",90816435,90816464,90816348,90816433,2,31023,29

In [27]:
Data = pd.merge(Data, LongInternalExon, how="inner", on=["chrom","name","strand"])

In [28]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,SecondToLastExonStart,SecondToLastExonEnd,Group,GeneLength,LastExonLength,exonStart,exonEnd,ExonLength,Start,ID
0,chr1,3214485,3214486,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,...,3421701,3421901,2,457017,2487,3421701,3421901,200,947,ID3950
1,chr1,3214554,3214555,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,...,3421701,3421901,2,457017,2487,3421701,3421901,200,947,ID3950
2,chr1,3214662,3214663,Xkr4,-,0.199716,0.199716,3214481,3671498,3216021,...,3421701,3421901,2,457017,2487,3421701,3421901,200,947,ID3950
3,chr1,3214724,3214725,Xkr4,-,0.152102,0.152101,3214481,3671498,3216021,...,3421701,3421901,2,457017,2487,3421701,3421901,200,947,ID3950
4,chr1,3214732,3214733,Xkr4,-,0.652838,0.652836,3214481,3671498,3216021,...,3421701,3421901,2,457017,2487,3421701,3421901,200,947,ID3950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3715381,chrY,70303225,70303226,Gm29644,-,0.000000,0.001150,70271305,70303343,70301098,...,70301089,70301817,3,32038,234,70301089,70301817,728,379,ID101313
3715382,chrY,70303225,70303226,Gm29644,-,0.000000,0.001150,70271305,70303343,70301098,...,70301089,70301817,3,32038,234,70301089,70301817,728,379,ID101313
3715383,chrY,70303231,70303232,Gm29644,-,0.000000,0.000000,70271305,70303343,70301098,...,70301089,70301817,3,32038,234,70301089,70301817,728,379,ID101313
3715384,chrY,70303231,70303232,Gm29644,-,0.000000,0.000000,70271305,70303343,70301098,...,70301089,70301817,3,32038,234,70301089,70301817,728,379,ID101313
3715385,chrY,70303300,70303301,Gm29644,-,0.000000,0.000000,70271305,70303343,70301098,...,70301089,70301817,3,32038,234,70301089,70301817,728,379,ID101313

In [29]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [30]:
Positive = Positive[(Positive["m6AStart"]>=Positive["exonStart"]) & (Positive["m6AEnd"]<=Positive["exonEnd"])]
Negative = Negative[(Negative["m6AStart"]>=Negative["exonStart"]) & (Negative["m6AEnd"]<=Negative["exonEnd"])]

In [31]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [32]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,SecondToLastExonStart,SecondToLastExonEnd,Group,GeneLength,LastExonLength,exonStart,exonEnd,ExonLength,Start,ID
0,chr1,5589121,5589122,Oprk1,+,0.0,0.001304,5588492,5606131,5589048,...,5598589,5598942,2,17639,3880,5589034,5589305,271,171,ID62223
1,chr1,5589142,5589143,Oprk1,+,0.0,0.003646,5588492,5606131,5589048,...,5598589,5598942,2,17639,3880,5589034,5589305,271,171,ID62223
2,chr1,5589157,5589158,Oprk1,+,0.0,0.001348,5588492,5606131,5589048,...,5598589,5598942,2,17639,3880,5589034,5589305,271,171,ID62223
3,chr1,5598605,5598606,Oprk1,+,0.0,0.011812,5588492,5606131,5589048,...,5598589,5598942,2,17639,3880,5598589,5598942,353,442,ID62222
4,chr1,5598611,5598612,Oprk1,+,0.0,0.004148,5588492,5606131,5589048,...,5598589,5598942,2,17639,3880,5598589,5598942,353,442,ID62222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259217,chrY,70301630,70301631,Gm29644,-,0.0,0.000000,70271305,70303343,70301098,...,70301089,70301817,3,32038,234,70301089,70301817,728,379,ID101313
259218,chrY,70301670,70301671,Gm29644,-,0.0,0.000000,70271305,70303343,70301098,...,70301089,70301817,3,32038,234,70301089,70301817,728,379,ID101313
259219,chrY,70301697,70301698,Gm29644,-,0.0,0.002505,70271305,70303343,70301098,...,70301089,70301817,3,32038,234,70301089,70301817,728,379,ID101313
259220,chrY,70301752,70301753,Gm29644,-,0.0,0.002935,70271305,70303343,70301098,...,70301089,70301817,3,32038,234,70301089,70301817,728,379,ID101313
259221,chrY,70301773,70301774,Gm29644,-,0.0,0.003907,70271305,70303343,70301098,...,70301089,70301817,3,32038,234,70301089,70301817,728,379,ID101313

In [33]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [34]:
Positive["m6APosition"] = Positive["m6AStart"] - Positive["exonStart"]
Negative["m6APosition"] = Negative["exonEnd"] - Negative["m6AEnd"]

In [35]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [36]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,SecondToLastExonEnd,Group,GeneLength,LastExonLength,exonStart,exonEnd,ExonLength,Start,ID,m6APosition
0,chr1,5589121,5589122,Oprk1,+,0.0,0.001304,5588492,5606131,5589048,...,5598942,2,17639,3880,5589034,5589305,271,171,ID62223,87
1,chr1,5589142,5589143,Oprk1,+,0.0,0.003646,5588492,5606131,5589048,...,5598942,2,17639,3880,5589034,5589305,271,171,ID62223,108
2,chr1,5589157,5589158,Oprk1,+,0.0,0.001348,5588492,5606131,5589048,...,5598942,2,17639,3880,5589034,5589305,271,171,ID62223,123
3,chr1,5598605,5598606,Oprk1,+,0.0,0.011812,5588492,5606131,5589048,...,5598942,2,17639,3880,5598589,5598942,353,442,ID62222,16
4,chr1,5598611,5598612,Oprk1,+,0.0,0.004148,5588492,5606131,5589048,...,5598942,2,17639,3880,5598589,5598942,353,442,ID62222,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259217,chrY,70301630,70301631,Gm29644,-,0.0,0.000000,70271305,70303343,70301098,...,70301817,3,32038,234,70301089,70301817,728,379,ID101313,186
259218,chrY,70301670,70301671,Gm29644,-,0.0,0.000000,70271305,70303343,70301098,...,70301817,3,32038,234,70301089,70301817,728,379,ID101313,146
259219,chrY,70301697,70301698,Gm29644,-,0.0,0.002505,70271305,70303343,70301098,...,70301817,3,32038,234,70301089,70301817,728,379,ID101313,119
259220,chrY,70301752,70301753,Gm29644,-,0.0,0.002935,70271305,70303343,70301098,...,70301817,3,32038,234,70301089,70301817,728,379,ID101313,64
259221,chrY,70301773,70301774,Gm29644,-,0.0,0.003907,70271305,70303343,70301098,...,70301817,3,32038,234,70301089,70301817,728,379,ID101313,43

In [37]:
Data = Data.sort_values(by=["ID","m6APosition"], axis=0, ascending=[True,True])
Data = Data.reset_index(drop = True)

In [38]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,SecondToLastExonEnd,Group,GeneLength,LastExonLength,exonStart,exonEnd,ExonLength,Start,ID,m6APosition
0,chr7,89935957,89935958,l7Rn6,-,0.000000,0.005398,89917528,89941185,89918952,...,89920191,2,23657,1479,89935726,89935964,238,217,ID0,6
1,chr7,89935917,89935918,l7Rn6,-,0.000000,0.056951,89917528,89941185,89918952,...,89920191,2,23657,1479,89935726,89935964,238,217,ID0,46
2,chr7,89935893,89935894,l7Rn6,-,0.000000,0.008117,89917528,89941185,89918952,...,89920191,2,23657,1479,89935726,89935964,238,217,ID0,70
3,chr7,89935867,89935868,l7Rn6,-,0.000000,0.018465,89917528,89941185,89918952,...,89920191,2,23657,1479,89935726,89935964,238,217,ID0,96
4,chr11,109365589,109365590,Gna13,+,0.000000,0.025764,109362830,109401369,109362973,...,109392396,2,38539,5456,109365535,109365762,227,426,ID100014,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259217,chr9,107615677,107615678,Gnai2,-,0.322802,0.812709,107614124,107635367,107615634,...,107615825,3,21243,974,107615611,107615825,214,1027,ID99991,147
259218,chr9,107615662,107615663,Gnai2,-,0.179099,0.587262,107614124,107635367,107615634,...,107615825,3,21243,974,107615611,107615825,214,1027,ID99991,162
259219,chr9,107615659,107615660,Gnai2,-,0.084676,0.385677,107614124,107635367,107615634,...,107615825,3,21243,974,107615611,107615825,214,1027,ID99991,165
259220,chr9,107615650,107615651,Gnai2,-,0.227262,0.631648,107614124,107635367,107615634,...,107615825,3,21243,974,107615611,107615825,214,1027,ID99991,174
259221,chr9,107615623,107615624,Gnai2,-,0.089047,0.462114,107614124,107635367,107615634,...,107615825,3,21243,974,107615611,107615825,214,1027,ID99991,201

In [39]:
Data["Probabilty"] = Data["IL"] - Data["WT"]

### Heatmap

In [40]:
ID = Data["ID"].to_list()
ID = list(set(ID))

In [41]:
Heatmap = pd.DataFrame({"Index":range(0, 200, 5)})

In [42]:
for i in range(len(ID)):
    df = Data[Data["ID"]==ID[i]]
    df = df.reset_index(drop = True)
    
    Position = df["m6APosition"].to_list()
    Prob = df["WT"].to_list() # WT
    # Prob = df["IL"].to_list() # Mutation
    Dict = dict(zip(Position,Prob))
    
    
    Value = []
    for j in range(40):
        Interval = [k for k in range(j*5,(j+1)*5,1)]
        
        List = []
        for num in Interval:
            if num in Dict.keys():
                List.append(Dict[num])
            if num not in Dict.keys():
                List.append(0)
        Value.append(sum(List)/5)
    
    df = pd.DataFrame({ID[i]:Value})
    Heatmap = pd.merge(Heatmap, df, left_index=True, right_index=True, how='outer')

In [43]:
Heatmap

,Index,ID4467,ID120346,ID94521,ID92779,ID46307,ID152637,ID133281,ID131620,ID103360,...,ID6984,ID44092,ID69395,ID18914,ID70519,ID156188,ID78108,ID84891,ID105036,ID142956
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000557,0.0,0.0
1,5,0.000000,0.000000,0.000000,0.000230,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
2,10,0.000000,0.000000,0.000000,0.000281,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
3,15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
4,20,0.000000,0.000000,0.000000,0.000000,0.000237,0.000000,0.0,0.000000,0.008921,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
5,25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
6,30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
7,35,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
8,40,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000613,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
9,45,0.000000,0.000000,0.000000,0.000724,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
10,50,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
11,55,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
12,60,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000251,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
13,65,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
14,70,0.000000,0.000000,0.000000,0.000000,0.114424,0.000000,0.0,0.000000,0.049381,...,0.000873,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
15,75,0.000000,0.000211,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
16,80,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004332,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
17,85,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.001625,0.0,0.0,0.000000,0.000000,0.0,0.0
18,90,0.000000,0.000000,0.000000,0.000000,0.075758,0.000000,0.0,0.000000,0.000000,...,0.001187,0.0,0.000000,0.000000,0.0,0.0,0.000367,0.000249,0.0,0.0
19,95,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
20,100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000289,0.0,0.0
21,105,0.000000,0.000000,0.000000,0.000000,0.000000,0.000399,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
22,110,0.000000,0.000000,0.000000,0.000000,0.017010,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
23,115,0.006907,0.000000,0.000000,0.000000,0.005008,0.000000,0.0,0.000000,0.000000,...,0.000881,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000721,0.0,0.0
24,120,0.000000,0.000000,0.003484,0.000000,0.022906,0.000000,0.0,0.000000,0.000572,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
25,125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
26,130,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.001557,0.0,0.0
27,135,0.000000,0.000000,0.000000,0.000000,0.000000,0.000895,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
28,140,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.001604,0.0,0.0
29,145,0.000000,0.000000,0.000000,0.000000,0.000000,0.000835,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000599,0.0,0.0
30,150,0.000592,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.001777,0.001800,0.0,0.0
31,155,0.000000,0.000000,0.000000,0.000000,0.001998,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
32,160,0.000000,0.000000,0.007934,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.001144,0.0,0.0
33,165,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.001042,0.0,0.0
34,170,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
35,175,0.000000,0.000000,0.000467,0.000210,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.001288,0.0,0.0
36,180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000767,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
37,185,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.001107,0.0,0.0
38,190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000279,0.005055,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
39,195,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000710,0.000000,0.0,0.0

In [44]:
Heatmap.to_csv("Heatmap/mm10_Heatmap_iM6A_WT_LongInternalExonStart_200.csv", index=0)