In [1]:
from Bio import SeqIO
from Bio.Seq import Seq
import numpy as np
import pandas as pd
import random

In [2]:
meta=[]
sequence=[]

In [3]:
seq = ('Temp/MultiExon.txt')

In [4]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [5]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [6]:
Fasta

,Meta,Sequence
0,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...
17577,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [7]:
Data = pd.read_csv("Temp/MultiExon.csv")

In [8]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2
...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2

In [9]:
Result = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [10]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Meta,Sequence
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [11]:
Result.drop(["Meta","Sequence"], axis=1, inplace=True)

In [12]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2
...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2

In [13]:
Data = Result

In [14]:
LongInternalExon = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Figure1/mm10_InternalExon.csv")

In [15]:
LongInternalExon

        chrom  exonStart    exonEnd           name strand  ExonLength  Start
0        chr7   89935726   89935964          l7Rn6      -         238    217
1        chr7   89923563   89923715          l7Rn6      -         152    455
2        chr7   89920072   89920191          l7Rn6      -         119    607
3        chr2  155045611  155045781              a      +         170    111
4        chr2  155047675  155047740              a      +          65    281
...       ...        ...        ...            ...    ...         ...    ...
163855  chr18   38258269   38258362  0610009O20Rik      +          93   1179
163856  chr18   38254279   38254368  0610009O20Rik      +          89    691
163857  chr12   85822087   85822248  0610007P14Rik      -         161     52
163858  chr12   85816315   85816434  0610007P14Rik      -         119    304
163859  chr12   85819478   85819569  0610007P14Rik      -          91    213

[163860 rows x 7 columns]

In [16]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["ID"] = "ID"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [17]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2
3,chr2,155045611,155045781,a,+,170,111,ID3
4,chr2,155047675,155047740,a,+,65,281,ID4
...,...,...,...,...,...,...,...,...
163855,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855
163856,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856
163857,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857
163858,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858
163859,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859

In [18]:
# LongInternalExon = LongInternalExon[LongInternalExon["ExonLength"]>=50]
# LongInternalExon = LongInternalExon.reset_index(drop = True)

In [19]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2
3,chr2,155045611,155045781,a,+,170,111,ID3
4,chr2,155047675,155047740,a,+,65,281,ID4
...,...,...,...,...,...,...,...,...
163855,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855
163856,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856
163857,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857
163858,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858
163859,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859

In [20]:
LongInternalExon = LongInternalExon.iloc[40000:80000]

In [21]:
LongInternalExon

       chrom  exonStart   exonEnd   name strand  ExonLength  Start       ID
40000  chr12   72219256  72219395   Rtn1      -         139   2488  ID40000
40001  chr12   72217418  72217488   Rtn1      -          70   2627  ID40001
40002  chr12   72216770  72216829   Rtn1      -          59   2744  ID40002
40003  chr12   72216914  72216961   Rtn1      -          47   2697  ID40003
40004  chr10   67987306  67987503  Rtkn2      +         197    215  ID40004
...      ...        ...       ...    ...    ...         ...    ...      ...
79995  chr19   45021386  45021836  Lzts2      +         450    148  ID79995
79996  chr19   45024718  45024979  Lzts2      +         261   1261  ID79996
79997   chr8   69138351  69139149  Lzts1      -         798    345  ID79997
79998  chr16   17520435  17520637  Lztr1      +         202    842  ID79998
79999  chr16   17522967  17523137  Lztr1      +         170   1666  ID79999

[40000 rows x 8 columns]

In [22]:
M6A = pd.read_csv("/home/morgenlefay/iM6A/Chapter3/Figure1/iM6A_Mouse_IL.csv")

In [23]:
M6A

        chrom     Start       End     name strand        WT        IL
0        chr1   3214485   3214486     Xkr4      -  0.000000  0.000000
1        chr1   3214554   3214555     Xkr4      -  0.000000  0.000000
2        chr1   3214662   3214663     Xkr4      -  0.199716  0.199716
3        chr1   3214724   3214725     Xkr4      -  0.152102  0.152101
4        chr1   3214732   3214733     Xkr4      -  0.652838  0.652836
...       ...       ...       ...      ...    ...       ...       ...
1769220  chrY  10433185  10433186  Gm28510      +  0.000000  0.001592
1769221  chrY  51866751  51866752  Gm20920      +  0.000000  0.001402
1769222  chrY  64487901  64487902  Gm20908      +  0.000000  0.001402
1769223  chrY  74478146  74478147  Gm29110      +  0.000000  0.077403
1769224  chrY  75203467  75203468  Gm20814      +  0.000000  0.072174

[1769225 rows x 7 columns]

In [24]:
M6A.columns = ["chrom","m6AStart","m6AEnd","name","strand","WT","IL"]

In [25]:
Data = pd.merge(M6A, Data, how="inner", on=["chrom","name","strand"])

In [26]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group
0,chr1,3214485,3214486,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2
1,chr1,3214554,3214555,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2
2,chr1,3214662,3214663,Xkr4,-,0.199716,0.199716,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2
3,chr1,3214724,3214725,Xkr4,-,0.152102,0.152101,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2
4,chr1,3214732,3214733,Xkr4,-,0.652838,0.652836,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589988,chrY,90793403,90793404,Erdr1,+,0.232404,0.259672,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2
1589989,chrY,90793407,90793408,Erdr1,+,0.218156,0.176900,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2
1589990,chrY,90816374,90816375,Erdr1,+,0.000000,0.020307,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2
1589991,chrY,90816408,90816409,Erdr1,+,0.000000,0.003735,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2
1589992,chrY,90816418,90816419,Erdr1,+,0.000000,0.002582,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2

In [27]:
Data = pd.merge(Data, LongInternalExon, how="inner", on=["chrom","name","strand"])

In [28]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,exonStart,exonEnd,ExonLength,Start,ID
0,chr1,4290854,4290855,Rp1,-,0.0,0.0,4290845,4409241,4292980,4409187,4,"4290845,4351909,4352201,4409169,","4293012,4352081,4352837,4409241,",2,4352201,4352837,636,72,ID41267
1,chr1,4290854,4290855,Rp1,-,0.0,0.0,4290845,4409241,4292980,4409187,4,"4290845,4351909,4352201,4409169,","4293012,4352081,4352837,4409241,",2,4351909,4352081,172,708,ID41268
2,chr1,4290870,4290871,Rp1,-,0.0,0.0,4290845,4409241,4292980,4409187,4,"4290845,4351909,4352201,4409169,","4293012,4352081,4352837,4409241,",2,4352201,4352837,636,72,ID41267
3,chr1,4290870,4290871,Rp1,-,0.0,0.0,4290845,4409241,4292980,4409187,4,"4290845,4351909,4352201,4409169,","4293012,4352081,4352837,4409241,",2,4351909,4352081,172,708,ID41268
4,chr1,4290905,4290906,Rp1,-,0.0,0.0,4290845,4409241,4292980,4409187,4,"4290845,4351909,4352201,4409169,","4293012,4352081,4352837,4409241,",2,4352201,4352837,636,72,ID41267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5340151,chrY,2841826,2841827,Rbmy,+,0.0,0.0,2830679,2841851,2833558,2841497,9,"2830679,2833554,2834114,2835330,2837127,283807...","2830751,2833667,2834221,2835508,2837280,283818...",2,2833554,2833667,113,72,ID44238
5340152,chrY,2841826,2841827,Rbmy,+,0.0,0.0,2830679,2841851,2833558,2841497,9,"2830679,2833554,2834114,2835330,2837127,283807...","2830751,2833667,2834221,2835508,2837280,283818...",2,2838078,2838187,109,623,ID44239
5340153,chrY,2841826,2841827,Rbmy,+,0.0,0.0,2830679,2841851,2833558,2841497,9,"2830679,2833554,2834114,2835330,2837127,283807...","2830751,2833667,2834221,2835508,2837280,283818...",2,2834114,2834221,107,185,ID44240
5340154,chrY,2841826,2841827,Rbmy,+,0.0,0.0,2830679,2841851,2833558,2841497,9,"2830679,2833554,2834114,2835330,2837127,283807...","2830751,2833667,2834221,2835508,2837280,283818...",2,2840910,2840999,89,813,ID44241
5340155,chrY,2841826,2841827,Rbmy,+,0.0,0.0,2830679,2841851,2833558,2841497,9,"2830679,2833554,2834114,2835330,2837127,283807...","2830751,2833667,2834221,2835508,2837280,283818...",2,2839554,2839635,81,732,ID44242

In [29]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [30]:
Positive = Positive[(Positive["m6AStart"]>=Positive["exonStart"]) & (Positive["m6AEnd"]<=Positive["exonEnd"])]
Negative = Negative[(Negative["m6AStart"]>=Negative["exonStart"]) & (Negative["m6AEnd"]<=Negative["exonEnd"])]

In [31]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [32]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,exonStart,exonEnd,ExonLength,Start,ID
0,chr1,5589121,5589122,Oprk1,+,0.0,0.001304,5588492,5606131,5589048,5602784,4,"5588492,5589034,5598589,5602251,","5588663,5589305,5598942,5606131,",2,5589034,5589305,271,171,ID62223
1,chr1,5589142,5589143,Oprk1,+,0.0,0.003646,5588492,5606131,5589048,5602784,4,"5588492,5589034,5598589,5602251,","5588663,5589305,5598942,5606131,",2,5589034,5589305,271,171,ID62223
2,chr1,5589157,5589158,Oprk1,+,0.0,0.001348,5588492,5606131,5589048,5602784,4,"5588492,5589034,5598589,5602251,","5588663,5589305,5598942,5606131,",2,5589034,5589305,271,171,ID62223
3,chr1,5598605,5598606,Oprk1,+,0.0,0.011812,5588492,5606131,5589048,5602784,4,"5588492,5589034,5598589,5602251,","5588663,5589305,5598942,5606131,",2,5598589,5598942,353,442,ID62222
4,chr1,5598611,5598612,Oprk1,+,0.0,0.004148,5588492,5606131,5589048,5602784,4,"5588492,5589034,5598589,5602251,","5588663,5589305,5598942,5606131,",2,5598589,5598942,353,442,ID62222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186527,chrX,168671144,168671145,Msl3,-,0.0,0.009759,168654116,168673898,168654868,168673735,12,"168654116,168656962,168658614,168662430,168664...","168654968,168657047,168658714,168662540,168664...",2,168671142,168671243,101,267,ID73204
186528,chrX,168671150,168671151,Msl3,-,0.0,0.023945,168654116,168673898,168654868,168673735,12,"168654116,168656962,168658614,168662430,168664...","168654968,168657047,168658714,168662540,168664...",2,168671142,168671243,101,267,ID73204
186529,chrX,168671195,168671196,Msl3,-,0.0,0.007691,168654116,168673898,168654868,168673735,12,"168654116,168656962,168658614,168662430,168664...","168654968,168657047,168658714,168662540,168664...",2,168671142,168671243,101,267,ID73204
186530,chrX,168671839,168671840,Msl3,-,0.0,0.003934,168654116,168673898,168654868,168673735,12,"168654116,168656962,168658614,168662430,168664...","168654968,168657047,168658714,168662540,168664...",2,168671794,168671890,96,171,ID73206
186531,chrX,168671865,168671866,Msl3,-,0.0,0.032765,168654116,168673898,168654868,168673735,12,"168654116,168656962,168658614,168662430,168664...","168654968,168657047,168658714,168662540,168664...",2,168671794,168671890,96,171,ID73206

In [33]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [34]:
Positive["m6APosition"] = Positive["m6AStart"] - Positive["exonStart"]
Negative["m6APosition"] = Negative["exonEnd"] - Negative["m6AEnd"]

In [35]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [36]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonCount,exonStarts,exonEnds,Group,exonStart,exonEnd,ExonLength,Start,ID,m6APosition
0,chr1,5589121,5589122,Oprk1,+,0.0,0.001304,5588492,5606131,5589048,...,4,"5588492,5589034,5598589,5602251,","5588663,5589305,5598942,5606131,",2,5589034,5589305,271,171,ID62223,87
1,chr1,5589142,5589143,Oprk1,+,0.0,0.003646,5588492,5606131,5589048,...,4,"5588492,5589034,5598589,5602251,","5588663,5589305,5598942,5606131,",2,5589034,5589305,271,171,ID62223,108
2,chr1,5589157,5589158,Oprk1,+,0.0,0.001348,5588492,5606131,5589048,...,4,"5588492,5589034,5598589,5602251,","5588663,5589305,5598942,5606131,",2,5589034,5589305,271,171,ID62223,123
3,chr1,5598605,5598606,Oprk1,+,0.0,0.011812,5588492,5606131,5589048,...,4,"5588492,5589034,5598589,5602251,","5588663,5589305,5598942,5606131,",2,5598589,5598942,353,442,ID62222,16
4,chr1,5598611,5598612,Oprk1,+,0.0,0.004148,5588492,5606131,5589048,...,4,"5588492,5589034,5598589,5602251,","5588663,5589305,5598942,5606131,",2,5598589,5598942,353,442,ID62222,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186527,chrX,168671144,168671145,Msl3,-,0.0,0.009759,168654116,168673898,168654868,...,12,"168654116,168656962,168658614,168662430,168664...","168654968,168657047,168658714,168662540,168664...",2,168671142,168671243,101,267,ID73204,98
186528,chrX,168671150,168671151,Msl3,-,0.0,0.023945,168654116,168673898,168654868,...,12,"168654116,168656962,168658614,168662430,168664...","168654968,168657047,168658714,168662540,168664...",2,168671142,168671243,101,267,ID73204,92
186529,chrX,168671195,168671196,Msl3,-,0.0,0.007691,168654116,168673898,168654868,...,12,"168654116,168656962,168658614,168662430,168664...","168654968,168657047,168658714,168662540,168664...",2,168671142,168671243,101,267,ID73204,47
186530,chrX,168671839,168671840,Msl3,-,0.0,0.003934,168654116,168673898,168654868,...,12,"168654116,168656962,168658614,168662430,168664...","168654968,168657047,168658714,168662540,168664...",2,168671794,168671890,96,171,ID73206,50
186531,chrX,168671865,168671866,Msl3,-,0.0,0.032765,168654116,168673898,168654868,...,12,"168654116,168656962,168658614,168662430,168664...","168654968,168657047,168658714,168662540,168664...",2,168671794,168671890,96,171,ID73206,24

In [37]:
# Data.to_csv("iM6A_Mouse_IL_Start.csv", index=0)

In [38]:
# Data = Data[Data["ExonLength"]>=50]

In [39]:
Data = Data.sort_values(by=["ID","m6APosition"], axis=0, ascending=[True,True])
Data = Data.reset_index(drop = True)

In [40]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonCount,exonStarts,exonEnds,Group,exonStart,exonEnd,ExonLength,Start,ID,m6APosition
0,chr12,72219338,72219339,Rtn1,-,0.001834,0.657783,72211751,72409054,72212534,...,9,"72211751,72216770,72216914,72217418,72219256,7...","72212577,72216829,72216961,72217488,72219395,7...",2,72219256,72219395,139,2488,ID40000,56
1,chr12,72219317,72219318,Rtn1,-,0.000000,0.126123,72211751,72409054,72212534,...,9,"72211751,72216770,72216914,72217418,72219256,7...","72212577,72216829,72216961,72217488,72219395,7...",2,72219256,72219395,139,2488,ID40000,77
2,chr12,72219275,72219276,Rtn1,-,0.000000,0.047692,72211751,72409054,72212534,...,9,"72211751,72216770,72216914,72217418,72219256,7...","72212577,72216829,72216961,72217488,72219395,7...",2,72219256,72219395,139,2488,ID40000,119
3,chr12,72217463,72217464,Rtn1,-,0.000000,0.004479,72211751,72409054,72212534,...,9,"72211751,72216770,72216914,72217418,72219256,7...","72212577,72216829,72216961,72217488,72219395,7...",2,72217418,72217488,70,2627,ID40001,24
4,chr12,72217433,72217434,Rtn1,-,0.000000,0.002003,72211751,72409054,72212534,...,9,"72211751,72216770,72216914,72217418,72219256,7...","72212577,72216829,72216961,72217488,72219395,7...",2,72217418,72217488,70,2627,ID40001,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186527,chr16,17520554,17520555,Lztr1,+,0.001868,0.627879,17508967,17526331,17509027,...,21,"17508967,17509625,17512065,17515807,17515973,1...","17509218,17509688,17512122,17515887,17516082,1...",2,17520435,17520637,202,842,ID79998,119
186528,chr16,17520593,17520594,Lztr1,+,0.001090,0.281805,17508967,17526331,17509027,...,21,"17508967,17509625,17512065,17515807,17515973,1...","17509218,17509688,17512122,17515887,17516082,1...",2,17520435,17520637,202,842,ID79998,158
186529,chr16,17520601,17520602,Lztr1,+,0.000000,0.015389,17508967,17526331,17509027,...,21,"17508967,17509625,17512065,17515807,17515973,1...","17509218,17509688,17512122,17515887,17516082,1...",2,17520435,17520637,202,842,ID79998,166
186530,chr16,17520629,17520630,Lztr1,+,0.000000,0.008357,17508967,17526331,17509027,...,21,"17508967,17509625,17512065,17515807,17515973,1...","17509218,17509688,17512122,17515887,17516082,1...",2,17520435,17520637,202,842,ID79998,194
186531,chr16,17522979,17522980,Lztr1,+,0.000000,0.007439,17508967,17526331,17509027,...,21,"17508967,17509625,17512065,17515807,17515973,1...","17509218,17509688,17512122,17515887,17516082,1...",2,17522967,17523137,170,1666,ID79999,12

In [41]:
Data["Probabilty"] = Data["IL"] - Data["WT"]

### Heatmap

In [42]:
ID = Data["ID"].to_list()
ID = list(set(ID))

In [43]:
Heatmap = pd.DataFrame({"Index":range(0, 200, 5)})

In [44]:
for i in range(len(ID)):
    df = Data[Data["ID"]==ID[i]]
    df = df.reset_index(drop = True)
    
    Position = df["m6APosition"].to_list()
    Prob = df["Probabilty"].to_list()
    Dict = dict(zip(Position,Prob))
    
    
    Value = []
    for j in range(40):
        Interval = [k for k in range(j*5,(j+1)*5,1)]
        
        List = []
        for num in Interval:
            if num in Dict.keys():
                List.append(Dict[num])
            if num not in Dict.keys():
                List.append(0)
        Max = max(List)
        Min = min(List)
        
        if abs(Max) >= abs(Min):
            Value.append(Max)
        if abs(Max) < abs(Min):
            Value.append(Min)
    
    df = pd.DataFrame({ID[i]:Value})
    Heatmap = pd.merge(Heatmap, df, left_index=True, right_index=True, how='outer')

In [45]:
Heatmap

,Index,ID59580,ID64939,ID74325,ID68009,ID46034,ID66867,ID73576,ID45661,ID67854,...,ID66561,ID48974,ID68731,ID77697,ID58184,ID72497,ID79589,ID79298,ID57751,ID50430
0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.010571,0.000000,0.000000,0.000000,0.002065
1,5,0.000000,0.000000,0.016843,0.000000,0.000000,0.006386,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.073066,0.020679,0.000000,0.000000,0.000000,0.000000
2,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.362776,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,15,0.000000,0.762861,0.000000,0.005891,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.244336,0.000000,0.000000,0.000000
5,25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.258431,0.000000,0.000000,0.380005,0.000000,0.000000
6,30,0.106543,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.074789,0.021297,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.191197,0.000000,0.000000,0.000000
7,35,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,40,0.038843,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.032870,0.000000,0.000000,0.178206,0.000000,0.000000,0.000000
9,45,0.000000,0.673412,0.000000,0.002439,0.129663,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.090465,0.000000,0.000000,0.000000,0.000000,0.000000
10,50,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.108232,0.000000,0.624085,0.000000,0.000000,0.000000,0.145888,0.000000,0.000000,0.000000
11,55,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.162421,0.000000,0.000000,0.000000,0.000000,0.308331,0.000000,0.000000,0.000000,0.000000
12,60,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.017387,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,65,0.000000,0.000000,0.000000,0.000000,0.000000,0.005873,0.000000,0.000000,0.000000,...,0.059512,0.000000,0.000000,0.000000,0.000000,0.000000,0.120100,0.000000,0.000000,0.000000
14,70,0.121716,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,75,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.340187,0.000000,0.000000,0.000000
16,80,0.000000,0.000000,0.000000,0.000000,0.286046,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.106676,0.000000,0.000000,0.000000,0.000000
17,85,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.338108,0.000000,0.522094,0.009763,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,90,0.000000,0.000000,0.000000,0.000000,0.000000,-0.137682,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.451560,0.006180,0.000000,0.058190,0.000000,0.000000,0.000000,0.000000
19,95,0.000000,0.000000,0.005371,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.288523,0.083430,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.002758,0.085742,0.000000,0.000000,0.002539,0.061061
21,105,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.045368,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,110,0.611373,0.000000,0.000000,0.000000,0.000000,0.000000,0.095474,0.000000,0.000000,...,0.070190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,115,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,120,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,130,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.006916,0.103303,0.000000,0.000000,0.000000,0.000000
27,135,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.032020,0.000000,0.000000,0.000000,0.000000
28,140,0.000000,0.000000,0.053943,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.507010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,145,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.103595,0.000000,0.000000,0.000000,0.000000,0.000000
30,150,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,155,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,160,0.000000,0.000000,0.000000,0.000000,0.000000,-0.214983,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,165,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.100629,0.002954,0.000000,0.000000,0.000000,0.000000
34,170,0.000000,0.000000,0.373698,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,175,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.125190,0.000000,0.000000,0.000000,0.000000,0.000000
36,180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.478403,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,185,0.000000,0.000000,0.393446,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
39,195,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [46]:
Heatmap.to_csv("mm10_Heatmap_LongInternalExonStart_2.csv", index=0)