In [1]:
from Bio import SeqIO
from Bio.Seq import Seq
import numpy as np
import pandas as pd
import random

In [2]:
meta=[]
sequence=[]

In [3]:
seq = ('Temp/MultiExon.txt')

In [4]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [5]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [6]:
Fasta

,Meta,Sequence
0,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...
17577,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [7]:
Data = pd.read_csv("Temp/MultiExon.csv")

In [8]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2
...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2

In [9]:
Result = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [10]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,Meta,Sequence
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2,chr1:134199224-134235431(-),ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2,chr1:8361474-9299238(-),CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2,chr1:25067549-25829707(-),GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2,chr1:33453809-33669795(-),CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2,chr1:58711559-58758884(+),GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGGTACGTGACCTGC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2,chr19:60198585-60226697(-),GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2,chr19:60761115-60790693(-),GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2,chr19:60838747-60861479(-),GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2,chr19:60864050-60874556(-),AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2,chr19:61224401-61228418(-),GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

In [11]:
Result.drop(["Meta","Sequence"], axis=1, inplace=True)

In [12]:
Result

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",2
...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",2

In [13]:
Data = Result

In [14]:
LongInternalExon = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Figure1/mm10_InternalExon.csv")

In [15]:
LongInternalExon

        chrom  exonStart    exonEnd           name strand  ExonLength  Start
0        chr7   89935726   89935964          l7Rn6      -         238    217
1        chr7   89923563   89923715          l7Rn6      -         152    455
2        chr7   89920072   89920191          l7Rn6      -         119    607
3        chr2  155045611  155045781              a      +         170    111
4        chr2  155047675  155047740              a      +          65    281
...       ...        ...        ...            ...    ...         ...    ...
163855  chr18   38258269   38258362  0610009O20Rik      +          93   1179
163856  chr18   38254279   38254368  0610009O20Rik      +          89    691
163857  chr12   85822087   85822248  0610007P14Rik      -         161     52
163858  chr12   85816315   85816434  0610007P14Rik      -         119    304
163859  chr12   85819478   85819569  0610007P14Rik      -          91    213

[163860 rows x 7 columns]

In [16]:
LongInternalExon = LongInternalExon.reset_index(drop = False)
LongInternalExon["index"] = LongInternalExon["index"].astype(str)
LongInternalExon["ID"] = "ID"+ LongInternalExon["index"]
LongInternalExon.drop(["index"], axis=1,inplace=True)

In [17]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2
3,chr2,155045611,155045781,a,+,170,111,ID3
4,chr2,155047675,155047740,a,+,65,281,ID4
...,...,...,...,...,...,...,...,...
163855,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855
163856,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856
163857,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857
163858,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858
163859,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859

In [18]:
# LongInternalExon = LongInternalExon[LongInternalExon["ExonLength"]>=50]
# LongInternalExon = LongInternalExon.reset_index(drop = True)

In [19]:
LongInternalExon

,chrom,exonStart,exonEnd,name,strand,ExonLength,Start,ID
0,chr7,89935726,89935964,l7Rn6,-,238,217,ID0
1,chr7,89923563,89923715,l7Rn6,-,152,455,ID1
2,chr7,89920072,89920191,l7Rn6,-,119,607,ID2
3,chr2,155045611,155045781,a,+,170,111,ID3
4,chr2,155047675,155047740,a,+,65,281,ID4
...,...,...,...,...,...,...,...,...
163855,chr18,38258269,38258362,0610009O20Rik,+,93,1179,ID163855
163856,chr18,38254279,38254368,0610009O20Rik,+,89,691,ID163856
163857,chr12,85822087,85822248,0610007P14Rik,-,161,52,ID163857
163858,chr12,85816315,85816434,0610007P14Rik,-,119,304,ID163858
163859,chr12,85819478,85819569,0610007P14Rik,-,91,213,ID163859

In [20]:
LongInternalExon = LongInternalExon.iloc[0:40000]

In [21]:
LongInternalExon

       chrom  exonStart    exonEnd   name strand  ExonLength  Start       ID
0       chr7   89935726   89935964  l7Rn6      -         238    217      ID0
1       chr7   89923563   89923715  l7Rn6      -         152    455      ID1
2       chr7   89920072   89920191  l7Rn6      -         119    607      ID2
3       chr2  155045611  155045781      a      +         170    111      ID3
4       chr2  155047675  155047740      a      +          65    281      ID4
...      ...        ...        ...    ...    ...         ...    ...      ...
39995   chr7   19294418   19294465   Rtn2      +          47   1401  ID39995
39996   chr7   19286534   19286579   Rtn2      +          45    204  ID39996
39997  chr12   72308155   72308929   Rtn1      -         774    744  ID39997
39998  chr12   72303656   72304418   Rtn1      -         762   1518  ID39998
39999  chr12   72223331   72223539   Rtn1      -         208   2280  ID39999

[40000 rows x 8 columns]

In [22]:
M6A = pd.read_csv("/home/morgenlefay/iM6A/Chapter3/Figure1/iM6A_Mouse_IL.csv")

In [23]:
M6A

        chrom     Start       End     name strand        WT        IL
0        chr1   3214485   3214486     Xkr4      -  0.000000  0.000000
1        chr1   3214554   3214555     Xkr4      -  0.000000  0.000000
2        chr1   3214662   3214663     Xkr4      -  0.199716  0.199716
3        chr1   3214724   3214725     Xkr4      -  0.152102  0.152101
4        chr1   3214732   3214733     Xkr4      -  0.652838  0.652836
...       ...       ...       ...      ...    ...       ...       ...
1769220  chrY  10433185  10433186  Gm28510      +  0.000000  0.001592
1769221  chrY  51866751  51866752  Gm20920      +  0.000000  0.001402
1769222  chrY  64487901  64487902  Gm20908      +  0.000000  0.001402
1769223  chrY  74478146  74478147  Gm29110      +  0.000000  0.077403
1769224  chrY  75203467  75203468  Gm20814      +  0.000000  0.072174

[1769225 rows x 7 columns]

In [24]:
M6A.columns = ["chrom","m6AStart","m6AEnd","name","strand","WT","IL"]

In [25]:
Data = pd.merge(M6A, Data, how="inner", on=["chrom","name","strand"])

In [26]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group
0,chr1,3214485,3214486,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2
1,chr1,3214554,3214555,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2
2,chr1,3214662,3214663,Xkr4,-,0.199716,0.199716,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2
3,chr1,3214724,3214725,Xkr4,-,0.152102,0.152101,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2
4,chr1,3214732,3214733,Xkr4,-,0.652838,0.652836,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589988,chrY,90793403,90793404,Erdr1,+,0.232404,0.259672,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2
1589989,chrY,90793407,90793408,Erdr1,+,0.218156,0.176900,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2
1589990,chrY,90816374,90816375,Erdr1,+,0.000000,0.020307,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2
1589991,chrY,90816408,90816409,Erdr1,+,0.000000,0.003735,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2
1589992,chrY,90816418,90816419,Erdr1,+,0.000000,0.002582,90785441,90816464,90785670,90816447,4,"90785441,90793295,90816348,90816435,","90785979,90793417,90816433,90816464,",2

In [27]:
Data = pd.merge(Data, LongInternalExon, how="inner", on=["chrom","name","strand"])

In [28]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,exonStart,exonEnd,ExonLength,Start,ID
0,chr1,3214485,3214486,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,3421701,3421901,200,947,ID3950
1,chr1,3214554,3214555,Xkr4,-,0.000000,0.000000,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,3421701,3421901,200,947,ID3950
2,chr1,3214662,3214663,Xkr4,-,0.199716,0.199716,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,3421701,3421901,200,947,ID3950
3,chr1,3214724,3214725,Xkr4,-,0.152102,0.152101,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,3421701,3421901,200,947,ID3950
4,chr1,3214732,3214733,Xkr4,-,0.652838,0.652836,3214481,3671498,3216021,3671348,3,"3214481,3421701,3670551,","3216968,3421901,3671498,",2,3421701,3421901,200,947,ID3950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5730887,chrY,57213357,57213358,Sly,+,0.000000,0.000000,57187205,57213362,57188630,57213167,10,"57187205,57188616,57194076,57194790,57201821,5...","57187249,57188748,57194143,57194825,57201888,5...",2,57212679,57212778,99,598,ID30173
5730888,chrY,57213357,57213358,Sly,+,0.000000,0.000000,57187205,57213362,57188630,57213167,10,"57187205,57188616,57194076,57194790,57201821,5...","57187249,57188748,57194143,57194825,57201888,5...",2,57194076,57194143,67,176,ID30174
5730889,chrY,57213357,57213358,Sly,+,0.000000,0.000000,57187205,57213362,57188630,57213167,10,"57187205,57188616,57194076,57194790,57201821,5...","57187249,57188748,57194143,57194825,57201888,5...",2,57201821,57201888,67,278,ID30175
5730890,chrY,57213357,57213358,Sly,+,0.000000,0.000000,57187205,57213362,57188630,57213167,10,"57187205,57188616,57194076,57194790,57201821,5...","57187249,57188748,57194143,57194825,57201888,5...",2,57194790,57194825,35,243,ID30176
5730891,chrY,57213357,57213358,Sly,+,0.000000,0.000000,57187205,57213362,57188630,57213167,10,"57187205,57188616,57194076,57194790,57201821,5...","57187249,57188748,57194143,57194825,57201888,5...",2,57202464,57202499,35,345,ID30177

In [29]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [30]:
Positive = Positive[(Positive["m6AStart"]>=Positive["exonStart"]) & (Positive["m6AEnd"]<=Positive["exonEnd"])]
Negative = Negative[(Negative["m6AStart"]>=Negative["exonStart"]) & (Negative["m6AEnd"]<=Negative["exonEnd"])]

In [31]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [32]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group,exonStart,exonEnd,ExonLength,Start,ID
0,chr1,4886747,4886748,Tcea1,+,0.000000,0.413761,4857813,4897905,4857913,4896364,10,"4857813,4867469,4878026,4886743,4889456,489073...","4857976,4867532,4878132,4886831,4889602,489079...",2,4886743,4886831,88,332,ID21260
1,chr1,4886747,4886748,Tcea1,+,0.000000,0.413761,4857813,4897905,4857913,4896364,10,"4857813,4867469,4878026,4886743,4889456,489073...","4857976,4867532,4878132,4886831,4889602,489079...",2,4886743,4886831,88,332,ID21260
2,chr1,4886754,4886755,Tcea1,+,0.000000,0.073238,4857813,4897905,4857913,4896364,10,"4857813,4867469,4878026,4886743,4889456,489073...","4857976,4867532,4878132,4886831,4889602,489079...",2,4886743,4886831,88,332,ID21260
3,chr1,4886754,4886755,Tcea1,+,0.000000,0.073238,4857813,4897905,4857913,4896364,10,"4857813,4867469,4878026,4886743,4889456,489073...","4857976,4867532,4878132,4886831,4889602,489079...",2,4886743,4886831,88,332,ID21260
4,chr1,4886764,4886765,Tcea1,+,0.000000,0.032163,4857813,4897905,4857913,4896364,10,"4857813,4867469,4878026,4886743,4889456,489073...","4857976,4867532,4878132,4886831,4889602,489079...",2,4886743,4886831,88,332,ID21260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190095,chrY,2121802,2121803,Zfy2,-,0.077583,0.212655,2106174,2170409,2106298,2133445,9,"2106174,2108490,2109888,2116134,2117062,212127...","2107464,2108631,2110011,2116275,2117212,212183...",2,2121278,2121830,552,419,ID889
190096,chrY,2133420,2133421,Zfy2,-,0.000000,0.003184,2106174,2170409,2106298,2133445,9,"2106174,2108490,2109888,2116134,2117062,212127...","2107464,2108631,2110011,2116275,2117212,212183...",2,2133384,2133472,88,331,ID894
190097,chrY,2133454,2133455,Zfy2,-,0.000000,0.201295,2106174,2170409,2106298,2133445,9,"2106174,2108490,2109888,2116134,2117062,212127...","2107464,2108631,2110011,2116275,2117212,212183...",2,2133384,2133472,88,331,ID894
190098,chrY,2133465,2133466,Zfy2,-,0.000000,0.192625,2106174,2170409,2106298,2133445,9,"2106174,2108490,2109888,2116134,2117062,212127...","2107464,2108631,2110011,2116275,2117212,212183...",2,2133384,2133472,88,331,ID894
190099,chrY,2150114,2150115,Zfy2,-,0.000000,0.002797,2106174,2170409,2106298,2133445,9,"2106174,2108490,2109888,2116134,2117062,212127...","2107464,2108631,2110011,2116275,2117212,212183...",2,2150051,2150121,70,261,ID895

In [33]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [34]:
Positive["m6APosition"] = Positive["m6AStart"] - Positive["exonStart"]
Negative["m6APosition"] = Negative["exonEnd"] - Negative["m6AEnd"]

In [35]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [36]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonCount,exonStarts,exonEnds,Group,exonStart,exonEnd,ExonLength,Start,ID,m6APosition
0,chr1,4886747,4886748,Tcea1,+,0.000000,0.413761,4857813,4897905,4857913,...,10,"4857813,4867469,4878026,4886743,4889456,489073...","4857976,4867532,4878132,4886831,4889602,489079...",2,4886743,4886831,88,332,ID21260,4
1,chr1,4886747,4886748,Tcea1,+,0.000000,0.413761,4857813,4897905,4857913,...,10,"4857813,4867469,4878026,4886743,4889456,489073...","4857976,4867532,4878132,4886831,4889602,489079...",2,4886743,4886831,88,332,ID21260,4
2,chr1,4886754,4886755,Tcea1,+,0.000000,0.073238,4857813,4897905,4857913,...,10,"4857813,4867469,4878026,4886743,4889456,489073...","4857976,4867532,4878132,4886831,4889602,489079...",2,4886743,4886831,88,332,ID21260,11
3,chr1,4886754,4886755,Tcea1,+,0.000000,0.073238,4857813,4897905,4857913,...,10,"4857813,4867469,4878026,4886743,4889456,489073...","4857976,4867532,4878132,4886831,4889602,489079...",2,4886743,4886831,88,332,ID21260,11
4,chr1,4886764,4886765,Tcea1,+,0.000000,0.032163,4857813,4897905,4857913,...,10,"4857813,4867469,4878026,4886743,4889456,489073...","4857976,4867532,4878132,4886831,4889602,489079...",2,4886743,4886831,88,332,ID21260,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190095,chrY,2121802,2121803,Zfy2,-,0.077583,0.212655,2106174,2170409,2106298,...,9,"2106174,2108490,2109888,2116134,2117062,212127...","2107464,2108631,2110011,2116275,2117212,212183...",2,2121278,2121830,552,419,ID889,27
190096,chrY,2133420,2133421,Zfy2,-,0.000000,0.003184,2106174,2170409,2106298,...,9,"2106174,2108490,2109888,2116134,2117062,212127...","2107464,2108631,2110011,2116275,2117212,212183...",2,2133384,2133472,88,331,ID894,51
190097,chrY,2133454,2133455,Zfy2,-,0.000000,0.201295,2106174,2170409,2106298,...,9,"2106174,2108490,2109888,2116134,2117062,212127...","2107464,2108631,2110011,2116275,2117212,212183...",2,2133384,2133472,88,331,ID894,17
190098,chrY,2133465,2133466,Zfy2,-,0.000000,0.192625,2106174,2170409,2106298,...,9,"2106174,2108490,2109888,2116134,2117062,212127...","2107464,2108631,2110011,2116275,2117212,212183...",2,2133384,2133472,88,331,ID894,6
190099,chrY,2150114,2150115,Zfy2,-,0.000000,0.002797,2106174,2170409,2106298,...,9,"2106174,2108490,2109888,2116134,2117062,212127...","2107464,2108631,2110011,2116275,2117212,212183...",2,2150051,2150121,70,261,ID895,6

In [37]:
# Data.to_csv("iM6A_Mouse_IL_Start.csv", index=0)

In [38]:
# Data = Data[Data["ExonLength"]>=50]

In [39]:
Data = Data.sort_values(by=["ID","m6APosition"], axis=0, ascending=[True,True])
Data = Data.reset_index(drop = True)

In [40]:
Data

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonCount,exonStarts,exonEnds,Group,exonStart,exonEnd,ExonLength,Start,ID,m6APosition
0,chr7,89935957,89935958,l7Rn6,-,0.000000,0.005398,89917528,89941185,89918952,...,5,"89917528,89920072,89923563,89935726,89940968,","89919007,89920191,89923715,89935964,89941185,",2,89935726,89935964,238,217,ID0,6
1,chr7,89935917,89935918,l7Rn6,-,0.000000,0.056951,89917528,89941185,89918952,...,5,"89917528,89920072,89923563,89935726,89940968,","89919007,89920191,89923715,89935964,89941185,",2,89935726,89935964,238,217,ID0,46
2,chr7,89935893,89935894,l7Rn6,-,0.000000,0.008117,89917528,89941185,89918952,...,5,"89917528,89920072,89923563,89935726,89940968,","89919007,89920191,89923715,89935964,89941185,",2,89935726,89935964,238,217,ID0,70
3,chr7,89935867,89935868,l7Rn6,-,0.000000,0.018465,89917528,89941185,89918952,...,5,"89917528,89920072,89923563,89935726,89940968,","89919007,89920191,89923715,89935964,89941185,",2,89935726,89935964,238,217,ID0,96
4,chr7,89923670,89923671,l7Rn6,-,0.000000,0.033606,89917528,89941185,89918952,...,5,"89917528,89920072,89923563,89935726,89940968,","89919007,89920191,89923715,89935964,89941185,",2,89923563,89923715,152,455,ID1,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190095,chr13,55076310,55076311,Uimc1,-,0.001979,0.059702,55027879,55100295,55028519,...,15,"55027879,55029415,55030952,55034888,55040544,5...","55028718,55029458,55031016,55035066,55040623,5...",2,55076301,55076407,106,464,ID9998,96
190096,chr13,55056075,55056076,Uimc1,-,0.000000,0.068578,55027879,55100295,55028519,...,15,"55027879,55029415,55030952,55034888,55040544,5...","55028718,55029458,55031016,55035066,55040623,5...",2,55055974,55056078,104,1470,ID9999,2
190097,chr13,55056055,55056056,Uimc1,-,0.000000,0.082933,55027879,55100295,55028519,...,15,"55027879,55029415,55030952,55034888,55040544,5...","55028718,55029458,55031016,55035066,55040623,5...",2,55055974,55056078,104,1470,ID9999,22
190098,chr13,55056047,55056048,Uimc1,-,0.000000,0.128687,55027879,55100295,55028519,...,15,"55027879,55029415,55030952,55034888,55040544,5...","55028718,55029458,55031016,55035066,55040623,5...",2,55055974,55056078,104,1470,ID9999,30
190099,chr13,55056032,55056033,Uimc1,-,0.000000,0.094977,55027879,55100295,55028519,...,15,"55027879,55029415,55030952,55034888,55040544,5...","55028718,55029458,55031016,55035066,55040623,5...",2,55055974,55056078,104,1470,ID9999,45

In [41]:
Data["Probabilty"] = Data["IL"] - Data["WT"]

### Heatmap

In [42]:
ID = Data["ID"].to_list()
ID = list(set(ID))

In [43]:
Heatmap = pd.DataFrame({"Index":range(0, 200, 5)})

In [44]:
for i in range(len(ID)):
    df = Data[Data["ID"]==ID[i]]
    df = df.reset_index(drop = True)
    
    Position = df["m6APosition"].to_list()
    Prob = df["Probabilty"].to_list()
    Dict = dict(zip(Position,Prob))
    
    
    Value = []
    for j in range(40):
        Interval = [k for k in range(j*5,(j+1)*5,1)]
        
        List = []
        for num in Interval:
            if num in Dict.keys():
                List.append(Dict[num])
            if num not in Dict.keys():
                List.append(0)
        Max = max(List)
        Min = min(List)
        
        if abs(Max) >= abs(Min):
            Value.append(Max)
        if abs(Max) < abs(Min):
            Value.append(Min)
    
    df = pd.DataFrame({ID[i]:Value})
    Heatmap = pd.merge(Heatmap, df, left_index=True, right_index=True, how='outer')

In [45]:
Heatmap

,Index,ID795,ID17945,ID37637,ID26065,ID29481,ID22591,ID27047,ID38884,ID11298,...,ID17422,ID34426,ID4556,ID111,ID24475,ID7969,ID39078,ID26233,ID28364,ID19210
0,0,0.000000,0.000000,0.000000,0.046864,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.264024,0.000000,0.785051
1,5,0.000000,0.058270,0.000000,0.012182,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.469454,0.000000,0.160910,0.000000,0.211124,0.000000,0.000000,0.000000,0.000000
3,15,0.000000,0.184945,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.311032,0.000000,0.000000,0.000000,0.000000,0.000000,0.773912
4,20,0.266480,0.000000,0.003890,0.000000,0.000000,0.000000,0.000000,0.000000,0.448054,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.024368,0.000000
5,25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003277,0.000000,...,0.282624,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.147872,0.011455,0.000000
6,30,0.165062,0.000000,0.000000,0.000000,0.000000,0.000000,0.073368,0.000000,0.014471,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.463416
7,35,0.053241,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.437518,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,40,0.000000,0.000000,0.000000,0.000000,0.000000,0.025770,0.000000,0.000000,0.000000,...,0.000000,0.260446,0.363315,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,45,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.180080,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,50,0.064937,0.000000,0.000000,0.000000,0.015057,0.013983,0.000000,0.005327,0.026238,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.032981,0.000000
11,55,0.000000,0.006561,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,60,0.000000,0.000000,0.001027,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,65,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.011868,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,70,0.000000,0.000000,0.000000,0.009220,0.000000,0.007183,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.394859,0.000000,0.000000,0.000000,0.000000,0.453750,0.000000,0.000000
15,75,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,80,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.501709,0.000000,0.000000
17,85,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,90,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.035721,0.000000,0.000000,0.133710,0.000000,0.000000,0.000000,0.000000,0.000000
19,95,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.045905,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,105,0.000000,0.005333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.012167,0.000000,0.000000,0.000000,0.000000,0.000000
22,110,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.013306,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,115,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.012096,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,120,0.000000,0.000000,0.005624,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.077300,0.468691,0.000000,0.000000
25,125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.011638,0.000000,0.000000,0.000000,0.000000,0.000000
26,130,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.006397,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,135,0.000000,0.000000,0.005096,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,140,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005344,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.446386,0.107986,0.000000,0.000000
29,145,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000129,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30,150,0.000000,0.018758,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.003714,0.000000,0.000000,0.000000,0.028780,0.000000,0.000000
31,155,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,160,0.000000,0.006688,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,165,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.003911,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34,170,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.049139,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,175,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36,180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,185,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
39,195,0.000000,0.052939,0.000000,0.000000,0.000000,0.000000,-0.059126,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [46]:
Heatmap.to_csv("mm10_Heatmap_LongInternalExonStart_1.csv", index=0)