## Grab sequence

In [1]:
import pandas as pd

In [2]:
Data = pd.read_csv("/home/morgenlefay/iM6A/Annotation/UniqmRNA_GENCODE_V19com_hg19_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0,ENST00000371037.4,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",0,SGIP1,cmpl,cmpl,"0,1,2,0,0,0,1,0,0,0,1,2,1,1,1,1,0,1,1,2,2,0,2,..."
1,1,ENST00000289877.8,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",0,SLC45A1,cmpl,cmpl,"0,1,1,1,0,1,1,0,"
2,1,ENST00000337132.5,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",0,NECAP2,cmpl,cmpl,"0,2,1,1,2,0,1,2,"
3,1,ENST00000374379.4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",0,CLIC4,cmpl,cmpl,"0,0,2,2,1,0,"
4,1,ENST00000294517.6,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",0,ADC,cmpl,cmpl,"-1,-1,-1,0,0,0,2,2,0,1,0,2,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20680,585,ENST00000400678.3,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,...",0,AC002321.2,cmpl,cmpl,"-1,0,1,2,0,0,0,0,1,"
20681,585,ENST00000400676.3,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,",0,AC002321.1,cmpl,cmpl,"0,0,"
20682,585,ENST00000400710.2,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,",0,AC145205.1,cmpl,cmpl,"0,"
20683,585,ENST00000391571.2,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,",0,AC011841.1,cmpl,cmpl,"0,"
20684,585,ENST00000400848.2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398...",0,KIR2DL2,cmpl,cmpl,"0,1,1,1,1,1,1,2,-1,"

In [4]:
Data.drop([0,11,13,14,15], axis=1, inplace=True)

In [5]:
Data

,1,2,3,4,5,6,7,8,9,10,12
0,ENST00000371037.4,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",SGIP1
1,ENST00000289877.8,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",SLC45A1
2,ENST00000337132.5,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",NECAP2
3,ENST00000374379.4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",CLIC4
4,ENST00000294517.6,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",ADC
...,...,...,...,...,...,...,...,...,...,...,...
20680,ENST00000400678.3,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,...",AC002321.2
20681,ENST00000400676.3,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,",AC002321.1
20682,ENST00000400710.2,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,",AC145205.1
20683,ENST00000391571.2,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,",AC011841.1
20684,ENST00000400848.2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398...",KIR2DL2

In [6]:
Data[1] = Data[12]

In [7]:
Data

,1,2,3,4,5,6,7,8,9,10,12
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",SGIP1
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",SLC45A1
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",NECAP2
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",CLIC4
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",ADC
...,...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,...",AC002321.2
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,",AC002321.1
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,",AC145205.1
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,",AC011841.1
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398...",KIR2DL2

In [8]:
Data.drop([12], axis=1, inplace=True)

In [9]:
Data

,1,2,3,4,5,6,7,8,9,10
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,..."
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398..."

In [10]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]

In [11]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,..."
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398..."

### Select coding genes

In [12]:
idx = (Data["cdsStart"] != Data["cdsEnd"])

In [13]:
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]]

In [14]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,..."
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398..."

### Keep standard chromosomes

In [15]:
Data = Data[:20536]

In [16]:
Data = Data[Data["chrom"] != "chrM"]

In [17]:
Data = Data[Data.exonCount>1]

In [18]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
20531,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5..."
20532,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5..."
20533,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5..."
20534,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,"
20535,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5..."

In [19]:
Group = pd.read_csv("/home/morgenlefay/iM6A/Annotation/HumanGroup.csv")

In [20]:
Group = Group[Group["Group"]!=1]

In [21]:
Group = Group[["name","chrom","strand","txStart","txEnd","LastExonStart","LastExonEnd"]]
Data = pd.merge(Data, Group, how="inner", on=["name","chrom","strand","txStart","txEnd"])

In [22]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",67208755,67213982
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",8403806,8404227
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",16785336,16786573
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",25167263,25170815
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",33585644,33585995
...,...,...,...,...,...,...,...,...,...,...,...,...
18853,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",51017377,51017684
18854,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",51049134,51052409
18855,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",51063449,51063892
18856,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",51183080,51183762
18857,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",51205933,51207302

In [23]:
Data = Data.drop_duplicates(subset=["name"], keep=False)
Data = Data.reset_index(drop=True)

In [24]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",67208755,67213982
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",8403806,8404227
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",16785336,16786573
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",25167263,25170815
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",33585644,33585995
...,...,...,...,...,...,...,...,...,...,...,...,...
18817,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",51017377,51017684
18818,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",51049134,51052409
18819,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",51063449,51063892
18820,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",51183080,51183762
18821,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",51205933,51207302

In [25]:
Data.to_csv("Temp/hg19.csv", index=0)

### Create bed

In [26]:
Bed = Data.iloc[:, [1, 3, 4, 0, 7, 2]]

In [27]:
Bed

       chrom   txStart     txEnd      name  exonCount strand
0       chr1  66999964  67213982     SGIP1         25      +
1       chr1   8384389   8404227   SLC45A1          8      +
2       chr1  16767166  16786573    NECAP2          8      +
3       chr1  25071847  25170815     CLIC4          6      +
4       chr1  33546713  33585995       ADC         12      +
...      ...       ...       ...       ...        ...    ...
18817  chr22  51017377  51021428      CHKB         11      -
18818  chr22  51041561  51052409  MAPK8IP2         10      +
18819  chr22  51063449  51066607      ARSA          9      -
18820  chr22  51176623  51183762       ACR          5      +
18821  chr22  51205933  51222091    RABL2B         10      -

[18822 rows x 6 columns]

In [28]:
Bed.to_csv("Temp/hg19.bed", sep="\t", header=False, index=False)

### Get sequence

In [29]:
!bedtools getfasta -s -bed Temp/hg19.bed -fi /home/morgenlefay/Reference/Fasta/hg19.fa -fo Temp/hg19.txt