### Fasta2CSV

In [1]:
from Bio import SeqIO
from Bio.Seq import Seq
import numpy as np
import pandas as pd
import random

In [2]:
Data = pd.read_csv("Temp/hg19.csv")

In [3]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",67208755,67213982
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",8403806,8404227
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",16785336,16786573
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",25167263,25170815
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",33585644,33585995
...,...,...,...,...,...,...,...,...,...,...,...,...
18817,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",51017377,51017684
18818,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",51049134,51052409
18819,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",51063449,51063892
18820,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",51183080,51183762
18821,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",51205933,51207302

In [4]:
Data["GeneLength"] = Data["txEnd"] - Data["txStart"]

In [5]:
Data = Data[Data["exonCount"]>1]

In [6]:
Data = Data.sort_values(by=["chrom","txStart"], axis=0, ascending=True)
Data = Data.reset_index(drop = True)

In [7]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,GeneLength
0,AL627309.1,chr1,-,134900,139379,138529,139309,2,"134900,137620,","135802,139379,",134900,135802,4479
1,AL669831.1,chr1,-,738531,739137,738531,739137,3,"738531,738787,739120,","738618,738812,739137,",738531,738618,606
2,AL645608.2,chr1,+,818042,819983,818042,819983,3,"818042,819495,819960,","818058,819513,819983,",819960,819983,1941
3,SAMD11,chr1,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838
4,AL645608.1,chr1,-,861263,866445,861263,866445,6,"861263,863254,865555,865665,865989,866425,","861406,863261,865660,865719,865996,866445,",861263,861406,5182
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18817,DAZ3,chrY,-,26909215,26959626,26915080,26959332,19,"26909215,26915045,26919716,26920496,26930283,2...","26911072,26915144,26919751,26920568,26930355,2...",26909215,26911072,50411
18818,DAZ4,chrY,+,26980063,27053183,26980273,27047322,17,"26980063,26986877,26987298,26987950,26988438,2...","26980276,26987024,26987390,26988002,26988502,2...",27051330,27053183,73120
18819,BPY2C,chrY,-,27177047,27198251,27184244,27190170,9,"27177047,27177463,27184138,27184955,27187915,2...","27177369,27177588,27184263,27185061,27188033,2...",27177047,27177369,21204
18820,CDY1,chrY,+,27768308,27771049,27768589,27770674,2,"27768308,27770601,","27770181,27771049,",27770601,27771049,2741
18821,AC007965.1,chrY,-,28111775,28114889,28111775,28114889,3,"28111775,28111969,28114875,","28111809,28111984,28114889,",28111775,28111809,3114

In [8]:
Bed = pd.read_csv("/home/morgenlefay/meRIP/GSE204980/EJC_rep1.csv")

In [9]:
Bed

        chrom     Start       End    Enrich    Index strand
0        chr1     14341     14350  2.865077        0      +
1        chr1     14341     14350  0.477513        1      -
2        chr1     14351     14360  3.581346        2      +
3        chr1     14351     14360  0.557098        3      -
4        chr1     14361     14370  2.984455        4      +
...       ...       ...       ...       ...      ...    ...
8816193  chrY  59358361  59358370  0.716269  8816193      +
8816194  chrY  59358361  59358370  0.955026  8816194      -
8816195  chrY  59358371  59358380  0.955026  8816195      +
8816196  chrY  59358371  59358380  1.193782  8816196      -
8816197  chrY  59358381  59358390  1.432539  8816197      -

[8816198 rows x 6 columns]

In [10]:
Bed.to_csv("Temp/Temp.bed", sep="\t", header=False, index=False)

In [11]:
M6A = pd.read_csv("/home/morgenlefay/iM6A/Chapter3/Figure1/iM6A_Human_IL.csv")

In [12]:
M6A

        chrom     Start       End   name strand        WT        IL
0        chr1     69096     69097  OR4F5      +  0.000000  0.000000
1        chr1     69134     69135  OR4F5      +  0.000000  0.000000
2        chr1     69141     69142  OR4F5      +  0.000000  0.000000
3        chr1     69193     69194  OR4F5      +  0.001631  0.000000
4        chr1     69210     69211  OR4F5      +  0.004582  0.000000
...       ...       ...       ...    ...    ...       ...       ...
2225269  chrY  59342719  59342720   IL9R      +  0.000000  0.004504
2225270  chrY  59342759  59342760   IL9R      +  0.000000  0.001063
2225271  chrY  59342841  59342842   IL9R      +  0.000000  0.007135
2225272  chrY  59342894  59342895   IL9R      +  0.000000  0.001543
2225273  chrY  59343240  59343241   IL9R      +  0.000000  0.001664

[2225274 rows x 7 columns]

In [13]:
M6A = M6A[["chrom","Start","End","name","WT","strand"]]

In [14]:
M6A.to_csv("Temp/M6A.bed", sep="\t", header=False, index=False)

In [15]:
!bedtools intersect -s -a Temp/M6A.bed -b Temp/Temp.bed -wa -wb > Temp/Temp.txt

In [16]:
M6A = pd.read_table("Temp/Temp.txt", header=None)

In [17]:
M6A

,0,1,2,3,4,5,6,7,8,9,10,11
0,chr1,135158,135159,AL627309.1,0.243547,-,chr1,135151,135160,1.910051,1212,-
1,chr1,135246,135247,AL627309.1,0.177959,-,chr1,135241,135250,6.446423,1227,-
2,chr1,135273,135274,AL627309.1,0.237429,-,chr1,135271,135280,8.595231,1233,-
3,chr1,135381,135382,AL627309.1,0.012053,-,chr1,135381,135390,2.924766,1252,-
4,chr1,135401,135402,AL627309.1,0.002849,-,chr1,135401,135410,1.551917,1254,-
...,...,...,...,...,...,...,...,...,...,...,...,...
966650,chrY,59342705,59342706,IL9R,0.000000,+,chrY,59342701,59342710,13.131603,8815097,+
966651,chrY,59342719,59342720,IL9R,0.000000,+,chrY,59342711,59342720,12.176578,8815099,+
966652,chrY,59342759,59342760,IL9R,0.000000,+,chrY,59342751,59342760,11.221552,8815107,+
966653,chrY,59342841,59342842,IL9R,0.000000,+,chrY,59342841,59342850,1.850362,8815125,+
966654,chrY,59342894,59342895,IL9R,0.000000,+,chrY,59342891,59342900,1.782715,8815135,+

In [18]:
M6A = M6A[[0,1,2,3,9,11]]

In [19]:
M6A

          0         1         2           3          9  11
0       chr1    135158    135159  AL627309.1   1.910051  -
1       chr1    135246    135247  AL627309.1   6.446423  -
2       chr1    135273    135274  AL627309.1   8.595231  -
3       chr1    135381    135382  AL627309.1   2.924766  -
4       chr1    135401    135402  AL627309.1   1.551917  -
...      ...       ...       ...         ...        ... ..
966650  chrY  59342705  59342706        IL9R  13.131603  +
966651  chrY  59342719  59342720        IL9R  12.176578  +
966652  chrY  59342759  59342760        IL9R  11.221552  +
966653  chrY  59342841  59342842        IL9R   1.850362  +
966654  chrY  59342894  59342895        IL9R   1.782715  +

[966655 rows x 6 columns]

In [20]:
M6A.columns = ["chrom","Start","End","name","Rate","strand"]

In [21]:
M6A.to_csv("Temp/Temp.bed", sep="\t", header=False, index=False)

In [22]:
Exon = pd.read_csv("HumanExonBed.csv")

In [23]:
Exon = Exon[["chrom","Start","End","name","ExonLength","strand"]]

In [24]:
Exon.to_csv("Temp/Exon.bed", sep="\t", header=False, index=False)

In [25]:
!bedtools intersect -s -a Temp/Temp.bed -b Temp/Exon.bed -wa -wb > Temp/Temp.txt

In [26]:
M6A = pd.read_table("Temp/Temp.txt", header=None)

In [27]:
M6A

,0,1,2,3,4,5,6,7,8,9,10,11
0,chr1,135158,135159,AL627309.1,1.910051,-,chr1,134900,135802,AL627309.1,902,-
1,chr1,135246,135247,AL627309.1,6.446423,-,chr1,134900,135802,AL627309.1,902,-
2,chr1,135273,135274,AL627309.1,8.595231,-,chr1,134900,135802,AL627309.1,902,-
3,chr1,135381,135382,AL627309.1,2.924766,-,chr1,134900,135802,AL627309.1,902,-
4,chr1,135401,135402,AL627309.1,1.551917,-,chr1,134900,135802,AL627309.1,902,-
...,...,...,...,...,...,...,...,...,...,...,...,...
1209441,chrY,59342705,59342706,IL9R,13.131603,+,chrY,59342486,59343488,IL9R,1002,+
1209442,chrY,59342719,59342720,IL9R,12.176578,+,chrY,59342486,59343488,IL9R,1002,+
1209443,chrY,59342759,59342760,IL9R,11.221552,+,chrY,59342486,59343488,IL9R,1002,+
1209444,chrY,59342841,59342842,IL9R,1.850362,+,chrY,59342486,59343488,IL9R,1002,+
1209445,chrY,59342894,59342895,IL9R,1.782715,+,chrY,59342486,59343488,IL9R,1002,+

In [28]:
M6A = M6A[M6A[3]==M6A[9]]

In [29]:
M6A = M6A[[0,1,2,9,4,11]]

In [30]:
M6A.columns = ["chrom","m6AStart","m6AEnd","name","Rate","strand"]

In [31]:
M6A

        chrom  m6AStart    m6AEnd        name       Rate strand
0        chr1    135158    135159  AL627309.1   1.910051      -
1        chr1    135246    135247  AL627309.1   6.446423      -
2        chr1    135273    135274  AL627309.1   8.595231      -
3        chr1    135381    135382  AL627309.1   2.924766      -
4        chr1    135401    135402  AL627309.1   1.551917      -
...       ...       ...       ...         ...        ...    ...
1209441  chrY  59342705  59342706        IL9R  13.131603      +
1209442  chrY  59342719  59342720        IL9R  12.176578      +
1209443  chrY  59342759  59342760        IL9R  11.221552      +
1209444  chrY  59342841  59342842        IL9R   1.850362      +
1209445  chrY  59342894  59342895        IL9R   1.782715      +

[963612 rows x 6 columns]

In [32]:
Exon = pd.read_csv("HumanExonBed.csv")

In [33]:
Exon

,chrom,Start,End,name,ExonOrder,strand,Interval,ExonLength,CumSum
0,chr16,2286467,2286561,DNASE1L2,1,+,-1,94,94
1,chr16,2286778,2286961,DNASE1L2,2,+,0,183,277
2,chr16,2287038,2287127,DNASE1L2,3,+,0,89,366
3,chr16,2287218,2287302,DNASE1L2,4,+,2,84,450
4,chr16,2287376,2287650,DNASE1L2,5,+,2,274,724
...,...,...,...,...,...,...,...,...,...
204131,chr4,156135043,156138228,NPY2R,2,+,0,3185,3626
204132,chr6,84743474,84743602,MRAP2,1,+,-1,128,128
204133,chr6,84765030,84765164,MRAP2,2,+,0,134,262
204134,chr6,84772611,84772711,MRAP2,3,+,1,100,362
204135,chr6,84798809,84800600,MRAP2,4,+,2,1791,2153

In [34]:
Data = pd.merge(M6A, Data, how="inner", on=["chrom","name","strand"])

In [35]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,GeneLength
0,chr1,135158,135159,AL627309.1,1.910051,-,134900,139379,138529,139309,2,"134900,137620,","135802,139379,",134900,135802,4479
1,chr1,135246,135247,AL627309.1,6.446423,-,134900,139379,138529,139309,2,"134900,137620,","135802,139379,",134900,135802,4479
2,chr1,135273,135274,AL627309.1,8.595231,-,134900,139379,138529,139309,2,"134900,137620,","135802,139379,",134900,135802,4479
3,chr1,135381,135382,AL627309.1,2.924766,-,134900,139379,138529,139309,2,"134900,137620,","135802,139379,",134900,135802,4479
4,chr1,135401,135402,AL627309.1,1.551917,-,134900,139379,138529,139309,2,"134900,137620,","135802,139379,",134900,135802,4479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948508,chr7,1024598,1024599,CYP2W1,1.193782,+,1022834,1029276,1022847,1028458,9,"1022834,1024047,1024585,1024801,1026259,102674...","1023021,1024210,1024735,1024959,1026433,102688...",1028270,1029276,6442
948509,chr7,12691477,12691478,SCIN,0.955026,+,12610311,12693228,12610412,12692340,16,"12610311,12617688,12620684,12644138,12662425,1...","12610611,12617843,12620846,12644288,12662518,1...",12692212,12693228,82917
948510,chr7,137075925,137075926,DGKI,0.955026,-,137075269,137531609,137075965,137531608,34,"137075269,137080343,137082122,137092620,137096...","137076082,137080443,137082159,137092741,137096...",137075269,137076082,456340
948511,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,6,"99114571,99116716,99118165,99118499,99120873,9...","99115132,99116772,99118234,99118554,99120979,9...",99114571,99115132,14898
948512,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,4,"140065379,140065865,140066092,140066391,","140065616,140065895,140066228,140066861,",140065379,140065616,1482

In [36]:
Data = pd.merge(Data, Exon, how="inner", on=["chrom","name","strand"])

In [37]:
Data = Data[(Data["m6AStart"]>=Data["Start"]) & (Data["m6AEnd"]<=Data["End"])]
Data = Data.reset_index(drop = True)

In [38]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,exonEnds,LastExonStart,LastExonEnd,GeneLength,Start,End,ExonOrder,Interval,ExonLength,CumSum
0,chr1,135158,135159,AL627309.1,1.910051,-,134900,139379,138529,139309,...,"135802,139379,",134900,135802,4479,134900,135802,2,-1,902,2661
1,chr1,135246,135247,AL627309.1,6.446423,-,134900,139379,138529,139309,...,"135802,139379,",134900,135802,4479,134900,135802,2,-1,902,2661
2,chr1,135273,135274,AL627309.1,8.595231,-,134900,139379,138529,139309,...,"135802,139379,",134900,135802,4479,134900,135802,2,-1,902,2661
3,chr1,135381,135382,AL627309.1,2.924766,-,134900,139379,138529,139309,...,"135802,139379,",134900,135802,4479,134900,135802,2,-1,902,2661
4,chr1,135401,135402,AL627309.1,1.551917,-,134900,139379,138529,139309,...,"135802,139379,",134900,135802,4479,134900,135802,2,-1,902,2661
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948508,chr7,1024598,1024599,CYP2W1,1.193782,+,1022834,1029276,1022847,1028458,...,"1023021,1024210,1024735,1024959,1026433,102688...",1028270,1029276,6442,1024585,1024735,3,1,150,500
948509,chr7,12691477,12691478,SCIN,0.955026,+,12610311,12693228,12610412,12692340,...,"12610611,12617843,12620846,12644288,12662518,1...",12692212,12693228,82917,12691465,12691526,15,0,61,2121
948510,chr7,137075925,137075926,DGKI,0.955026,-,137075269,137531609,137075965,137531608,...,"137076082,137080443,137082159,137092741,137096...",137075269,137076082,456340,137075269,137076082,34,0,813,3895
948511,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,...,"99115132,99116772,99118234,99118554,99120979,9...",99114571,99115132,14898,99129259,99129469,1,0,210,210
948512,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,"140065616,140065895,140066228,140066861,",140065379,140065616,1482,140066092,140066228,2,1,136,606

In [39]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [40]:
Positive["M6APOS"] = (Positive["m6AStart"]-Positive["Start"]) + (Positive["CumSum"]-Positive["ExonLength"])
Negative["M6APOS"] = (Negative["End"]-Negative["m6AEnd"]) + (Negative["CumSum"]-Negative["ExonLength"])

In [41]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

/tmp/ipykernel_8594/2699759002.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Data = Positive.append(Negative)

In [42]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,LastExonStart,LastExonEnd,GeneLength,Start,End,ExonOrder,Interval,ExonLength,CumSum,M6APOS
0,chr1,861315,861316,SAMD11,0.419076,+,861117,879955,861321,879533,...,879287,879955,18838,861301,861393,2,0,92,155,77
1,chr1,861361,861362,SAMD11,0.451396,+,861117,879955,861321,879533,...,879287,879955,18838,861301,861393,2,0,92,155,123
2,chr1,865535,865536,SAMD11,0.782590,+,861117,879955,861321,879533,...,879287,879955,18838,865534,865716,3,0,182,337,156
3,chr1,865553,865554,SAMD11,0.680142,+,861117,879955,861321,879533,...,879287,879955,18838,865534,865716,3,0,182,337,174
4,chr1,865561,865562,SAMD11,0.567046,+,861117,879955,861321,879533,...,879287,879955,18838,865534,865716,3,0,182,337,182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948508,chr22,25334148,25334149,TMEM211,1.193782,-,25331207,25335314,25331299,25334242,...,25331207,25331562,4107,25334115,25334254,2,0,139,152,118
948509,chr6,64488046,64488047,EYS,1.432539,-,64429875,66417118,64430491,66205303,...,64429875,64431693,1987243,64487898,64488073,40,1,175,8436,8287
948510,chr7,137075925,137075926,DGKI,0.955026,-,137075269,137531609,137075965,137531608,...,137075269,137076082,456340,137075269,137076082,34,0,813,3895,3238
948511,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,...,99114571,99115132,14898,99129259,99129469,1,0,210,210,141
948512,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,140065379,140065616,1482,140066092,140066228,2,1,136,606,574

In [43]:
Data.drop(["Start","End","ExonOrder","ExonLength","CumSum"], axis=1, inplace=True)

In [44]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,GeneLength,Interval,M6APOS
0,chr1,861315,861316,SAMD11,0.419076,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,0,77
1,chr1,861361,861362,SAMD11,0.451396,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,0,123
2,chr1,865535,865536,SAMD11,0.782590,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,0,156
3,chr1,865553,865554,SAMD11,0.680142,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,0,174
4,chr1,865561,865562,SAMD11,0.567046,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,0,182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948508,chr22,25334148,25334149,TMEM211,1.193782,-,25331207,25335314,25331299,25334242,3,"25331207,25334115,25335301,","25331562,25334254,25335314,",25331207,25331562,4107,0,118
948509,chr6,64488046,64488047,EYS,1.432539,-,64429875,66417118,64430491,66205303,43,"64429875,64436411,64472353,64487898,64497997,6...","64431693,64436573,64472526,64488073,64498142,6...",64429875,64431693,1987243,1,8287
948510,chr7,137075925,137075926,DGKI,0.955026,-,137075269,137531609,137075965,137531608,34,"137075269,137080343,137082122,137092620,137096...","137076082,137080443,137082159,137092741,137096...",137075269,137076082,456340,0,3238
948511,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,6,"99114571,99116716,99118165,99118499,99120873,9...","99115132,99116772,99118234,99118554,99120979,9...",99114571,99115132,14898,0,141
948512,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,4,"140065379,140065865,140066092,140066391,","140065616,140065895,140066228,140066861,",140065379,140065616,1482,1,574

In [45]:
Data = pd.merge(Data, Exon, how="inner", on=["chrom","name","strand"])

In [46]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,LastExonEnd,GeneLength,Interval_x,M6APOS,Start,End,ExonOrder,Interval_y,ExonLength,CumSum
0,chr1,861315,861316,SAMD11,0.419076,+,861117,879955,861321,879533,...,879955,18838,0,77,861117,861180,1,-1,63,63
1,chr1,861315,861316,SAMD11,0.419076,+,861117,879955,861321,879533,...,879955,18838,0,77,861301,861393,2,0,92,155
2,chr1,861315,861316,SAMD11,0.419076,+,861117,879955,861321,879533,...,879955,18838,0,77,865534,865716,3,0,182,337
3,chr1,861315,861316,SAMD11,0.419076,+,861117,879955,861321,879533,...,879955,18838,0,77,866418,866469,4,2,51,388
4,chr1,861315,861316,SAMD11,0.419076,+,861117,879955,861321,879533,...,879955,18838,0,77,871151,871276,5,2,125,513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14381669,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,...,99115132,14898,0,141,99114571,99115132,6,0,561,1057
14381670,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,140065616,1482,1,574,140066391,140066861,1,0,470,470
14381671,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,140065616,1482,1,574,140066092,140066228,2,1,136,606
14381672,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,140065616,1482,1,574,140065865,140065895,3,2,30,636
14381673,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,140065616,1482,1,574,140065379,140065616,4,2,237,873

In [47]:
Data = Data[(Data["Start"]==Data["LastExonStart"]) & (Data["End"]==Data["LastExonEnd"])]

In [48]:
Data = Data.reset_index(drop=True)

In [49]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,LastExonEnd,GeneLength,Interval_x,M6APOS,Start,End,ExonOrder,Interval_y,ExonLength,CumSum
0,chr1,861315,861316,SAMD11,0.419076,+,861117,879955,861321,879533,...,879955,18838,0,77,879287,879955,14,0,668,2551
1,chr1,861361,861362,SAMD11,0.451396,+,861117,879955,861321,879533,...,879955,18838,0,123,879287,879955,14,0,668,2551
2,chr1,865535,865536,SAMD11,0.782590,+,861117,879955,861321,879533,...,879955,18838,0,156,879287,879955,14,0,668,2551
3,chr1,865553,865554,SAMD11,0.680142,+,861117,879955,861321,879533,...,879955,18838,0,174,879287,879955,14,0,668,2551
4,chr1,865561,865562,SAMD11,0.567046,+,861117,879955,861321,879533,...,879955,18838,0,182,879287,879955,14,0,668,2551
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948508,chr22,25334148,25334149,TMEM211,1.193782,-,25331207,25335314,25331299,25334242,...,25331562,4107,0,118,25331207,25331562,3,1,355,507
948509,chr6,64488046,64488047,EYS,1.432539,-,64429875,66417118,64430491,66205303,...,64431693,1987243,1,8287,64429875,64431693,43,1,1818,10589
948510,chr7,137075925,137075926,DGKI,0.955026,-,137075269,137531609,137075965,137531608,...,137076082,456340,0,3238,137075269,137076082,34,0,813,3895
948511,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,...,99115132,14898,0,141,99114571,99115132,6,0,561,1057
948512,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,140065616,1482,1,574,140065379,140065616,4,2,237,873

In [50]:
Data["POS"] = Data["CumSum"] - Data["ExonLength"]

In [51]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,GeneLength,Interval_x,M6APOS,Start,End,ExonOrder,Interval_y,ExonLength,CumSum,POS
0,chr1,861315,861316,SAMD11,0.419076,+,861117,879955,861321,879533,...,18838,0,77,879287,879955,14,0,668,2551,1883
1,chr1,861361,861362,SAMD11,0.451396,+,861117,879955,861321,879533,...,18838,0,123,879287,879955,14,0,668,2551,1883
2,chr1,865535,865536,SAMD11,0.782590,+,861117,879955,861321,879533,...,18838,0,156,879287,879955,14,0,668,2551,1883
3,chr1,865553,865554,SAMD11,0.680142,+,861117,879955,861321,879533,...,18838,0,174,879287,879955,14,0,668,2551,1883
4,chr1,865561,865562,SAMD11,0.567046,+,861117,879955,861321,879533,...,18838,0,182,879287,879955,14,0,668,2551,1883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948508,chr22,25334148,25334149,TMEM211,1.193782,-,25331207,25335314,25331299,25334242,...,4107,0,118,25331207,25331562,3,1,355,507,152
948509,chr6,64488046,64488047,EYS,1.432539,-,64429875,66417118,64430491,66205303,...,1987243,1,8287,64429875,64431693,43,1,1818,10589,8771
948510,chr7,137075925,137075926,DGKI,0.955026,-,137075269,137531609,137075965,137531608,...,456340,0,3238,137075269,137076082,34,0,813,3895,3082
948511,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,...,14898,0,141,99114571,99115132,6,0,561,1057,496
948512,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,1482,1,574,140065379,140065616,4,2,237,873,636

In [52]:
Data.drop(["Start","End","ExonOrder","ExonLength","CumSum"], axis=1, inplace=True)

In [53]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS
0,chr1,861315,861316,SAMD11,0.419076,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,0,77,0,1883
1,chr1,861361,861362,SAMD11,0.451396,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,0,123,0,1883
2,chr1,865535,865536,SAMD11,0.782590,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,0,156,0,1883
3,chr1,865553,865554,SAMD11,0.680142,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,0,174,0,1883
4,chr1,865561,865562,SAMD11,0.567046,+,861117,879955,861321,879533,14,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,0,182,0,1883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948508,chr22,25334148,25334149,TMEM211,1.193782,-,25331207,25335314,25331299,25334242,3,"25331207,25334115,25335301,","25331562,25334254,25335314,",25331207,25331562,4107,0,118,1,152
948509,chr6,64488046,64488047,EYS,1.432539,-,64429875,66417118,64430491,66205303,43,"64429875,64436411,64472353,64487898,64497997,6...","64431693,64436573,64472526,64488073,64498142,6...",64429875,64431693,1987243,1,8287,1,8771
948510,chr7,137075925,137075926,DGKI,0.955026,-,137075269,137531609,137075965,137531608,34,"137075269,137080343,137082122,137092620,137096...","137076082,137080443,137082159,137092741,137096...",137075269,137076082,456340,0,3238,0,3082
948511,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,6,"99114571,99116716,99118165,99118499,99120873,9...","99115132,99116772,99118234,99118554,99120979,9...",99114571,99115132,14898,0,141,0,496
948512,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,4,"140065379,140065865,140066092,140066391,","140065616,140065895,140066228,140066861,",140065379,140065616,1482,1,574,2,636

In [54]:
Data["Distance"] = Data["M6APOS"] - Data["POS"]

In [55]:
Data = Data[(Data["Distance"]>= -1000) & (Data["Distance"]<= 1000)]

In [56]:
Data = Data.reset_index(drop = True)

In [57]:
Data

,chrom,m6AStart,m6AEnd,name,Rate,strand,txStart,txEnd,cdsStart,cdsEnd,...,exonStarts,exonEnds,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS,Distance
0,chr1,877624,877625,SAMD11,0.073464,+,861117,879955,861321,879533,...,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1061,0,1883,-822
1,chr1,877858,877859,SAMD11,0.097458,+,861117,879955,861321,879533,...,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,1,1137,0,1883,-746
2,chr1,877955,877956,SAMD11,0.209678,+,861117,879955,861321,879533,...,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1164,0,1883,-719
3,chr1,878011,878012,SAMD11,0.375933,+,861117,879955,861321,879533,...,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1220,0,1883,-663
4,chr1,878027,878028,SAMD11,0.398070,+,861117,879955,861321,879533,...,"861117,861301,865534,866418,871151,874419,8746...","861180,861393,865716,866469,871276,874509,8748...",879287,879955,18838,2,1236,0,1883,-647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582827,chr22,25334148,25334149,TMEM211,1.193782,-,25331207,25335314,25331299,25334242,...,"25331207,25334115,25335301,","25331562,25334254,25335314,",25331207,25331562,4107,0,118,1,152,-34
582828,chr6,64488046,64488047,EYS,1.432539,-,64429875,66417118,64430491,66205303,...,"64429875,64436411,64472353,64487898,64497997,6...","64431693,64436573,64472526,64488073,64498142,6...",64429875,64431693,1987243,1,8287,1,8771,-484
582829,chr7,137075925,137075926,DGKI,0.955026,-,137075269,137531609,137075965,137531608,...,"137075269,137080343,137082122,137092620,137096...","137076082,137080443,137082159,137092741,137096...",137075269,137076082,456340,0,3238,0,3082,156
582830,chr8,99129327,99129328,HRSP12,0.371399,-,99114571,99129469,99115069,99129324,...,"99114571,99116716,99118165,99118499,99120873,9...","99115132,99116772,99118234,99118554,99120979,9...",99114571,99115132,14898,0,141,0,496,-355
582831,chr9,140066123,140066124,TMEM210,0.955026,-,140065379,140066861,140065426,140066479,...,"140065379,140065865,140066092,140066391,","140065616,140065895,140066228,140066861,",140065379,140065616,1482,1,574,2,636,-62

In [58]:
Data.to_csv("Temp/hg19_M6A.csv", index=0)