## Grab sequence

In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("/home/morgenlefay/iM6A/Annotation/UniqmRNA_GENCODE_V19com_hg19_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data.drop([0,11,13,14,15], axis=1, inplace=True)

In [4]:
Data

,1,2,3,4,5,6,7,8,9,10,12
0,ENST00000371037.4,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",SGIP1
1,ENST00000289877.8,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",SLC45A1
2,ENST00000337132.5,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",NECAP2
3,ENST00000374379.4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",CLIC4
4,ENST00000294517.6,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",ADC
...,...,...,...,...,...,...,...,...,...,...,...
20680,ENST00000400678.3,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,...",AC002321.2
20681,ENST00000400676.3,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,",AC002321.1
20682,ENST00000400710.2,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,",AC145205.1
20683,ENST00000391571.2,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,",AC011841.1
20684,ENST00000400848.2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398...",KIR2DL2

In [5]:
Data[1] = Data[12]

In [6]:
Data.drop([12], axis=1, inplace=True)

In [7]:
Data

,1,2,3,4,5,6,7,8,9,10
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,..."
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398..."

In [8]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]

In [9]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,..."
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398..."

### Select coding genes

In [10]:
idx = (Data["cdsStart"] != Data["cdsEnd"])

In [11]:
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]]

In [12]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,..."
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398..."

### Keep standard chromosomes

In [13]:
Data = Data[:20536]

### exonCount >= 3

In [14]:
Data = Data[Data.exonCount >= 3]

In [15]:
Data = Data.reset_index(drop = True)

In [16]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
17184,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5..."
17185,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5..."
17186,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5..."
17187,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,"
17188,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5..."

In [17]:
StopCodon = pd.read_csv("/home/morgenlefay/iM6A/Annotation/HumanStopCodon.csv")

In [18]:
StopCodon

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon
0,AL645608.2,chr1,+,818042,819983,818042,819983,819960,819983,TGA
1,SAMD11,chr1,+,861117,879955,861321,879533,879287,879955,TGA
2,KLHL17,chr1,+,895966,901095,896073,900571,900342,901095,TGA
3,PLEKHN1,chr1,+,901876,910488,901911,909955,909821,910488,TGA
4,AGRN,chr1,+,955502,991496,955552,990361,990203,991496,TGA
...,...,...,...,...,...,...,...,...,...,...
19880,CLIC2,chrX,-,154505499,154563955,154507191,154563736,154505499,154507353,TAG
19881,H2AFB3,chrX,-,154689079,154689596,154689240,154689588,154689079,154689596,TAG
19882,ZBED1,chrY,-,2354454,2369008,2356675,2358760,2354454,2358813,TAG
19883,SRY,chrY,-,2654895,2655740,2655029,2655644,2654895,2655740,TAG
19884,AC007965.1,chrY,-,28111775,28114889,28111775,28114889,28111775,28111809,TAG

In [19]:
StopCodon = StopCodon[["name","chrom","strand","txStart","txEnd"]]

In [20]:
Data = pd.merge(Data, StopCodon, how="inner", on=["name","chrom","strand","txStart","txEnd"])

In [21]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
17008,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5..."
17009,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5..."
17010,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5..."
17011,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,"
17012,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5..."

In [22]:
Group = pd.read_csv("/home/morgenlefay/iM6A/Annotation/HumanGroup.csv")

In [23]:
Group

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,LastExonStart,LastExonEnd,Group
0,OR4F5,chr1,+,69090,70008,69090,70008,1,69090,70008,1
1,AL627309.1,chr1,-,134900,139379,138529,139309,2,134900,135802,3
2,OR4F29,chr1,+,367639,368634,367658,368597,1,367639,368634,1
3,OR4F16,chr1,-,621058,622053,621095,622034,1,621058,622053,1
4,AL669831.1,chr1,-,738531,739137,738531,739137,3,738531,738618,2
...,...,...,...,...,...,...,...,...,...,...,...
20531,CDY1,chrY,+,27768308,27771049,27768589,27770674,2,27770601,27771049,2
20532,AC007965.1,chrY,-,28111775,28114889,28111775,28114889,3,28111775,28111809,2
20533,SPRY3,chrY,+,59100479,59115127,59106539,59107406,2,59106433,59115127,2
20534,VAMP7,chrY,+,59213961,59276439,59222135,59274621,8,59274552,59276439,2
20535,IL9R,chrY,+,59330376,59343488,59330444,59342523,9,59342486,59343488,2

In [24]:
Group = Group[Group["Group"] != 1]
Group = Group[["name","chrom","strand","txStart","txEnd","Group"]]
Data = pd.merge(Data, Group, how="inner", on=["name","chrom","strand","txStart","txEnd"])

In [25]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Group
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",2
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",2
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",2
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",2
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",2
...,...,...,...,...,...,...,...,...,...,...,...
17008,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",2
17009,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",2
17010,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",2
17011,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",2
17012,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",2

In [26]:
Data.to_csv("Temp/MultiExon.csv", index=0)

### Create Bed

In [27]:
Bed = Data.iloc[:, [1, 3, 4, 0, 7, 2]]

In [28]:
Bed.to_csv("Temp/MultiExon.bed", sep="\t", header=False, index=False)

In [29]:
!bedtools getfasta -s -bed Temp/MultiExon.bed -fi /home/morgenlefay/Reference/Fasta/hg19.fa -fo Temp/MultiExon.txt