## Grab sequence

In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("/home/morgenlefay/iM6A/Annotation/UniqmRNA_GENCODE_V19com_hg19_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data.drop([0,11,13,14], axis=1, inplace=True)

In [4]:
Data

,1,2,3,4,5,6,7,8,9,10,12,15
0,ENST00000371037.4,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",SGIP1,"0,1,2,0,0,0,1,0,0,0,1,2,1,1,1,1,0,1,1,2,2,0,2,..."
1,ENST00000289877.8,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",SLC45A1,"0,1,1,1,0,1,1,0,"
2,ENST00000337132.5,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",NECAP2,"0,2,1,1,2,0,1,2,"
3,ENST00000374379.4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",CLIC4,"0,0,2,2,1,0,"
4,ENST00000294517.6,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",ADC,"-1,-1,-1,0,0,0,2,2,0,1,0,2,"
...,...,...,...,...,...,...,...,...,...,...,...,...
20680,ENST00000400678.3,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,...",AC002321.2,"-1,0,1,2,0,0,0,0,1,"
20681,ENST00000400676.3,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,",AC002321.1,"0,0,"
20682,ENST00000400710.2,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,",AC145205.1,"0,"
20683,ENST00000391571.2,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,",AC011841.1,"0,"
20684,ENST00000400848.2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398...",KIR2DL2,"0,1,1,1,1,1,1,2,-1,"

In [5]:
Data[1] = Data[12]

In [6]:
Data.drop([12], axis=1, inplace=True)

In [7]:
Data

,1,2,3,4,5,6,7,8,9,10,15
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...","0,1,2,0,0,0,1,0,0,0,1,2,1,1,1,1,0,1,1,2,2,0,2,..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...","0,1,1,1,0,1,1,0,"
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...","0,2,1,1,2,0,1,2,"
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...","0,0,2,2,1,0,"
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...","-1,-1,-1,0,0,0,2,2,0,1,0,2,"
...,...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,...","-1,0,1,2,0,0,0,0,1,"
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,","0,0,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,","0,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,","0,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398...","0,1,1,1,1,1,1,2,-1,"

In [8]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds", "Interval"]

In [9]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...","0,1,2,0,0,0,1,0,0,0,1,2,1,1,1,1,0,1,1,2,2,0,2,..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...","0,1,1,1,0,1,1,0,"
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...","0,2,1,1,2,0,1,2,"
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...","0,0,2,2,1,0,"
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...","-1,-1,-1,0,0,0,2,2,0,1,0,2,"
...,...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,...","-1,0,1,2,0,0,0,0,1,"
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,","0,0,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,","0,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,","0,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398...","0,1,1,1,1,1,1,2,-1,"

### Keep standard chromosomes

In [10]:
Data = Data[:20536]

In [11]:
Data = Data[Data["chrom"] != "chrM"]

In [12]:
Data = Data.reset_index(drop = True)

In [13]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...","0,1,2,0,0,0,1,0,0,0,1,2,1,1,1,1,0,1,1,2,2,0,2,..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...","0,1,1,1,0,1,1,0,"
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...","0,2,1,1,2,0,1,2,"
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...","0,0,2,2,1,0,"
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...","-1,-1,-1,0,0,0,2,2,0,1,0,2,"
...,...,...,...,...,...,...,...,...,...,...,...
20518,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...","0,2,0,2,1,2,2,0,0,2,0,"
20519,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...","-1,-1,0,1,2,1,0,0,2,2,"
20520,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...","1,0,1,2,0,0,2,0,-1,"
20521,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,","0,2,2,1,0,"
20522,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...","0,0,1,0,1,2,2,0,-1,-1,"

### Create Exon Bed

In [14]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [15]:
for i in range(len(Positive)):
    df = pd.DataFrame(np.random.randn((Positive.loc[i,"exonCount"]), 3))
    df.columns = ["name", "chrom", "strand"]
    df["name"] = Positive.loc[i,"name"]
    df["chrom"] = Positive.loc[i,"chrom"]
    df["strand"] = Positive.loc[i,"strand"]
    
    exonStarts = Positive.loc[i, "exonStarts"].split(",")[0:-1]
    exonEnds = Positive.loc[i, "exonEnds"].split(",")[0:-1]
    exonInterval = Positive.loc[i, "Interval"].split(",")[0:-1]
    
    Start = pd.DataFrame(exonStarts, columns=["Start"])
    End = pd.DataFrame(exonEnds, columns=["End"])
    Interval = pd.DataFrame(exonInterval, columns=["Interval"])
    
    df = pd.concat([df, Start], axis=1)
    df = pd.concat([df, End], axis=1)
    df = pd.concat([df, Interval], axis=1)
    
    list = range(1, (Positive.loc[i,"exonCount"]+1))
    Count = pd.DataFrame(list, columns=["Count"])
    df = pd.concat([df, Count], axis=1)
    
    df["End"] = df["End"].astype(int)
    df["Start"] = df["Start"].astype(int)
    df["exonLength"] = df["End"] - df["Start"]
    df["cumsum"] = df["exonLength"].cumsum()
    
    df.to_csv("./Outputs/{}.bed".format(Positive.loc[i,"name"]), sep="\t", index=False)

In [16]:
for i in range(len(Negative)):
    df = pd.DataFrame(np.random.randn((Negative.loc[i,"exonCount"]), 3))
    df.columns = ["name", "chrom", "strand"]
    df["name"] = Negative.loc[i,"name"]
    df["chrom"] = Negative.loc[i,"chrom"]
    df["strand"] = Negative.loc[i,"strand"]
    
    exonStarts = Negative.loc[i, "exonStarts"].split(",")[0:-1]
    exonEnds = Negative.loc[i, "exonEnds"].split(",")[0:-1]
    exonInterval = Negative.loc[i, "Interval"].split(",")[0:-1]
    
    Start = pd.DataFrame(exonStarts, columns=["Start"])
    End = pd.DataFrame(exonEnds, columns=["End"])
    Interval = pd.DataFrame(exonInterval, columns=["Interval"])
    
    df = pd.concat([df, Start], axis=1)
    df = pd.concat([df, End], axis=1)
    df = pd.concat([df, Interval], axis=1)
    
    df.sort_index(inplace=True, ascending=False)
    df = df.reset_index(drop = True)
    
    list = range(1, (Negative.loc[i,"exonCount"]+1))
    Count = pd.DataFrame(list, columns=["Count"])
    df = pd.concat([df, Count], axis=1)
    
    
    df["End"] = df["End"].astype(int)
    df["Start"] = df["Start"].astype(int)
    df["exonLength"] = df["End"] - df["Start"]
    df["cumsum"] = df["exonLength"].cumsum()
    
    df.to_csv("./Outputs/{}.bed".format(Negative.loc[i,"name"]), sep="\t", index=False)

### Read multiple files

In [17]:
import glob,os

In [18]:
path = "Outputs"

In [19]:
file = glob.glob(os.path.join(path, "*.bed"))

In [20]:
d = []
for f in file:
    d.append(pd.read_table(f))

In [21]:
Exon = pd.concat(d)

In [22]:
Exon = Exon[["chrom","Start","End","name","Count","strand","Interval","exonLength","cumsum"]]
Exon = Exon.reset_index(drop = True)

In [23]:
Exon.columns = ["chrom","Start","End","name","ExonOrder","strand","Interval","ExonLength","CumSum"]

In [24]:
Exon

,chrom,Start,End,name,ExonOrder,strand,Interval,ExonLength,CumSum
0,chr16,2286467,2286561,DNASE1L2,1,+,-1,94,94
1,chr16,2286778,2286961,DNASE1L2,2,+,0,183,277
2,chr16,2287038,2287127,DNASE1L2,3,+,0,89,366
3,chr16,2287218,2287302,DNASE1L2,4,+,2,84,450
4,chr16,2287376,2287650,DNASE1L2,5,+,2,274,724
...,...,...,...,...,...,...,...,...,...
204131,chr4,156135043,156138228,NPY2R,2,+,0,3185,3626
204132,chr6,84743474,84743602,MRAP2,1,+,-1,128,128
204133,chr6,84765030,84765164,MRAP2,2,+,0,134,262
204134,chr6,84772611,84772711,MRAP2,3,+,1,100,362
204135,chr6,84798809,84800600,MRAP2,4,+,2,1791,2153

In [25]:
Exon.to_csv("HumanExonBed.csv", index=0)