In [1]:
import numpy as np
import pandas as pd

### WT

In [2]:
M6A = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Data/iM6A_m3cRAC_Label.csv")

In [3]:
M6A

         chrom     Start       End     name    Probabilty strand  Label
0         chr1   3214485   3214486     Xkr4  1.316975e-05      -      0
1         chr1   3214554   3214555     Xkr4  9.799121e-07      -      0
2         chr1   3214662   3214663     Xkr4  1.997159e-01      -      1
3         chr1   3214724   3214725     Xkr4  1.521015e-01      -      0
4         chr1   3214732   3214733     Xkr4  6.528376e-01      -      1
...        ...       ...       ...      ...           ...    ...    ...
19671398  chrY  90816408  90816409    Erdr1  7.192771e-05      +      0
19671399  chrY  90816418  90816419    Erdr1  5.691654e-05      +      0
19671400  chrY  90838880  90838881  Gm21748  1.863572e-03      -      0
19671401  chrY  90839032  90839033  Gm21748  1.835544e-04      -      0
19671402  chrY  90839058  90839059  Gm21748  7.413900e-03      -      0

[19671403 rows x 7 columns]

In [4]:
M6A = M6A[["chrom","Start","End","name","Probabilty","strand"]]

In [5]:
M6A.to_csv("Temp/Temp.bed", sep="\t", header=False, index=False)

In [6]:
Exon = pd.read_csv("/home/morgenlefay/iM6A/Chapter2/Figure1/MouseExonBed.csv")

In [7]:
Exon

,chrom,Start,End,name,ExonOrder,strand,Interval,ExonLength,CumSum
0,chr19,47090765,47090867,Pdcd11,1,+,-1,102,102
1,chr19,47092781,47092900,Pdcd11,2,+,0,119,221
2,chr19,47093750,47093882,Pdcd11,3,+,0,132,353
3,chr19,47095207,47095375,Pdcd11,4,+,0,168,521
4,chr19,47096854,47097016,Pdcd11,5,+,0,162,683
...,...,...,...,...,...,...,...,...,...
206530,chr3,95132824,95132913,Scnm1,5,-,0,89,511
206531,chr3,95130163,95130358,Scnm1,6,-,2,195,706
206532,chr3,95129535,95129883,Scnm1,7,-,-1,348,1054
206533,chr14,52899968,52900020,Trav4d-3,1,+,0,52,52
206534,chr14,52900191,52900470,Trav4d-3,2,+,1,279,331

In [8]:
Exon = Exon[["chrom","Start","End","name","ExonLength","strand"]]

In [9]:
Exon.to_csv("Temp/Exon.bed", sep="\t", header=False, index=False)

In [10]:
!bedtools intersect -s -a Temp/Temp.bed -b Temp/Exon.bed -wa -wb > Temp/Temp.txt

In [11]:
M6A = pd.read_table("Temp/Temp.txt", header=None)

In [12]:
M6A

,0,1,2,3,4,5,6,7,8,9,10,11
0,chr1,3214485,3214486,Xkr4,1.316975e-05,-,chr1,3214481,3216968,Xkr4,2487,-
1,chr1,3214554,3214555,Xkr4,9.799121e-07,-,chr1,3214481,3216968,Xkr4,2487,-
2,chr1,3214662,3214663,Xkr4,1.997159e-01,-,chr1,3214481,3216968,Xkr4,2487,-
3,chr1,3214724,3214725,Xkr4,1.521015e-01,-,chr1,3214481,3216968,Xkr4,2487,-
4,chr1,3214732,3214733,Xkr4,6.528376e-01,-,chr1,3214481,3216968,Xkr4,2487,-
...,...,...,...,...,...,...,...,...,...,...,...,...
1817056,chrY,90816408,90816409,Erdr1,7.192771e-05,+,chrY,90816348,90816433,Erdr1,85,+
1817057,chrY,90816418,90816419,Erdr1,5.691654e-05,+,chrY,90816348,90816433,Erdr1,85,+
1817058,chrY,90838880,90838881,Gm21748,1.863572e-03,-,chrY,90838868,90839177,Gm21748,309,-
1817059,chrY,90839032,90839033,Gm21748,1.835544e-04,-,chrY,90838868,90839177,Gm21748,309,-
1817060,chrY,90839058,90839059,Gm21748,7.413900e-03,-,chrY,90838868,90839177,Gm21748,309,-

In [13]:
M6A = M6A[[0,1,2,3,4,5]]

In [14]:
M6A.columns = ["chrom","m6AStart","m6AEnd","name","Probabilty","strand"]

In [15]:
M6A

        chrom  m6AStart    m6AEnd     name    Probabilty strand
0        chr1   3214485   3214486     Xkr4  1.316975e-05      -
1        chr1   3214554   3214555     Xkr4  9.799121e-07      -
2        chr1   3214662   3214663     Xkr4  1.997159e-01      -
3        chr1   3214724   3214725     Xkr4  1.521015e-01      -
4        chr1   3214732   3214733     Xkr4  6.528376e-01      -
...       ...       ...       ...      ...           ...    ...
1817056  chrY  90816408  90816409    Erdr1  7.192771e-05      +
1817057  chrY  90816418  90816419    Erdr1  5.691654e-05      +
1817058  chrY  90838880  90838881  Gm21748  1.863572e-03      -
1817059  chrY  90839032  90839033  Gm21748  1.835544e-04      -
1817060  chrY  90839058  90839059  Gm21748  7.413900e-03      -

[1817061 rows x 6 columns]

In [16]:
Data = pd.read_csv("/home/morgenlefay/iM6A/Annotation/UniqmRNA_GENCODE_VM7com_mm10_RefSeqpriority.txt", sep="\t", header=None)

In [17]:
Data.drop([0,11,13,14,15], axis=1, inplace=True)
Data[1] = Data[12]
Data.drop([12], axis=1, inplace=True)
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]

In [18]:
idx = (Data["cdsStart"] != Data["cdsEnd"])
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]]

In [19]:
Data = Data[:22357]

In [20]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6..."
22353,Gm7102,chr19,-,61174685,61176309,61175458,61175995,1,"61174685,","61176309,"
22354,Gm6020,chr19,+,61183889,61183955,61183889,61183955,1,"61183889,","61183955,"
22355,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6..."
22356,Gm21060,chr19,-,61296901,61297069,61296901,61297069,1,"61296901,","61297069,"

In [21]:
Data = Data[Data.exonCount > 1]
Data = Data.reset_index(drop = True)

In [22]:
for i in range(len(Data)):
    if Data.loc[i, "strand"] == "+":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[-2]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[-2]
    elif Data.loc[i, "strand"] == "-":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[0]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[0]

In [23]:
for i in range(len(Data)):
    if Data.loc[i, "strand"] == "+":
        Data.loc[i,("SecondToLastExonStart")] = Data.loc[i, "exonStarts"].split(",")[-3]
        Data.loc[i,("SecondToLastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[-3]
    elif Data.loc[i, "strand"] == "-":
        Data.loc[i,("SecondToLastExonStart")] = Data.loc[i, "exonStarts"].split(",")[1]
        Data.loc[i,("SecondToLastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[1]

In [24]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",25067549,25068356,25074684,25074789
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",33453809,33454304,33464052,33464121
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19628,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...",60198585,60199487,60199969,60200076
19629,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...",60761115,60762304,60763064,60763264
19630,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...",60838747,60839050,60842118,60842236
19631,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719,60865165,60865331
19632,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214

In [25]:
Data["SecondToLastExonStart"] = Data["SecondToLastExonStart"].astype(int)
Data["SecondToLastExonEnd"] = Data["SecondToLastExonEnd"].astype(int)

In [26]:
Data = pd.merge(Data, M6A, how="inner", on=["chrom","name","strand"])

In [27]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,m6AStart,m6AEnd,Probabilty
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134199257,134199258,0.000002
1,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134199283,134199284,0.000035
2,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134199298,134199299,0.000045
3,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134199303,134199304,0.000109
4,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134199324,134199325,0.000574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731951,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61228396,61228397,0.000190
1731952,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61228400,61228401,0.000232
1731953,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61228404,61228405,0.000185
1731954,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61228408,61228409,0.000167
1731955,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61228412,61228413,0.000131

In [28]:
Data = Data[(Data["m6AStart"]>=Data["SecondToLastExonStart"]) & (Data["m6AEnd"]<=Data["SecondToLastExonEnd"])]
Data = Data.reset_index(drop = True)

In [29]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,m6AStart,m6AEnd,Probabilty
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134234132,134234133,0.008294
1,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134234146,134234147,0.017877
2,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134234245,134234246,0.001099
3,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,8414217,8414218,0.000016
4,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,8414263,8414264,0.000014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106567,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225151,61225152,0.001431
106568,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225154,61225155,0.001259
106569,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225166,61225167,0.007059
106570,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225195,61225196,0.000329
106571,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225203,61225204,0.000696

In [30]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [31]:
Positive["m6APosition"] = Positive["m6AStart"] - Positive["SecondToLastExonStart"]
Negative["m6APosition"] = Negative["SecondToLastExonEnd"] - Negative["m6AEnd"]

In [32]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [33]:
Data["SecondToLastExonLength"] = Data["SecondToLastExonEnd"] - Data["SecondToLastExonStart"]

In [34]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,m6AStart,m6AEnd,Probabilty,m6APosition,SecondToLastExonLength
0,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,58752352,58752353,0.000199,14,508
1,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,58752407,58752408,0.006614,69,508
2,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,58752412,58752413,0.003181,74,508
3,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,58752447,58752448,0.044747,109,508
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",58753783,58758884,58752338,58752846,58752455,58752456,0.077906,117,508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106567,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225151,61225152,0.001431,62,82
106568,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225154,61225155,0.001259,59,82
106569,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225166,61225167,0.007059,47,82
106570,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225195,61225196,0.000329,18,82
106571,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225203,61225204,0.000696,10,82

In [1]:
WT = Data[["chrom","m6AStart","m6AEnd","name","Probabilty","strand","m6APosition","SecondToLastExonLength"]]

NameError: name 'Data' is not defined

In [36]:
WT.columns = ["chrom","Start","End","name","WT","strand","Distance","SecondToLastExonLength"]

In [37]:
WT

,chrom,Start,End,name,WT,strand,Distance,SecondToLastExonLength
0,chr1,58752352,58752353,Cflar,0.000199,+,14,508
1,chr1,58752407,58752408,Cflar,0.006614,+,69,508
2,chr1,58752412,58752413,Cflar,0.003181,+,74,508
3,chr1,58752447,58752448,Cflar,0.044747,+,109,508
4,chr1,58752455,58752456,Cflar,0.077906,+,117,508
...,...,...,...,...,...,...,...,...
106567,chr19,61225151,61225152,Csf2ra,0.001431,-,62,82
106568,chr19,61225154,61225155,Csf2ra,0.001259,-,59,82
106569,chr19,61225166,61225167,Csf2ra,0.007059,-,47,82
106570,chr19,61225195,61225196,Csf2ra,0.000329,-,18,82
106571,chr19,61225203,61225204,Csf2ra,0.000696,-,10,82

### Deletion

In [82]:
M6A = pd.read_csv("iM6A_mouse_RAC_ID.csv")

In [83]:
M6A

        chrom     Start       End   name  Probabilty strand
0        chr1   3214662   3214663   Xkr4    0.199716      -
1        chr1   3214724   3214725   Xkr4    0.152102      -
2        chr1   3214732   3214733   Xkr4    0.652837      -
3        chr1   3214778   3214779   Xkr4    0.206268      -
4        chr1   3214815   3214816   Xkr4    0.017643      -
...       ...       ...       ...    ...         ...    ...
1474157  chrY  90816052  90816053  Erdr1    0.001326      +
1474158  chrY  90816092  90816093  Erdr1    0.006040      +
1474159  chrY  90816102  90816103  Erdr1    0.006445      +
1474160  chrY  90816142  90816143  Erdr1    0.036718      +
1474161  chrY  90816172  90816173  Erdr1    0.003892      +

[1474162 rows x 6 columns]

In [84]:
Data = pd.read_csv("/home/morgenlefay/iM6A/Annotation/UniqmRNA_GENCODE_VM7com_mm10_RefSeqpriority.txt", sep="\t", header=None)
Data.drop([0,11,13,14,15], axis=1, inplace=True)
Data[1] = Data[12]
Data.drop([12], axis=1, inplace=True)
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]
idx = (Data["cdsStart"] != Data["cdsEnd"])
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]]
Data = Data[:22357]
Data = Data[Data.exonCount > 1]
Data = Data.reset_index(drop = True)
for i in range(len(Data)):
    if Data.loc[i, "strand"] == "+":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[-2]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[-2]
    elif Data.loc[i, "strand"] == "-":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[0]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[0]
for i in range(len(Data)):
    if Data.loc[i, "strand"] == "+":
        Data.loc[i,("SecondToLastExonStart")] = Data.loc[i, "exonStarts"].split(",")[-3]
        Data.loc[i,("SecondToLastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[-3]
    elif Data.loc[i, "strand"] == "-":
        Data.loc[i,("SecondToLastExonStart")] = Data.loc[i, "exonStarts"].split(",")[1]
        Data.loc[i,("SecondToLastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[1]
Data["SecondToLastExonStart"] = Data["SecondToLastExonStart"].astype(int)
Data["SecondToLastExonEnd"] = Data["SecondToLastExonEnd"].astype(int)

In [85]:
Data = pd.merge(Data, M6A, how="inner", on=["chrom","name","strand"])

In [86]:
Data = Data[(Data["Start"]>=Data["SecondToLastExonStart"]) & (Data["End"]<=Data["SecondToLastExonEnd"])]
Data = Data.reset_index(drop = True)

In [87]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd,SecondToLastExonStart,SecondToLastExonEnd,Start,End,Probabilty
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134234132,134234133,0.026905
1,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134234146,134234147,0.100133
2,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",134199224,134203590,134234014,134234412,134234245,134234246,0.002718
3,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,8414217,8414218,0.010196
4,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",8361474,8363633,8414202,8414313,8414263,8414264,0.002909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87403,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...",60864050,60864719,60865165,60865331,60865212,60865213,0.008384
87404,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225139,61225140,0.008302
87405,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225151,61225152,0.017348
87406,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225154,61225155,0.010150
87407,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...",61224401,61225033,61225132,61225214,61225166,61225167,0.011862

In [88]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [89]:
Positive["m6APosition"] = Positive["Start"] - Positive["SecondToLastExonStart"]
Negative["m6APosition"] = Negative["SecondToLastExonEnd"] - Negative["End"]

In [90]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [91]:
Data["SecondToLastExonLength"] = Data["SecondToLastExonEnd"] - Data["SecondToLastExonStart"]

In [92]:
Deletion = Data[["chrom","Start","End","name","Probabilty","strand","m6APosition","SecondToLastExonLength"]]

In [93]:
Deletion.columns = ["chrom","Start","End","name","Deletion","strand","Distance","SecondToLastExonLength"]

In [94]:
Deletion

,chrom,Start,End,name,Deletion,strand,Distance,SecondToLastExonLength
0,chr1,58752407,58752408,Cflar,0.022804,+,69,508
1,chr1,58752412,58752413,Cflar,0.008679,+,74,508
2,chr1,58752447,58752448,Cflar,0.168392,+,109,508
3,chr1,58752455,58752456,Cflar,0.274563,+,117,508
4,chr1,58752461,58752462,Cflar,0.027591,+,123,508
...,...,...,...,...,...,...,...,...
87403,chr19,60865212,60865213,Prdx3,0.008384,-,118,166
87404,chr19,61225139,61225140,Csf2ra,0.008302,-,74,82
87405,chr19,61225151,61225152,Csf2ra,0.017348,-,62,82
87406,chr19,61225154,61225155,Csf2ra,0.010150,-,59,82
87407,chr19,61225166,61225167,Csf2ra,0.011862,-,47,82

In [95]:
Data = pd.merge(WT, Deletion, how="outer", on=["chrom","Start","End","name","strand","Distance","SecondToLastExonLength"])

In [96]:
Data

,chrom,Start,End,name,WT,strand,Distance,SecondToLastExonLength,Deletion
0,chr1,58752352,58752353,Cflar,0.000199,+,14,508,NaN
1,chr1,58752407,58752408,Cflar,0.006614,+,69,508,0.022804
2,chr1,58752412,58752413,Cflar,0.003181,+,74,508,0.008679
3,chr1,58752447,58752448,Cflar,0.044747,+,109,508,0.168392
4,chr1,58752455,58752456,Cflar,0.077906,+,117,508,0.274563
...,...,...,...,...,...,...,...,...,...
106727,chr17,40910040,40910041,Glyatl3,NaN,-,120,133,0.117925
106728,chr18,31594584,31594585,Slc25a46,NaN,-,49,58,0.009422
106729,chr19,55302586,55302587,Zdhhc6,NaN,-,17,47,0.001420
106730,chr19,9114208,9114209,Asrgl1,NaN,-,85,111,0.005426
106731,chr19,33461513,33461514,Gm8975,NaN,-,51,64,0.001317

In [97]:
Data = Data.fillna(0)

In [98]:
Data["WT"][Data.WT<0.001] = 0
Data["Deletion"][Data.Deletion<0.001] = 0

<ipython-input-98-74d961251b1e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["WT"][Data.WT<0.001] = 0
<ipython-input-98-74d961251b1e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data["Deletion"][Data.Deletion<0.001] = 0

In [99]:
Data = Data[["chrom","Start","End","name","strand","WT","Deletion","Distance","SecondToLastExonLength"]]

In [100]:
Data

,chrom,Start,End,name,strand,WT,Deletion,Distance,SecondToLastExonLength
0,chr1,58752352,58752353,Cflar,+,0.000000,0.000000,14,508
1,chr1,58752407,58752408,Cflar,+,0.006614,0.022804,69,508
2,chr1,58752412,58752413,Cflar,+,0.003181,0.008679,74,508
3,chr1,58752447,58752448,Cflar,+,0.044747,0.168392,109,508
4,chr1,58752455,58752456,Cflar,+,0.077906,0.274563,117,508
...,...,...,...,...,...,...,...,...,...
106727,chr17,40910040,40910041,Glyatl3,-,0.000000,0.117925,120,133
106728,chr18,31594584,31594585,Slc25a46,-,0.000000,0.009422,49,58
106729,chr19,55302586,55302587,Zdhhc6,-,0.000000,0.001420,17,47
106730,chr19,9114208,9114209,Asrgl1,-,0.000000,0.005426,85,111
106731,chr19,33461513,33461514,Gm8975,-,0.000000,0.001317,51,64

In [101]:
Data[(Data["WT"]==0) & (Data["Deletion"]==0)]

,chrom,Start,End,name,strand,WT,Deletion,Distance,SecondToLastExonLength
0,chr1,58752352,58752353,Cflar,+,0.0,0.0,14,508
14,chr1,125676997,125676998,Gpr39,+,0.0,0.0,3,1198
15,chr1,125677028,125677029,Gpr39,+,0.0,0.0,34,1198
18,chr1,125677119,125677120,Gpr39,+,0.0,0.0,125,1198
24,chr1,125677358,125677359,Gpr39,+,0.0,0.0,364,1198
...,...,...,...,...,...,...,...,...,...
106563,chr19,60865277,60865278,Prdx3,-,0.0,0.0,53,166
106564,chr19,60865280,60865281,Prdx3,-,0.0,0.0,50,166
106565,chr19,60865313,60865314,Prdx3,-,0.0,0.0,17,166
106570,chr19,61225195,61225196,Csf2ra,-,0.0,0.0,18,82
106571,chr19,61225203,61225204,Csf2ra,-,0.0,0.0,10,82

In [102]:
Data = Data[(Data["WT"]!=0) | (Data["Deletion"]!=0)]
Data = Data.reset_index(drop = True)

In [103]:
Data

,chrom,Start,End,name,strand,WT,Deletion,Distance,SecondToLastExonLength
0,chr1,58752407,58752408,Cflar,+,0.006614,0.022804,69,508
1,chr1,58752412,58752413,Cflar,+,0.003181,0.008679,74,508
2,chr1,58752447,58752448,Cflar,+,0.044747,0.168392,109,508
3,chr1,58752455,58752456,Cflar,+,0.077906,0.274563,117,508
4,chr1,58752461,58752462,Cflar,+,0.007365,0.027591,123,508
...,...,...,...,...,...,...,...,...,...
90749,chr17,40910040,40910041,Glyatl3,-,0.000000,0.117925,120,133
90750,chr18,31594584,31594585,Slc25a46,-,0.000000,0.009422,49,58
90751,chr19,55302586,55302587,Zdhhc6,-,0.000000,0.001420,17,47
90752,chr19,9114208,9114209,Asrgl1,-,0.000000,0.005426,85,111
90753,chr19,33461513,33461514,Gm8975,-,0.000000,0.001317,51,64

In [108]:
Data.to_csv("iM6A_Mouse_SecondToLastExon.csv", index=0)