In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("/home/morgenlefay/iM6A/Annotation/UniqmRNA_GENCODE_VM7com_mm10_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data.drop([0,11,13,14], axis=1, inplace=True)

In [4]:
Data

,1,2,3,4,5,6,7,8,9,10,12,15
0,ENSMUST00000086465.5,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",Adora1,"2,0,-1,"
1,ENSMUST00000140295.6,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",Sntg1,"0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,ENSMUST00000151309.6,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",Adgrb3,"0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,ENSMUST00000027312.10,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",Prim2,"0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,ENSMUST00000114313.6,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",Cflar,"-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...,...
22418,ENSMUST00000115964.2,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...",Tmlhe,"-1,0,1,1,2,2,2,0,"
22419,ENSMUST00000051100.6,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,",Vamp7,"0,0,1,0,0,2,0,-1,"
22420,ENSMUST00000167421.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,",CAAA01165726.1,"0,0,1,"
22421,ENSMUST00000076951.3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,",Spry3,"0,-1,"
22422,ENSMUST00000178569.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,",AC234645.1,"0,"

In [5]:
Data[1] = Data[12]

In [6]:
Data.drop([12], axis=1, inplace=True)

In [7]:
Data

,1,2,3,4,5,6,7,8,9,10,15
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...","-1,0,1,1,2,2,2,0,"
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,","0,0,1,0,0,2,0,-1,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,","0,0,1,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,","0,-1,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,","0,"

In [8]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds", "Interval"]

In [9]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...","-1,0,1,1,2,2,2,0,"
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,","0,0,1,0,0,2,0,-1,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,","0,0,1,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,","0,-1,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,","0,"

### Select coding genes

In [10]:
idx = (Data["cdsStart"] != Data["cdsEnd"])

In [11]:
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds","Interval"]]

In [12]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...","-1,0,1,1,2,2,2,0,"
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,","0,0,1,0,0,2,0,-1,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,","0,0,1,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,","0,-1,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,","0,"

### Keep standard chromosomes

In [13]:
Data = Data[:22357]

In [14]:
Data = Data[Data.exonCount > 2]

In [15]:
Data = Data.reset_index(drop = True)

In [16]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...
17709,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,"
17710,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,"
17711,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,"
17712,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,"
17713,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,"

In [17]:
StopCodon = pd.read_csv("/home/morgenlefay/iM6A/Annotation/StopCodon.csv")

In [18]:
StopCodon

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon
0,Lypla1,chr1,+,4807822,4846739,4807913,4845016,4844962,4846739,TGA
1,Gm37988,chr1,+,4807891,4886770,4807913,4832316,4886743,4886770,TGA
2,Tcea1,chr1,+,4857813,4897905,4857913,4896364,4896355,4897905,TGA
3,Atp6v1h,chr1,+,5083079,5162529,5084450,5162165,5162104,5162529,TGA
4,Oprk1,chr1,+,5588492,5606131,5589048,5602784,5602251,5606131,TGA
...,...,...,...,...,...,...,...,...,...,...
21626,Gm21764,chrY,-,18061269,18061812,18061269,18061812,18061269,18061812,TAG
21627,Gm21852,chrY,-,40651453,40651996,40651453,40651996,40651453,40651996,TAG
21628,Gm21797,chrY,-,40775222,40775765,40775222,40775765,40775222,40775765,TAG
21629,Gm29644,chrY,-,70271305,70303343,70301098,70301674,70271305,70271539,TAG
21630,Gm29423,chrY,-,70292584,70303287,70293440,70303173,70292584,70293452,TAG

In [19]:
StopCodon = StopCodon[["name","chrom","strand","txStart","txEnd"]]

In [20]:
Data = pd.merge(Data, StopCodon, how="inner", on=["name","chrom","strand","txStart","txEnd"])

In [21]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,"
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,"
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,"
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,"
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,"

In [22]:
Group = pd.read_csv("/home/morgenlefay/iM6A/Annotation/Group.csv")

In [23]:
Group

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,LastExonStart,LastExonEnd,Group
0,Xkr4,chr1,-,3214481,3671498,3216021,3671348,3,3214481,3216968,2
1,Rp1,chr1,-,4290845,4409241,4292980,4409187,4,4290845,4293012,2
2,Sox17,chr1,-,4491389,4497354,4491715,4495155,4,4491389,4492668,2
3,Mrpl15,chr1,-,4773210,4785739,4776463,4785677,5,4773210,4776801,2
4,Lypla1,chr1,+,4807822,4846739,4807913,4845016,9,4844962,4846739,2
...,...,...,...,...,...,...,...,...,...,...,...
22352,Gm21996,chrY,-,89713423,89745532,89713627,89744111,10,89713423,89713657,2
22353,Gm20837,chrY,+,90401247,90433263,90402678,90433059,8,90433029,90433263,2
22354,Gm21860,chrY,-,90754512,90754821,90754512,90754821,1,90754512,90754821,1
22355,Erdr1,chrY,+,90785441,90816464,90785670,90816447,4,90816435,90816464,2
22356,Gm21748,chrY,-,90838868,90839177,90838868,90839177,1,90838868,90839177,1

In [24]:
Group = Group[Group["Group"] != 1]
Group = Group[["name","chrom","strand","txStart","txEnd","Group"]]
Data = pd.merge(Data, Group, how="inner", on=["name","chrom","strand","txStart","txEnd"])

In [25]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",2
...,...,...,...,...,...,...,...,...,...,...,...,...
17577,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",2
17578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",2
17579,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",2
17580,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",2
17581,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",2

In [26]:
Data.to_csv("Temp/Data.csv", index=0)

### Create Exon Bed

In [27]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [28]:
for i in range(len(Positive)):
    df = pd.DataFrame(np.random.randn((Positive.loc[i,"exonCount"]), 3))
    df.columns = ["name", "chrom", "strand"]
    df["name"] = Positive.loc[i,"name"]
    df["chrom"] = Positive.loc[i,"chrom"]
    df["strand"] = Positive.loc[i,"strand"]
    
    exonStarts = Positive.loc[i, "exonStarts"].split(",")[0:-1]
    exonEnds = Positive.loc[i, "exonEnds"].split(",")[0:-1]
    exonInterval = Positive.loc[i, "Interval"].split(",")[0:-1]
    
    Start = pd.DataFrame(exonStarts, columns=["Start"])
    End = pd.DataFrame(exonEnds, columns=["End"])
    Interval = pd.DataFrame(exonInterval, columns=["Interval"])
    
    df = pd.concat([df, Start], axis=1)
    df = pd.concat([df, End], axis=1)
    df = pd.concat([df, Interval], axis=1)
    
    list = range(1, (Positive.loc[i,"exonCount"]+1))
    Count = pd.DataFrame(list, columns=["Count"])
    df = pd.concat([df, Count], axis=1)
    
    df["End"] = df["End"].astype(int)
    df["Start"] = df["Start"].astype(int)
    df["exonLength"] = df["End"] - df["Start"]
    df["cumsum"] = df["exonLength"].cumsum()
    
    df.to_csv("./Output1/{}.bed".format(Positive.loc[i,"name"]), sep="\t", index=False)

In [29]:
for i in range(len(Negative)):
    df = pd.DataFrame(np.random.randn((Negative.loc[i,"exonCount"]), 3))
    df.columns = ["name", "chrom", "strand"]
    df["name"] = Negative.loc[i,"name"]
    df["chrom"] = Negative.loc[i,"chrom"]
    df["strand"] = Negative.loc[i,"strand"]
    
    exonStarts = Negative.loc[i, "exonStarts"].split(",")[0:-1]
    exonEnds = Negative.loc[i, "exonEnds"].split(",")[0:-1]
    exonInterval = Negative.loc[i, "Interval"].split(",")[0:-1]
    
    Start = pd.DataFrame(exonStarts, columns=["Start"])
    End = pd.DataFrame(exonEnds, columns=["End"])
    Interval = pd.DataFrame(exonInterval, columns=["Interval"])
    
    df = pd.concat([df, Start], axis=1)
    df = pd.concat([df, End], axis=1)
    df = pd.concat([df, Interval], axis=1)
    
    df.sort_index(inplace=True, ascending=False)
    df = df.reset_index(drop = True)
    
    list = range(1, (Negative.loc[i,"exonCount"]+1))
    Count = pd.DataFrame(list, columns=["Count"])
    df = pd.concat([df, Count], axis=1)
    
    
    df["End"] = df["End"].astype(int)
    df["Start"] = df["Start"].astype(int)
    df["exonLength"] = df["End"] - df["Start"]
    df["cumsum"] = df["exonLength"].cumsum()
    
    df.to_csv("./Output1/{}.bed".format(Negative.loc[i,"name"]), sep="\t", index=False)

In [30]:
import glob,os

In [31]:
path = "Output1"

In [32]:
file = glob.glob(os.path.join(path, "*.bed"))

In [33]:
d = []
for f in file:
    d.append(pd.read_table(f))

In [34]:
Exon = pd.concat(d)

In [35]:
Exon = Exon[["chrom","Start","End","name","Count","strand","Interval","exonLength","cumsum"]]
Exon = Exon.reset_index(drop = True)

In [36]:
Exon.columns = ["chrom","exonStart","exonEnd","name","ExonOrder","strand","Interval","ExonLength","CumSum"]

In [37]:
Exon["Start"] = Exon["CumSum"] - Exon["ExonLength"]

In [38]:
Exon

,chrom,exonStart,exonEnd,name,ExonOrder,strand,Interval,ExonLength,CumSum,Start
0,chr19,47090765,47090867,Pdcd11,1,+,-1,102,102,0
1,chr19,47092781,47092900,Pdcd11,2,+,0,119,221,102
2,chr19,47093750,47093882,Pdcd11,3,+,0,132,353,221
3,chr19,47095207,47095375,Pdcd11,4,+,0,168,521,353
4,chr19,47096854,47097016,Pdcd11,5,+,0,162,683,521
...,...,...,...,...,...,...,...,...,...,...
199019,chr3,95133199,95133288,Scnm1,3,-,2,89,327,238
199020,chr3,95133016,95133111,Scnm1,4,-,1,95,422,327
199021,chr3,95132824,95132913,Scnm1,5,-,0,89,511,422
199022,chr3,95130163,95130358,Scnm1,6,-,2,195,706,511
199023,chr3,95129535,95129883,Scnm1,7,-,-1,348,1054,706

### Extract sequence

In [39]:
Data = pd.read_csv("Temp/Data.csv")

In [40]:
Gene = Data["name"].to_list()

In [41]:
Data = Data[["chrom","name","strand","txStart","txEnd","cdsStart","cdsEnd","exonCount"]]

In [42]:
Data = pd.merge(Data, Exon, how="inner", on=["chrom","name","strand"])

In [43]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,Interval,ExonLength,CumSum,Start
0,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134235227,134235431,1,-1,204,204,0
1,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134234014,134234412,2,0,398,602,204
2,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134199224,134203590,3,2,4366,4968,602
3,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9298132,9299238,1,-1,1106,1106,0
4,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9203178,9203260,2,-1,82,1188,1106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199019,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225791,61225821,8,0,30,908,878
199020,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225522,61225652,9,0,130,1038,908
199021,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225323,61225420,10,1,97,1135,1038
199022,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225132,61225214,11,2,82,1217,1135
199023,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61224401,61225033,12,0,632,1849,1217

In [44]:
Bed = Data[["chrom","exonStart","exonEnd","name","ExonOrder","strand"]]

In [45]:
Bed.to_csv("Temp/Temp.bed", sep="\t", header=False, index=False)

In [46]:
!bedtools getfasta -s -bed Temp/Temp.bed -fi /home/morgenlefay/Reference/Fasta/mm10.fa -fo Temp/Temp.txt

In [47]:
from Bio import SeqIO
from Bio.Seq import Seq

In [48]:
meta=[]
sequence=[]

In [49]:
seq = ('Temp/Temp.txt')

In [50]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [51]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [52]:
Data = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [53]:
Data.drop(["Meta"], axis=1, inplace=True)

In [54]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,Interval,ExonLength,CumSum,Start,Sequence
0,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134235227,134235431,1,-1,204,204,0,ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134234014,134234412,2,0,398,602,204,GTGCTGGCCTCGCGCCCCAGGGCGCCTGTCTGCTGATGTGCCCAGC...
2,chr1,Adora1,-,134199224,134235431,134202950,134234355,3,134199224,134203590,3,2,4366,4968,602,GTACAAGACAGTGGTGACTCAGCGGCGGGCAGCAGTGGCCATAGCC...
3,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9298132,9299238,1,-1,1106,1106,0,CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
4,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9203178,9203260,2,-1,82,1188,1106,GGATAACTCTCTGCCTGGCCGAGGACAGCTTCCATCTCCTTCCAAC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199019,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225791,61225821,8,0,30,908,878,AGCGCAGAGCCAGGAAGCACACCCCGGAAG
199020,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225522,61225652,9,0,130,1038,908,GTGCTCGTCGTGGAGGAGACCCGCCTCGCCTTCCCCAGCCCCGCCC...
199021,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225323,61225420,10,1,97,1135,1038,AGGCTGAGGACACGCGAGTGCCCGGTGCGCTCCTGTATGCAGTGAC...
199022,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225132,61225214,11,2,82,1217,1135,GTTCGAGGTGACGCGCCGACTCTTCCCGCCCATCCCAGGGATCAGG...
199023,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61224401,61225033,12,0,632,1849,1217,ACCCTCAGGAAGGACCTCCTGCAGCCCTAGACGTCCCGCCCCCAAC...

In [55]:
cDNA = []
for i in range(len(Gene)):
    
    df = Data[Data["name"]==Gene[i]]
    df = df.sort_values(by=["ExonOrder"], ascending=["True"])
    df = df.reset_index(drop = True)
    
    Sequence = df["Sequence"].to_list()
    Sequence = "".join(Sequence)
    Sequence = Sequence.upper()
    cDNA.append(Sequence)

In [56]:
cDNA = pd.DataFrame({"name":Gene, "cDNA":cDNA})

In [57]:
cDNA

          name                                               cDNA
0       Adora1  ACTCAGCTCCCGCGCCGGGGGCGACGAAGGCGCCGGCGCCAGAGTG...
1        Sntg1  CTTCGCGGCGATACAGCCTCTCGGAAACAAAGGTATCCCTAGCCTT...
2       Adgrb3  GGCTCTGGCCGCTGGATACCACCGCCCCCCCCCCTATTATTTTTTT...
3        Prim2  CTTCCCGTTCCAAATGAACTCTCCCGCCACTGGGAGAGAGCGGCTG...
4        Cflar  GAGCCTCTCAAGCGGCCACTTAGGGCCGGACAGAGTGTCTCTATTG...
...        ...                                                ...
17577  Fam204a  GACACGATGTTGGCGGGGTTCTAAGATGGCCGCCGAGCCGCTGTTT...
17578    Eif3a  GGCGCTGCCGCCGCGAGGGAATCACGTGGTTCCTTCCTTTCCGTCT...
17579    Sfxn4  GGGTTCTGGGGCGGGACACGCTGATAGGCTCCACCCCTTGCGCTGC...
17580    Prdx3  AGAAGCCACGCCCCAGGCAGAAGCACACCCGGCGTGCTCCGGCTAC...
17581   Csf2ra  GGGAGACAGACGGACAGACGGACGGACACAGACGCTGCGCCCAGGC...

[17582 rows x 2 columns]

In [58]:
Data.drop(["Sequence"], axis=1, inplace=True)

### M6A

In [59]:
M6A = pd.read_csv("Data/iM6A_Mouse_IL_Start.csv")

In [60]:
M6A

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonCount,exonStarts,exonEnds,Group,exonStart,exonEnd,ExonLength,Start,ID,m6APosition
0,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,4832310,4832381,71,306,ID80127,15
1,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,4832310,4832381,71,306,ID80127,15
2,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,4832310,4832381,71,306,ID80127,54
3,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,4832310,4832381,71,306,ID80127,54
4,chr1,4832377,4832378,Lypla1,+,0.0,0.006360,4807822,4846739,4807913,...,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,4832310,4832381,71,306,ID80127,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768032,chrY,89724896,89724897,Gm21996,-,0.0,0.039020,89713423,89745532,89713627,...,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,89724833,89724900,67,278,ID101758,3
768033,chrY,89731959,89731960,Gm21996,-,0.0,0.070523,89713423,89745532,89713627,...,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,89731936,89731971,35,243,ID101759,11
768034,chrY,89744025,89744026,Gm21996,-,0.0,0.012377,89713423,89745532,89713627,...,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,89743993,89744125,132,44,ID101753,99
768035,chrY,89744046,89744047,Gm21996,-,0.0,0.663240,89713423,89745532,89713627,...,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,89743993,89744125,132,44,ID101753,78
768036,chrY,89744124,89744125,Gm21996,-,0.0,0.000000,89713423,89745532,89713627,...,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,89743993,89744125,132,44,ID101753,0

In [61]:
M6A = M6A[(M6A["m6APosition"]<=100) | (M6A["ExonLength"]-M6A["m6APosition"]<=100)]
M6A = M6A.drop_duplicates()
M6A = M6A.reset_index(drop=True)

In [62]:
M6A

,chrom,m6AStart,m6AEnd,name,strand,WT,IL,txStart,txEnd,cdsStart,...,exonCount,exonStarts,exonEnds,Group,exonStart,exonEnd,ExonLength,Start,ID,m6APosition
0,chr1,4832325,4832326,Lypla1,+,0.0,0.491227,4807822,4846739,4807913,...,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,4832310,4832381,71,306,ID80127,15
1,chr1,4832364,4832365,Lypla1,+,0.0,0.007634,4807822,4846739,4807913,...,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,4832310,4832381,71,306,ID80127,54
2,chr1,4832377,4832378,Lypla1,+,0.0,0.006360,4807822,4846739,4807913,...,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,4832310,4832381,71,306,ID80127,67
3,chr1,4837045,4837046,Lypla1,+,0.0,0.016408,4807822,4846739,4807913,...,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,4837000,4837074,74,377,ID80126,45
4,chr1,4839430,4839431,Lypla1,+,0.0,0.027326,4807822,4846739,4807913,...,9,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",2,4839386,4839488,102,451,ID80125,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635972,chrY,89724896,89724897,Gm21996,-,0.0,0.039020,89713423,89745532,89713627,...,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,89724833,89724900,67,278,ID101758,3
635973,chrY,89731959,89731960,Gm21996,-,0.0,0.070523,89713423,89745532,89713627,...,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,89731936,89731971,35,243,ID101759,11
635974,chrY,89744025,89744026,Gm21996,-,0.0,0.012377,89713423,89745532,89713627,...,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,89743993,89744125,132,44,ID101753,99
635975,chrY,89744046,89744047,Gm21996,-,0.0,0.663240,89713423,89745532,89713627,...,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,89743993,89744125,132,44,ID101753,78
635976,chrY,89744124,89744125,Gm21996,-,0.0,0.000000,89713423,89745532,89713627,...,10,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",2,89743993,89744125,132,44,ID101753,0

In [63]:
M6A = M6A[["chrom","name","strand","m6AStart","m6AEnd","WT","IL","exonStart","exonEnd"]]

In [64]:
Data = pd.merge(Data, M6A, how="inner", on=["chrom","name","strand","exonStart","exonEnd"])

In [65]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,ExonOrder,Interval,ExonLength,CumSum,Start,m6AStart,m6AEnd,WT,IL
0,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9203178,9203260,2,-1,82,1188,1106,9203235,9203236,0.000000,0.007807
1,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9203178,9203260,2,-1,82,1188,1106,9203254,9203255,0.000000,0.000000
2,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,9203178,9203260,2,-1,82,1188,1106,9203215,9203216,0.000000,0.001675
3,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,8882160,8882214,4,-1,54,1306,1252,8882194,8882195,0.000000,0.033961
4,chr1,Sntg1,-,8361474,9299238,8363474,8803943,21,8803916,8803970,5,0,54,1360,1306,8803930,8803931,0.000000,0.032370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635972,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225132,61225214,11,2,82,1217,1135,61225151,61225152,0.001431,0.084445
635973,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225132,61225214,11,2,82,1217,1135,61225154,61225155,0.001259,0.063560
635974,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225132,61225214,11,2,82,1217,1135,61225166,61225167,0.007059,0.088595
635975,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225132,61225214,11,2,82,1217,1135,61225195,61225196,0.000000,0.007251
635976,chr19,Csf2ra,-,61224401,61228418,61225003,61227365,12,61225132,61225214,11,2,82,1217,1135,61225203,61225204,0.000000,0.013388

In [66]:
Data["Dvalue"] = Data["IL"] - Data["WT"]

In [67]:
Data["Mark"] = 0

In [68]:
Data.loc[Data["Dvalue"] > 0.1,"Mark"] = "Increase"
Data.loc[Data["Dvalue"]< -0.1,"Mark"] = "Decrease"
Data.loc[(Data["Mark"] == 0),"Mark"] = "NoSig"

In [69]:
Data = Data[Data["Mark"]=="Increase"]
Data = Data.reset_index(drop=True)

In [70]:
Data = Data.sample(n=10000, random_state=1)
Data = Data.reset_index(drop=True)

In [71]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,...,Interval,ExonLength,CumSum,Start,m6AStart,m6AEnd,WT,IL,Dvalue,Mark
0,chr10,Dctn2,+,127266261,127281959,127266498,127281487,14,127278119,127278222,...,0,103,1267,1164,127278178,127278179,0.004650,0.494060,0.489410,Increase
1,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46109264,46109340,...,1,76,875,799,46109297,46109298,0.000000,0.351345,0.351345,Increase
2,chr18,Skor2,+,76856404,76900342,76858584,76894155,9,76862637,76862709,...,1,72,2815,2743,76862650,76862651,0.000000,0.538327,0.538327,Increase
3,chr3,Chmp4c,+,10366906,10395337,10367031,10389973,5,10385551,10385729,...,1,178,493,315,10385725,10385726,0.000000,0.481342,0.481342,Increase
4,chr7,Umod,-,119462865,119479255,119463216,119478286,11,119476481,119476589,...,1,108,1168,1060,119476495,119476496,0.057915,0.280886,0.222971,Increase
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,chr19,Catsper1,+,5335740,5344153,5335740,5344153,12,5339467,5339559,...,2,92,1501,1409,5339474,5339475,0.000000,0.240758,0.240758,Increase
9996,chr7,Folh1,-,86719351,86775864,86719658,86775759,19,86762916,86763042,...,0,126,750,624,86763011,86763012,0.000000,0.382068,0.382068,Increase
9997,chr6,Il23r,-,67422931,67491855,67423364,67491780,11,67431605,67431708,...,1,103,1325,1222,67431688,67431689,0.000000,0.314865,0.314865,Increase
9998,chr4,Casz1,+,148804428,148954889,148901727,148952571,21,148944257,148944596,...,2,339,3816,3477,148944592,148944593,0.000000,0.338204,0.338204,Increase
9999,chr9,Mmp3,+,7445821,7455972,7445897,7455690,10,7451738,7451898,...,1,160,1311,1151,7451866,7451867,0.000000,0.136924,0.136924,Increase

In [72]:
Data = pd.merge(Data, cDNA, how="inner", on=["name"])

In [73]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,...,ExonLength,CumSum,Start,m6AStart,m6AEnd,WT,IL,Dvalue,Mark,cDNA
0,chr10,Dctn2,+,127266261,127281959,127266498,127281487,14,127278119,127278222,...,103,1267,1164,127278178,127278179,0.004650,0.494060,0.489410,Increase,ATTCCCTGTCGCTCTCACCAATCCCAGCCTGTCCAGGGGTGTGGTA...
1,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46109264,46109340,...,76,875,799,46109297,46109298,0.000000,0.351345,0.351345,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...
2,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46191650,46191819,...,169,4236,4067,46191717,46191718,0.000000,0.122635,0.122635,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...
3,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46124342,46124522,...,180,1485,1305,46124421,46124422,0.000000,0.395691,0.395691,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...
4,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46223071,46223227,...,156,6249,6093,46223099,46223100,0.000000,0.340605,0.340605,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,chr10,Dna2,+,62947025,62974185,62947092,62973319,21,62960211,62960442,...,231,1716,1485,62960248,62960249,0.044094,0.506255,0.462161,Increase,AGCGAGCTGGCGCTTCTCTAGCGCCGCGAGTTACGGCTGCCCGCTC...
9996,chr19,Catsper1,+,5335740,5344153,5335740,5344153,12,5339467,5339559,...,92,1501,1409,5339474,5339475,0.000000,0.240758,0.240758,Increase,ATGGATCAATCTTCAAGGAGGGACGAGTCTTACCATGAGACACACC...
9997,chr7,Folh1,-,86719351,86775864,86719658,86775759,19,86762916,86763042,...,126,750,624,86763011,86763012,0.000000,0.382068,0.382068,Increase,GACTTCTATTTCCCAGGGGAATAGCAGTGGGAGGAAATTTTAACCC...
9998,chr6,Il23r,-,67422931,67491855,67423364,67491780,11,67431605,67431708,...,103,1325,1222,67431688,67431689,0.000000,0.314865,0.314865,Increase,CAGGCAGTGGGAAAGAAGACAGCACAGCCAGGAGGGCAGCGGCTTG...
9999,chr9,Mmp3,+,7445821,7455972,7445897,7455690,10,7451738,7451898,...,160,1311,1151,7451866,7451867,0.000000,0.136924,0.136924,Increase,GTTGGGCTTAAGAAGGTGGACCTAGAAGGAGGCAGCAGAGAACCTA...

In [74]:
for i in range(len(Data)):
    Data.loc[i,"PreSequence"] = Data.loc[i,"cDNA"][0:(Data.loc[i,"Start"])]
    Data.loc[i,"ExonSequence"] = Data.loc[i,"cDNA"][(Data.loc[i,"Start"]):(Data.loc[i,"CumSum"])]
    Data.loc[i,"LastSequence"] = Data.loc[i,"cDNA"][(Data.loc[i,"CumSum"]):]

In [75]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,...,m6AStart,m6AEnd,WT,IL,Dvalue,Mark,cDNA,PreSequence,ExonSequence,LastSequence
0,chr10,Dctn2,+,127266261,127281959,127266498,127281487,14,127278119,127278222,...,127278178,127278179,0.004650,0.494060,0.489410,Increase,ATTCCCTGTCGCTCTCACCAATCCCAGCCTGTCCAGGGGTGTGGTA...,ATTCCCTGTCGCTCTCACCAATCCCAGCCTGTCCAGGGGTGTGGTA...,GTGCACCAGCTCTATGAGACCATCCAGCGCTGGAGCCCAGTCGCCT...,CTATGCAGTTTGGTCAGCTCCTGACACACTTGGATACCACCCAGCA...
1,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46109264,46109340,...,46109297,46109298,0.000000,0.351345,0.351345,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,TTGACTTTGTTTTAAAAGATCCCAGAAAAAAAGACGATGATGGCAA...,AATGGAAGTCTTGCCAAAGCCATGGAGGAGGTCTTTTCTATCTGCA...
2,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46191650,46191819,...,46191717,46191718,0.000000,0.122635,0.122635,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,GACCTTATTTGGAGCACTTCACCTGCACCTTGGAGGAGCACCTGAG...,GGACTGTTATCCTGTGGAGCCTGGGCTTGCTTTGATGAGTTTAACA...
3,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46124342,46124522,...,46124421,46124422,0.000000,0.395691,0.395691,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,GAATCAACTAGAGCTTTTGAACATCCAGGTTTCATTATGAGGTTGA...,GAAAGCAAATCTAAGCCAACAACTTTGAAGCCCATAATTCTGAATG...
4,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46223071,46223227,...,46223099,46223100,0.000000,0.340605,0.340605,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,AATTTTCTTTTAAATCAACTCAATAAGGACATCTACAAACCTCTTA...,ATAGTCTTTGTAGATGATGTGAATATGCCTGCCCGAGAGGTCTATG...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,chr10,Dna2,+,62947025,62974185,62947092,62973319,21,62960211,62960442,...,62960248,62960249,0.044094,0.506255,0.462161,Increase,AGCGAGCTGGCGCTTCTCTAGCGCCGCGAGTTACGGCTGCCCGCTC...,AGCGAGCTGGCGCTTCTCTAGCGCCGCGAGTTACGGCTGCCCGCTC...,GGAGGAGAGTGGCAACTGTGTTGGAAACCTGGTCAGGACGGAGCCT...,GAACTTGTCGACACTCCCAGCAACAACGGTGTTTCGATTAGACCGG...
9996,chr19,Catsper1,+,5335740,5344153,5335740,5344153,12,5339467,5339559,...,5339474,5339475,0.000000,0.240758,0.240758,Increase,ATGGATCAATCTTCAAGGAGGGACGAGTCTTACCATGAGACACACC...,ATGGATCAATCTTCAAGGAGGGACGAGTCTTACCATGAGACACACC...,CATCCTGACCAGCCTCCACGAAGTGGCCGGGACTCTGAGTGGATCT...,TCCTCTTCTCTGTGGTTCTCCGAGCACTGTTTCAGGACTCAGACCC...
9997,chr7,Folh1,-,86719351,86775864,86719658,86775759,19,86762916,86763042,...,86763011,86763012,0.000000,0.382068,0.382068,Increase,GACTTCTATTTCCCAGGGGAATAGCAGTGGGAGGAAATTTTAACCC...,GACTTCTATTTCCCAGGGGAATAGCAGTGGGAGGAAATTTTAACCC...,GGTGATCTAGTGTATGTCAACTATGCACGAACTGAAGACTTCTTTA...,GTTAAAAATGCTCAACTGGCAGGGGCAAAAGGAATGATTCTGTACT...
9998,chr6,Il23r,-,67422931,67491855,67423364,67491780,11,67431605,67431708,...,67431688,67431689,0.000000,0.314865,0.314865,Increase,CAGGCAGTGGGAAAGAAGACAGCACAGCCAGGAGGGCAGCGGCTTG...,CAGGCAGTGGGAAAGAAGACAGCACAGCCAGGAGGGCAGCGGCTTG...,GTAATCATCAAGACATTGGACTTTTGTCGGGAATGGTCTTCTTGGC...,AATTAAAAGAAAAGTTTTACTGATGATCCCAAAGTGGCTTTATGAA...
9999,chr9,Mmp3,+,7445821,7455972,7445897,7455690,10,7451738,7451898,...,7451866,7451867,0.000000,0.136924,0.136924,Increase,GTTGGGCTTAAGAAGGTGGACCTAGAAGGAGGCAGCAGAGAACCTA...,GTTGGGCTTAAGAAGGTGGACCTAGAAGGAGGCAGCAGAGAACCTA...,GAAATCAGTTCTGGGCTATACGAGGGCACGAGGAGCTAGCAGGTTA...,GTTTGATGAGAAGAAACAATCCATGGAGCCAGGATTTCCCAGGAAG...

### Define m6A position in Exon

In [76]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [77]:
Positive["m6APosition"] = Positive["m6AStart"] - Positive["exonStart"]
Negative["m6APosition"] = Negative["exonEnd"] - Negative["m6AEnd"]

In [78]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [79]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,...,m6AEnd,WT,IL,Dvalue,Mark,cDNA,PreSequence,ExonSequence,LastSequence,m6APosition
0,chr10,Dctn2,+,127266261,127281959,127266498,127281487,14,127278119,127278222,...,127278179,0.00465,0.494060,0.489410,Increase,ATTCCCTGTCGCTCTCACCAATCCCAGCCTGTCCAGGGGTGTGGTA...,ATTCCCTGTCGCTCTCACCAATCCCAGCCTGTCCAGGGGTGTGGTA...,GTGCACCAGCTCTATGAGACCATCCAGCGCTGGAGCCCAGTCGCCT...,CTATGCAGTTTGGTCAGCTCCTGACACACTTGGATACCACCCAGCA...,59
1,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46109264,46109340,...,46109298,0.00000,0.351345,0.351345,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,TTGACTTTGTTTTAAAAGATCCCAGAAAAAAAGACGATGATGGCAA...,AATGGAAGTCTTGCCAAAGCCATGGAGGAGGTCTTTTCTATCTGCA...,33
2,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46191650,46191819,...,46191718,0.00000,0.122635,0.122635,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,GACCTTATTTGGAGCACTTCACCTGCACCTTGGAGGAGCACCTGAG...,GGACTGTTATCCTGTGGAGCCTGGGCTTGCTTTGATGAGTTTAACA...,67
3,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46124342,46124522,...,46124422,0.00000,0.395691,0.395691,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,GAATCAACTAGAGCTTTTGAACATCCAGGTTTCATTATGAGGTTGA...,GAAAGCAAATCTAAGCCAACAACTTTGAAGCCCATAATTCTGAATG...,79
4,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46223071,46223227,...,46223100,0.00000,0.340605,0.340605,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,AATTTTCTTTTAAATCAACTCAATAAGGACATCTACAAACCTCTTA...,ATAGTCTTTGTAGATGATGTGAATATGCCTGCCCGAGAGGTCTATG...,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,chr4,Car6,-,150187014,150201332,150187404,150201109,8,150196055,150196148,...,150196115,0.00000,0.268128,0.268128,Increase,CCAGACATGGGCTAATTGGCTATGGTAATGCCCTGGGAGGAGGTGA...,CCAGACATGGGCTAATTGGCTATGGTAATGCCCTGGGAGGAGGTGA...,GCTCACTTTGTTCACTTCAATAAGGAATACGGGACCTATGAGAATG...,ATTGACGAGTATGCCGAAAACACTTACTACAGCGACATCATTTCTG...,33
9996,chr1,Hsd11b1,-,193221688,193264075,193222010,193242262,7,193223621,193223765,...,193223663,0.00000,0.137151,0.137151,Increase,CCAAAGAGTGAGAAACCACAGAGGAAAAGAGATGAGACAGAAGGAT...,CCAAAGAGTGAGAAACCACAGAGGAAAAGAGATGAGACAGAAGGAT...,GGAAAATGACCCAGCCTATGATTGCTCCCTACTCTGCAAGCAAGTT...,AAACAGCTATGAAGGAAATCTCTGGGATAATTAACGCCCAAGCTTC...,102
9997,chr2,Sh3glb2,-,30344808,30359316,30345319,30359205,11,30355260,30355402,...,30355314,0.00000,0.208209,0.208209,Increase,GAGGGCGGGCGCAGGCAGCAGGTGGGCGGGGTGCGGCGGGGTGCGT...,GAGGGCGGGCGCAGGCAGCAGGTGGGCGGGGTGCGGCGGGGTGCGT...,TTCACAGAGGAGAAGTTTGGCCAGGCTGAGAAGACGGAGCTTGACG...,GTGCTCGAGTGGAGGAGTTCCTATATGAGAAGCTGGACAGAAAGGT...,88
9998,chr7,Folh1,-,86719351,86775864,86719658,86775759,19,86762916,86763042,...,86763012,0.00000,0.382068,0.382068,Increase,GACTTCTATTTCCCAGGGGAATAGCAGTGGGAGGAAATTTTAACCC...,GACTTCTATTTCCCAGGGGAATAGCAGTGGGAGGAAATTTTAACCC...,GGTGATCTAGTGTATGTCAACTATGCACGAACTGAAGACTTCTTTA...,GTTAAAAATGCTCAACTGGCAGGGGCAAAAGGAATGATTCTGTACT...,30
9999,chr6,Il23r,-,67422931,67491855,67423364,67491780,11,67431605,67431708,...,67431689,0.00000,0.314865,0.314865,Increase,CAGGCAGTGGGAAAGAAGACAGCACAGCCAGGAGGGCAGCGGCTTG...,CAGGCAGTGGGAAAGAAGACAGCACAGCCAGGAGGGCAGCGGCTTG...,GTAATCATCAAGACATTGGACTTTTGTCGGGAATGGTCTTCTTGGC...,AATTAAAAGAAAAGTTTTACTGATGATCCCAAAGTGGCTTTATGAA...,19

In [80]:
for i in range(len(Data)):
    Data.loc[i,("Seq1")] = Data.loc[i,("ExonSequence")][0:(Data.loc[i,("m6APosition")]+1)]
    Data.loc[i,("Seq2")] = Data.loc[i,("ExonSequence")][(Data.loc[i,("m6APosition")]+1):]

In [81]:
Data

,chrom,name,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStart,exonEnd,...,IL,Dvalue,Mark,cDNA,PreSequence,ExonSequence,LastSequence,m6APosition,Seq1,Seq2
0,chr10,Dctn2,+,127266261,127281959,127266498,127281487,14,127278119,127278222,...,0.494060,0.489410,Increase,ATTCCCTGTCGCTCTCACCAATCCCAGCCTGTCCAGGGGTGTGGTA...,ATTCCCTGTCGCTCTCACCAATCCCAGCCTGTCCAGGGGTGTGGTA...,GTGCACCAGCTCTATGAGACCATCCAGCGCTGGAGCCCAGTCGCCT...,CTATGCAGTTTGGTCAGCTCCTGACACACTTGGATACCACCCAGCA...,59,GTGCACCAGCTCTATGAGACCATCCAGCGCTGGAGCCCAGTCGCCT...,CTGGTACAGCGACTTGTCACCATCAAGCAGCTGCATGAGCAAG
1,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46109264,46109340,...,0.351345,0.351345,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,TTGACTTTGTTTTAAAAGATCCCAGAAAAAAAGACGATGATGGCAA...,AATGGAAGTCTTGCCAAAGCCATGGAGGAGGTCTTTTCTATCTGCA...,33,TTGACTTTGTTTTAAAAGATCCCAGAAAAAAAGA,CGATGATGGCAAGATAACTGAACTCCCACCTCACCGTGCTGA
2,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46191650,46191819,...,0.122635,0.122635,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,GACCTTATTTGGAGCACTTCACCTGCACCTTGGAGGAGCACCTGAG...,GGACTGTTATCCTGTGGAGCCTGGGCTTGCTTTGATGAGTTTAACA...,67,GACCTTATTTGGAGCACTTCACCTGCACCTTGGAGGAGCACCTGAG...,CAGAAACAACCAAGGATTTAGCAAAAGCAGTTGCCAAACAGTGTGT...
3,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46124342,46124522,...,0.395691,0.395691,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,GAATCAACTAGAGCTTTTGAACATCCAGGTTTCATTATGAGGTTGA...,GAAAGCAAATCTAAGCCAACAACTTTGAAGCCCATAATTCTGAATG...,79,GAATCAACTAGAGCTTTTGAACATCCAGGTTTCATTATGAGGTTGA...,CTTTAATGACTACATTGATATCCTTATCAATGTCTATGAAATCATG...
4,chr1,Dnah7b,+,46066737,46373546,46066737,46373439,66,46223071,46223227,...,0.340605,0.340605,Increase,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,ATGCCTCAGAGAGCCACTCTGCTCGACCTCTCAGAAAGTTCTGCTC...,AATTTTCTTTTAAATCAACTCAATAAGGACATCTACAAACCTCTTA...,ATAGTCTTTGTAGATGATGTGAATATGCCTGCCCGAGAGGTCTATG...,28,AATTTTCTTTTAAATCAACTCAATAAGGA,CATCTACAAACCTCTTATAGTAAACTTCTCAGCCCAAACTACAGCA...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,chr4,Car6,-,150187014,150201332,150187404,150201109,8,150196055,150196148,...,0.268128,0.268128,Increase,CCAGACATGGGCTAATTGGCTATGGTAATGCCCTGGGAGGAGGTGA...,CCAGACATGGGCTAATTGGCTATGGTAATGCCCTGGGAGGAGGTGA...,GCTCACTTTGTTCACTTCAATAAGGAATACGGGACCTATGAGAATG...,ATTGACGAGTATGCCGAAAACACTTACTACAGCGACATCATTTCTG...,33,GCTCACTTTGTTCACTTCAATAAGGAATACGGGA,CCTATGAGAATGCCAAGGATCAAAAAAACGGCCTAGCTGTGTTAGC...
9996,chr1,Hsd11b1,-,193221688,193264075,193222010,193242262,7,193223621,193223765,...,0.137151,0.137151,Increase,CCAAAGAGTGAGAAACCACAGAGGAAAAGAGATGAGACAGAAGGAT...,CCAAAGAGTGAGAAACCACAGAGGAAAAGAGATGAGACAGAAGGAT...,GGAAAATGACCCAGCCTATGATTGCTCCCTACTCTGCAAGCAAGTT...,AAACAGCTATGAAGGAAATCTCTGGGATAATTAACGCCCAAGCTTC...,102,GGAAAATGACCCAGCCTATGATTGCTCCCTACTCTGCAAGCAAGTT...,CGTGTCCATCACTCTCTGTGTCCTTGGCCTCATAGACACAG
9997,chr2,Sh3glb2,-,30344808,30359316,30345319,30359205,11,30355260,30355402,...,0.208209,0.208209,Increase,GAGGGCGGGCGCAGGCAGCAGGTGGGCGGGGTGCGGCGGGGTGCGT...,GAGGGCGGGCGCAGGCAGCAGGTGGGCGGGGTGCGGCGGGGTGCGT...,TTCACAGAGGAGAAGTTTGGCCAGGCTGAGAAGACGGAGCTTGACG...,GTGCTCGAGTGGAGGAGTTCCTATATGAGAAGCTGGACAGAAAGGT...,88,TTCACAGAGGAGAAGTTTGGCCAGGCTGAGAAGACGGAGCTTGACG...,CTGGACAGAGCGGATCCTGAGGCAGACCGAGGTGCTGCTGCAGCCC...
9998,chr7,Folh1,-,86719351,86775864,86719658,86775759,19,86762916,86763042,...,0.382068,0.382068,Increase,GACTTCTATTTCCCAGGGGAATAGCAGTGGGAGGAAATTTTAACCC...,GACTTCTATTTCCCAGGGGAATAGCAGTGGGAGGAAATTTTAACCC...,GGTGATCTAGTGTATGTCAACTATGCACGAACTGAAGACTTCTTTA...,GTTAAAAATGCTCAACTGGCAGGGGCAAAAGGAATGATTCTGTACT...,30,GGTGATCTAGTGTATGTCAACTATGCACGAA,CTGAAGACTTCTTTAAACTGGAACGGGAAATGAAGATCAGTTGTTC...
9999,chr6,Il23r,-,67422931,67491855,67423364,67491780,11,67431605,67431708,...,0.314865,0.314865,Increase,CAGGCAGTGGGAAAGAAGACAGCACAGCCAGGAGGGCAGCGGCTTG...,CAGGCAGTGGGAAAGAAGACAGCACAGCCAGGAGGGCAGCGGCTTG...,GTAATCATCAAGACATTGGACTTTTGTCGGGAATGGTCTTCTTGGC...,AATTAAAAGAAAAGTTTTACTGATGATCCCAAAGTGGCTTTATGAA...,19,GTAATCATCAAGACATTGGA,CTTTTGTCGGGAATGGTCTTCTTGGCCATCATGTTGCCGATTTTTT...

In [82]:
for i in range(len(Data)):
    Data.loc[i,("Seq1")] = Data.loc[i,"PreSequence"] + Data.loc[i,("Seq1")]
    Data.loc[i,("Seq2")] = Data.loc[i,("Seq2")] + Data.loc[i,"LastSequence"]

In [83]:
for i in range(len(Data)):
    if len(Data.loc[i,("Seq1")]) >= 51:
        Data.loc[i,("Seq1")] = Data.loc[i,("Seq1")][-51:]
    if len(Data.loc[i,("Seq1")]) < 51:
        Data.loc[i,("Seq1")] = Data.loc[i,("Seq1")]

In [84]:
for i in range(len(Data)):
    if len(Data.loc[i,"Seq2"]) >= 59:
        Data.loc[i,"Seq2"] = Data.loc[i,"Seq2"][0:59]
    if len(Data.loc[i,"Seq2"]) < 59:
        Data.loc[i,"Seq2"] = Data.loc[i,"Seq2"]

In [85]:
for i in range(len(Data)):
    Data.loc[i,"Seq1_Length"] = len(Data.loc[i,"Seq1"])
    Data.loc[i,"Seq2_Length"] = len(Data.loc[i,"Seq2"])

In [86]:
Data["Seq1_Length"] = Data["Seq1_Length"].astype(int)
Data["Seq2_Length"] = Data["Seq2_Length"].astype(int)

### Enhancer & Silencer

In [87]:
Enhancer = pd.read_csv("Mouse_Motif_Regression_LastExon.csv")

In [88]:
Enhancer = Enhancer.head(100)

In [89]:
Enhancer = Enhancer["Name"].to_list()

In [90]:
Silencer = pd.read_csv("Mouse_Motif_Regression_LastExon.csv")

In [91]:
Silencer = Silencer.tail(100)

In [92]:
Silencer = Silencer["Name"].to_list()

In [93]:
motif_diFasta = dict()
positions = range(0, 110)
posi_str = []
for element in positions:
    posi_str.append(str(element))
motif_dic1 = dict.fromkeys(posi_str, 0)

In [94]:
motif_dic2 = dict()
positions = range(0, 110)
posi_str = []
for element in positions:
    posi_str.append(str(element))
motif_dic2 = dict.fromkeys(posi_str, 0)

In [95]:
for i in range(len(Data)):
    Seq1 = Data.loc[i,"Seq1"]
    Seq2 = Data.loc[i,"Seq2"]
    
    if len(Seq1)<51:
        Seq1 = "N"*(51-len(Seq1)) + Seq1
    if len(Seq2)<59:
        Seq2 = Seq2 + "N"*(59-len(Seq2))

    Seq = Seq1 + Seq2
    Seq = Seq.upper()
   
    for j in range(0, len(Seq)-6, 1):
        string = Seq[j:j+5]
        if(string in Enhancer):
            motif_dic1[str(j)]+=1
            
    for j in range(0, len(Seq)-6, 1):
        string = Seq[j:j+5]
        if(string in Silencer):
            motif_dic2[str(j)]+=1

In [96]:
Position = pd.DataFrame({"Index":range(0, 110)})

In [97]:
Value=[]
for i in range(0,110,1):
    Value.append(int(motif_dic1[str(i)]))
Position["Enhancer"]=Value

In [98]:
Value=[]
for i in range(0,110,1):
    Value.append(int(motif_dic2[str(i)]))
Position["Silencer"]=Value

In [99]:
Position

     Index  Enhancer  Silencer
0        0      1169       862
1        1      1263       863
2        2      1241       914
3        3      1271       871
4        4      1220       875
..     ...       ...       ...
105    105         0         0
106    106         0         0
107    107         0         0
108    108         0         0
109    109         0         0

[110 rows x 3 columns]

### Gene number

In [100]:
df = pd.DataFrame({"Index":range(0, 110)})

In [101]:
for i in range(len(Data)):
    
    Seq1_Length = Data.loc[i,"Seq1_Length"]
    Seq2_Length = Data.loc[i,"Seq2_Length"]
    
    if Seq1_Length < 51:
        List1 = [0]*(51-Seq1_Length) + [1]*Seq1_Length
    if Seq1_Length >= 51:
        List1 = [1]*51
        
    if Seq2_Length < 59:
        List2 = [1]*Seq2_Length + [0]*(59-Seq2_Length)
    if Seq2_Length >= 59:
        List2 = [1]*59    

    lis = List1 + List2
    New = np.array(lis)
    New = pd.DataFrame({i:New})
    df = pd.merge(df, New, left_index=True, right_index=True)

In [102]:
df

,Index,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,3,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,4,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,105,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
106,106,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
107,107,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
108,108,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
109,109,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [103]:
df.drop(["Index"], axis=1, inplace=True)
df = df.T
df.loc["col_sum"] = df.sum()
df = df.T
Number = df[["col_sum"]]
Number.columns = ["Number"]

In [104]:
Number

     Number
0     10000
1     10000
2     10000
3     10000
4     10000
..      ...
105   10000
106   10000
107   10000
108   10000
109   10000

[110 rows x 1 columns]

In [105]:
Data = pd.concat([Position, Number], axis=1)

In [106]:
Data["Enhancer"] = Data["Enhancer"]/Data["Number"]
Data["Silencer"] = Data["Silencer"]/Data["Number"]

In [107]:
Data

     Index  Enhancer  Silencer  Number
0        0    0.1169    0.0862   10000
1        1    0.1263    0.0863   10000
2        2    0.1241    0.0914   10000
3        3    0.1271    0.0871   10000
4        4    0.1220    0.0875   10000
..     ...       ...       ...     ...
105    105    0.0000    0.0000   10000
106    106    0.0000    0.0000   10000
107    107    0.0000    0.0000   10000
108    108    0.0000    0.0000   10000
109    109    0.0000    0.0000   10000

[110 rows x 4 columns]

In [108]:
Data.to_csv("Mouse_Enhancer&Silencer_InternalExon_Increase.csv", index=0)