In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("/home/morgenlefay/iM6A/Annotation/UniqmRNA_GENCODE_VM7com_mm10_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data.drop([0,11,13,14], axis=1, inplace=True)

In [4]:
Data

,1,2,3,4,5,6,7,8,9,10,12,15
0,ENSMUST00000086465.5,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",Adora1,"2,0,-1,"
1,ENSMUST00000140295.6,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",Sntg1,"0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,ENSMUST00000151309.6,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",Adgrb3,"0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,ENSMUST00000027312.10,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",Prim2,"0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,ENSMUST00000114313.6,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",Cflar,"-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...,...
22418,ENSMUST00000115964.2,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...",Tmlhe,"-1,0,1,1,2,2,2,0,"
22419,ENSMUST00000051100.6,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,",Vamp7,"0,0,1,0,0,2,0,-1,"
22420,ENSMUST00000167421.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,",CAAA01165726.1,"0,0,1,"
22421,ENSMUST00000076951.3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,",Spry3,"0,-1,"
22422,ENSMUST00000178569.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,",AC234645.1,"0,"

In [5]:
Data[1] = Data[12]

In [6]:
Data.drop([12], axis=1, inplace=True)

In [7]:
Data

,1,2,3,4,5,6,7,8,9,10,15
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...","-1,0,1,1,2,2,2,0,"
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,","0,0,1,0,0,2,0,-1,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,","0,0,1,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,","0,-1,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,","0,"

In [8]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds", "Interval"]

In [9]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...","-1,0,1,1,2,2,2,0,"
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,","0,0,1,0,0,2,0,-1,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,","0,0,1,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,","0,-1,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,","0,"

### Keep standard chromosomes

In [10]:
Data = Data[:22357]

In [11]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,"
22353,Gm7102,chr19,-,61174685,61176309,61175458,61175995,1,"61174685,","61176309,","0,"
22354,Gm6020,chr19,+,61183889,61183955,61183889,61183955,1,"61183889,","61183955,","0,"
22355,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,"
22356,Gm21060,chr19,-,61296901,61297069,61296901,61297069,1,"61296901,","61297069,","0,"

In [12]:
Data = Data[Data.exonCount > 1]
Data = Data.reset_index(drop = True)

In [13]:
StopCodon = pd.read_csv("/home/morgenlefay/iM6A/Annotation/StopCodon.csv")

In [14]:
StopCodon = StopCodon[["name","chrom","strand","txStart","txEnd"]]

In [15]:
Data = pd.merge(Data, StopCodon, how="inner", on=["name","chrom","strand","txStart","txEnd"])

In [16]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...
19099,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,"
19100,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,"
19101,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,"
19102,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,"
19103,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,"

In [17]:
Group = pd.read_csv("/home/morgenlefay/iM6A/Annotation/Group.csv")

In [18]:
Group = Group[Group["Group"] == 2]
Group = Group[["name","chrom","strand","txStart","txEnd","Group"]]

In [19]:
Data = pd.merge(Data, Group, how="inner", on=["name","chrom","strand","txStart","txEnd"])

In [20]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",2
...,...,...,...,...,...,...,...,...,...,...,...,...
18108,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",2
18109,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",2
18110,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",2
18111,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",2
18112,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",2

In [21]:
Data.to_csv("Temp/Data.csv", index=0)

### Create Exon Bed

In [22]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [23]:
for i in range(len(Positive)):
    df = pd.DataFrame(np.random.randn((Positive.loc[i,"exonCount"]), 3))
    df.columns = ["name", "chrom", "strand"]
    df["name"] = Positive.loc[i,"name"]
    df["chrom"] = Positive.loc[i,"chrom"]
    df["strand"] = Positive.loc[i,"strand"]
    
    exonStarts = Positive.loc[i, "exonStarts"].split(",")[0:-1]
    exonEnds = Positive.loc[i, "exonEnds"].split(",")[0:-1]
    exonInterval = Positive.loc[i, "Interval"].split(",")[0:-1]
    
    Start = pd.DataFrame(exonStarts, columns=["Start"])
    End = pd.DataFrame(exonEnds, columns=["End"])
    Interval = pd.DataFrame(exonInterval, columns=["Interval"])
    
    df = pd.concat([df, Start], axis=1)
    df = pd.concat([df, End], axis=1)
    df = pd.concat([df, Interval], axis=1)
    
    list = range(1, (Positive.loc[i,"exonCount"]+1))
    Count = pd.DataFrame(list, columns=["Count"])
    df = pd.concat([df, Count], axis=1)
    
    df["End"] = df["End"].astype(int)
    df["Start"] = df["Start"].astype(int)
    df["exonLength"] = df["End"] - df["Start"]
    df["cumsum"] = df["exonLength"].cumsum()
    
    df.to_csv("./Outputs/{}.bed".format(Positive.loc[i,"name"]), sep="\t", index=False)

In [24]:
for i in range(len(Negative)):
    df = pd.DataFrame(np.random.randn((Negative.loc[i,"exonCount"]), 3))
    df.columns = ["name", "chrom", "strand"]
    df["name"] = Negative.loc[i,"name"]
    df["chrom"] = Negative.loc[i,"chrom"]
    df["strand"] = Negative.loc[i,"strand"]
    
    exonStarts = Negative.loc[i, "exonStarts"].split(",")[0:-1]
    exonEnds = Negative.loc[i, "exonEnds"].split(",")[0:-1]
    exonInterval = Negative.loc[i, "Interval"].split(",")[0:-1]
    
    Start = pd.DataFrame(exonStarts, columns=["Start"])
    End = pd.DataFrame(exonEnds, columns=["End"])
    Interval = pd.DataFrame(exonInterval, columns=["Interval"])
    
    df = pd.concat([df, Start], axis=1)
    df = pd.concat([df, End], axis=1)
    df = pd.concat([df, Interval], axis=1)
    
    df.sort_index(inplace=True, ascending=False)
    df = df.reset_index(drop = True)
    
    list = range(1, (Negative.loc[i,"exonCount"]+1))
    Count = pd.DataFrame(list, columns=["Count"])
    df = pd.concat([df, Count], axis=1)
    
    
    df["End"] = df["End"].astype(int)
    df["Start"] = df["Start"].astype(int)
    df["exonLength"] = df["End"] - df["Start"]
    df["cumsum"] = df["exonLength"].cumsum()
    
    df.to_csv("./Outputs/{}.bed".format(Negative.loc[i,"name"]), sep="\t", index=False)

### Read multiple files

In [25]:
import glob,os

In [26]:
path = "Outputs"

In [27]:
file = glob.glob(os.path.join(path, "*.bed"))

In [28]:
d = []
for f in file:
    d.append(pd.read_table(f))

In [29]:
Exon = pd.concat(d)

In [30]:
Exon = Exon[["chrom","Start","End","name","Count","strand","Interval","exonLength","cumsum"]]
Exon = Exon.reset_index(drop = True)

In [31]:
Exon.columns = ["chrom","exonStart","exonEnd","name","ExonOrder","strand","Interval","ExonLength","CumSum"]

In [32]:
Exon

,chrom,exonStart,exonEnd,name,ExonOrder,strand,Interval,ExonLength,CumSum
0,chr19,47090765,47090867,Pdcd11,1,+,-1,102,102
1,chr19,47092781,47092900,Pdcd11,2,+,0,119,221
2,chr19,47093750,47093882,Pdcd11,3,+,0,132,353
3,chr19,47095207,47095375,Pdcd11,4,+,0,168,521
4,chr19,47096854,47097016,Pdcd11,5,+,0,162,683
...,...,...,...,...,...,...,...,...,...
191255,chr12,51623175,51623343,Strn3,14,-,1,168,2096
191256,chr12,51621779,51621920,Strn3,15,-,1,141,2237
191257,chr12,51619813,51619921,Strn3,16,-,1,108,2345
191258,chr12,51610359,51610446,Strn3,17,-,1,87,2432
191259,chr12,51608540,51610272,Strn3,18,-,1,1732,4164

In [33]:
Exon["Start"] = Exon["CumSum"] - Exon["ExonLength"]

In [34]:
Exon

,chrom,exonStart,exonEnd,name,ExonOrder,strand,Interval,ExonLength,CumSum,Start
0,chr19,47090765,47090867,Pdcd11,1,+,-1,102,102,0
1,chr19,47092781,47092900,Pdcd11,2,+,0,119,221,102
2,chr19,47093750,47093882,Pdcd11,3,+,0,132,353,221
3,chr19,47095207,47095375,Pdcd11,4,+,0,168,521,353
4,chr19,47096854,47097016,Pdcd11,5,+,0,162,683,521
...,...,...,...,...,...,...,...,...,...,...
191255,chr12,51623175,51623343,Strn3,14,-,1,168,2096,1928
191256,chr12,51621779,51621920,Strn3,15,-,1,141,2237,2096
191257,chr12,51619813,51619921,Strn3,16,-,1,108,2345,2237
191258,chr12,51610359,51610446,Strn3,17,-,1,87,2432,2345
191259,chr12,51608540,51610272,Strn3,18,-,1,1732,4164,2432

In [35]:
Exon.to_csv("MouseExonBed.csv", index=0)

In [36]:
Exon.drop(["Interval","ExonLength","CumSum","Start"], axis=1, inplace=True)

In [37]:
Exon.to_csv("Temp/MouseExonBed.csv", index=0)