In [1]:
import numpy as np
import pandas as pd
from Bio.Seq import Seq
from Bio.SeqUtils import nt_search

### Read data

In [2]:
Fasta = pd.read_csv("Temp/mm10_M6A.csv")

In [3]:
Fasta

,chrom,m6AStart,m6AEnd,name,strand,Probabilty,txStart,txEnd,cdsStart,cdsEnd,...,exonStarts,exonEnds,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS,Distance
0,chr1,4807850,4807851,Lypla1,+,0.0,4807822,4846739,4807913,4845016,...,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",4844962,4846739,38917,0,28,0,730,-702
1,chr1,4807890,4807891,Lypla1,+,0.0,4807822,4846739,4807913,4845016,...,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",4844962,4846739,38917,0,68,0,730,-662
2,chr1,4807923,4807924,Lypla1,+,0.0,4807822,4846739,4807913,4845016,...,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",4844962,4846739,38917,0,101,0,730,-629
3,chr1,4807923,4807924,Lypla1,+,0.0,4807822,4846739,4807913,4845016,...,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",4844962,4846739,38917,0,101,0,730,-629
4,chr1,4807926,4807927,Lypla1,+,0.0,4807822,4846739,4807913,4845016,...,"4807822,4808454,4828583,4830267,4832310,483700...","4807982,4808486,4828649,4830315,4832381,483707...",4844962,4846739,38917,0,104,0,730,-626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871760,chrY,89724896,89724897,Gm21996,-,0.0,89713423,89745532,89713627,89744111,...,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",89713423,89713657,32109,1,281,0,697,-416
871761,chrY,89731959,89731960,Gm21996,-,0.0,89713423,89745532,89713627,89744111,...,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",89713423,89713657,32109,2,254,0,697,-443
871762,chrY,89744025,89744026,Gm21996,-,0.0,89713423,89745532,89713627,89744111,...,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",89713423,89713657,32109,0,143,0,697,-554
871763,chrY,89744046,89744047,Gm21996,-,0.0,89713423,89745532,89713627,89744111,...,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",89713423,89713657,32109,0,122,0,697,-575
871764,chrY,89744124,89744125,Gm21996,-,0.0,89713423,89745532,89713627,89744111,...,"89713423,89714015,89716123,89716975,89724233,8...","89713657,89714114,89716223,89717093,89724268,8...",89713423,89713657,32109,0,44,0,697,-653

In [4]:
Cluster = pd.read_csv("Heatmap/Mouse_Cluster_LastExon.csv")

In [5]:
Cluster = Cluster[Cluster["Cluster"]=="C2"]

In [7]:
Fasta = pd.merge(Fasta, Cluster, how="inner", on=["name"])

In [8]:
Fasta["LastExonLength"] = Fasta["LastExonEnd"]-Fasta["LastExonStart"]

In [9]:
Fasta

,chrom,m6AStart,m6AEnd,name,strand,Probabilty,txStart,txEnd,cdsStart,cdsEnd,...,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS,Distance,Cluster,LastExonLength
0,chr1,4807850,4807851,Lypla1,+,0.000000,4807822,4846739,4807913,4845016,...,4844962,4846739,38917,0,28,0,730,-702,C2,1777
1,chr1,4807890,4807891,Lypla1,+,0.000000,4807822,4846739,4807913,4845016,...,4844962,4846739,38917,0,68,0,730,-662,C2,1777
2,chr1,4807923,4807924,Lypla1,+,0.000000,4807822,4846739,4807913,4845016,...,4844962,4846739,38917,0,101,0,730,-629,C2,1777
3,chr1,4807923,4807924,Lypla1,+,0.000000,4807822,4846739,4807913,4845016,...,4844962,4846739,38917,0,101,0,730,-629,C2,1777
4,chr1,4807926,4807927,Lypla1,+,0.000000,4807822,4846739,4807913,4845016,...,4844962,4846739,38917,0,104,0,730,-626,C2,1777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668479,chrY,70303183,70303184,Gm29423,-,0.008378,70292584,70303287,70293440,70303173,...,70292584,70293452,10703,0,103,0,270,-167,C2,868
668480,chrY,70303225,70303226,Gm29423,-,0.000000,70292584,70303287,70293440,70303173,...,70292584,70293452,10703,0,61,0,270,-209,C2,868
668481,chrY,70303225,70303226,Gm29423,-,0.000000,70292584,70303287,70293440,70303173,...,70292584,70293452,10703,0,61,0,270,-209,C2,868
668482,chrY,70303231,70303232,Gm29423,-,0.000000,70292584,70303287,70293440,70303173,...,70292584,70293452,10703,0,55,0,270,-215,C2,868
668483,chrY,70303231,70303232,Gm29423,-,0.000000,70292584,70303287,70293440,70303173,...,70292584,70293452,10703,0,55,0,270,-215,C2,868

In [10]:
Name = Fasta["name"].tolist()
Name = list(set(Name))

In [11]:
Value = dict(zip(Name, [[0]*2001]*(len(Name))))
Count = dict(zip(Name, [[]]*(len(Name))))

### Select positive strand

In [12]:
Fasta_Pos = Fasta[Fasta["strand"]=="+"]

In [13]:
Fasta_Pos = Fasta_Pos.reset_index(drop = True)

In [14]:
Fasta_Pos

,chrom,m6AStart,m6AEnd,name,strand,Probabilty,txStart,txEnd,cdsStart,cdsEnd,...,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS,Distance,Cluster,LastExonLength
0,chr1,4807850,4807851,Lypla1,+,0.000000,4807822,4846739,4807913,4845016,...,4844962,4846739,38917,0,28,0,730,-702,C2,1777
1,chr1,4807890,4807891,Lypla1,+,0.000000,4807822,4846739,4807913,4845016,...,4844962,4846739,38917,0,68,0,730,-662,C2,1777
2,chr1,4807923,4807924,Lypla1,+,0.000000,4807822,4846739,4807913,4845016,...,4844962,4846739,38917,0,101,0,730,-629,C2,1777
3,chr1,4807923,4807924,Lypla1,+,0.000000,4807822,4846739,4807913,4845016,...,4844962,4846739,38917,0,101,0,730,-629,C2,1777
4,chr1,4807926,4807927,Lypla1,+,0.000000,4807822,4846739,4807913,4845016,...,4844962,4846739,38917,0,104,0,730,-626,C2,1777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340896,chrY,40807068,40807069,Gm20795,+,0.020902,40804913,40807356,40806530,40807229,...,40806390,40807356,2443,0,1056,0,378,678,C2,966
340897,chrY,40807170,40807171,Gm20795,+,0.016788,40804913,40807356,40806530,40807229,...,40806390,40807356,2443,0,1158,0,378,780,C2,966
340898,chrY,40807238,40807239,Gm20795,+,0.198738,40804913,40807356,40806530,40807229,...,40806390,40807356,2443,0,1226,0,378,848,C2,966
340899,chrY,40807244,40807245,Gm20795,+,0.051975,40804913,40807356,40806530,40807229,...,40806390,40807356,2443,0,1232,0,378,854,C2,966
340900,chrY,40807253,40807254,Gm20795,+,0.092028,40804913,40807356,40806530,40807229,...,40806390,40807356,2443,0,1241,0,378,863,C2,966

In [15]:
M6APOS = Fasta_Pos["M6APOS"].tolist()
StopPOS = Fasta_Pos["POS"].tolist()
Distance = Fasta_Pos["Distance"].tolist()

In [16]:
for i in range(len(Fasta_Pos)):

    # Define exon location
    Exon = []
    a = Fasta_Pos.loc[i, "exonStarts"].split(",")[0:-1]
    b = Fasta_Pos.loc[i, "exonEnds"].split(",")[0:-1]
    A = [int(u) for u in a]
    B = [int(v) for v in b]
    Exon = A + B
    Exon = sorted(Exon)
    
    # Define exon length
    Length = []
    for j in range(0,len(Exon),2):
        length = Exon[j+1] - Exon[j]
        Length.append(length)
    cDNA = sum(Length)
    
    
    # Define gene number
    Pre = StopPOS[i]
    Last = cDNA - StopPOS[i]
    
    if Pre < 1000:
        pre = [0]*(1000-Pre) + [1]*Pre
    if Pre >= 1000:
        pre = [1]*1000
    
    if Last < 1001:
        last = [1]*Last + [0]*(1001-Last)
    if Last >= 1001:
        last = [1]*1001    
    
    Gene = Fasta_Pos.loc[i, "name"]
    Count[Gene] = pre + last
    
    
    # Define m6A position
    Location = 1000 + Distance[i]
    List = []
    List = Value[Gene]
    List = List[0:Location] + [Fasta_Pos.loc[i,"Probabilty"]] + List[Location+1:]
    # List = List[0:Location] + [1] + List[Location+1:]
    lis = List
    Value.update({Gene:lis})

### Select negative strand

In [17]:
Fasta_Neg = Fasta[Fasta["strand"]=="-"]

In [18]:
Fasta_Neg = Fasta_Neg.reset_index(drop = True)

In [19]:
Fasta_Neg

,chrom,m6AStart,m6AEnd,name,strand,Probabilty,txStart,txEnd,cdsStart,cdsEnd,...,LastExonStart,LastExonEnd,GeneLength,Interval_x,M6APOS,Interval_y,POS,Distance,Cluster,LastExonLength
0,chr1,3215985,3215986,Xkr4,-,0.113791,3214481,3671498,3216021,3671348,...,3214481,3216968,457017,1,2129,1,1147,982,C2,2487
1,chr1,3216032,3216033,Xkr4,-,0.023029,3214481,3671498,3216021,3671348,...,3214481,3216968,457017,1,2082,1,1147,935,C2,2487
2,chr1,3216147,3216148,Xkr4,-,0.555833,3214481,3671498,3216021,3671348,...,3214481,3216968,457017,1,1967,1,1147,820,C2,2487
3,chr1,3216181,3216182,Xkr4,-,0.317840,3214481,3671498,3216021,3671348,...,3214481,3216968,457017,1,1933,1,1147,786,C2,2487
4,chr1,3216216,3216217,Xkr4,-,0.190659,3214481,3671498,3216021,3671348,...,3214481,3216968,457017,1,1898,1,1147,751,C2,2487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327578,chrY,70303183,70303184,Gm29423,-,0.008378,70292584,70303287,70293440,70303173,...,70292584,70293452,10703,0,103,0,270,-167,C2,868
327579,chrY,70303225,70303226,Gm29423,-,0.000000,70292584,70303287,70293440,70303173,...,70292584,70293452,10703,0,61,0,270,-209,C2,868
327580,chrY,70303225,70303226,Gm29423,-,0.000000,70292584,70303287,70293440,70303173,...,70292584,70293452,10703,0,61,0,270,-209,C2,868
327581,chrY,70303231,70303232,Gm29423,-,0.000000,70292584,70303287,70293440,70303173,...,70292584,70293452,10703,0,55,0,270,-215,C2,868
327582,chrY,70303231,70303232,Gm29423,-,0.000000,70292584,70303287,70293440,70303173,...,70292584,70293452,10703,0,55,0,270,-215,C2,868

In [20]:
M6APOS = Fasta_Neg["M6APOS"].tolist()
StopPOS = Fasta_Neg["POS"].tolist()
Distance = Fasta_Neg["Distance"].tolist()

In [21]:
for i in range(len(Fasta_Neg)):

    # Define exon location
    Exon = []
    a = Fasta_Neg.loc[i, "exonStarts"].split(",")[0:-1]
    b = Fasta_Neg.loc[i, "exonEnds"].split(",")[0:-1]
    A = [int(u) for u in a]
    B = [int(v) for v in b]
    Exon = A + B
    Exon = sorted(Exon)
    
    # Define exon length
    Length = []
    for j in range(0,len(Exon),2):
        length = Exon[j+1] - Exon[j]
        Length.append(length)
    Length = Length[::-1]
    cDNA = sum(Length)
    
    
    # Define gene number
    Pre = StopPOS[i]
    Last = cDNA - StopPOS[i]
    
    if Pre < 1000:
        pre = [0]*(1000-Pre) + [1]*Pre
    if Pre >= 1000:
        pre = [1]*1000
    
    if Last < 1001:
        last = [1]*Last + [0]*(1001-Last)
    if Last >= 1001:
        last = [1]*1001    
    
    Gene = Fasta_Neg.loc[i, "name"]
    Count[Gene] = pre + last
    
    
    # Define m6A position
    Location = 1000 + Distance[i]
    List = []
    List = Value[Gene]
    List = List[0:Location] + [Fasta_Neg.loc[i,"Probabilty"]] + List[Location+1:]
    # List = List[0:Location] + [1] + List[Location+1:]
    lis = List
    Value.update({Gene:lis})

In [22]:
df = pd.DataFrame(Value)

In [23]:
df

,Slc47a1,Chd8,Rnft2,Tmem14c,Cacng3,Dcpp2,Gm11237,Dll3,Ino80c,Alpk2,...,Gm3676,Emx1,Papd7,Ermap,Arl1,Zfp72,Wdr38,Arhgef33,Mtmr6,Adsl
0,0.0,0.445687,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1997,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.004486,0.0,0.0,0.0,0.0,0.0,0.009289,0.0
1998,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1999,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
2000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0

In [24]:
Count = pd.DataFrame(Count)

In [25]:
Count

,Slc47a1,Chd8,Rnft2,Tmem14c,Cacng3,Dcpp2,Gm11237,Dll3,Ino80c,Alpk2,...,Gm3676,Emx1,Papd7,Ermap,Arl1,Zfp72,Wdr38,Arhgef33,Mtmr6,Adsl
0,1,1,1,0,1,0,0,1,0,1,...,0,1,1,1,1,0,0,1,1,1
1,1,1,1,0,1,0,0,1,0,1,...,0,1,1,1,1,0,0,1,1,1
2,1,1,1,0,1,0,0,1,0,1,...,0,1,1,1,1,0,0,1,1,1
3,1,1,1,0,1,0,0,1,0,1,...,0,1,1,1,1,0,0,1,1,1
4,1,1,1,0,1,0,0,1,0,1,...,0,1,1,1,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1,1,1,0,1,0,0,0,1,0,...,0,0,1,1,1,1,0,0,1,1
1997,1,1,1,0,1,0,0,0,1,0,...,0,0,1,1,1,1,0,0,1,1
1998,1,1,1,0,1,0,0,0,1,0,...,0,0,1,1,1,1,0,0,1,1
1999,1,1,1,0,1,0,0,0,1,0,...,0,0,1,1,1,1,0,0,1,1
2000,1,1,1,0,1,0,0,0,1,0,...,0,0,1,1,1,1,0,0,1,1

In [26]:
df = df.T
df.loc["Sum"] = df.sum()
df = df.T

In [27]:
Value = df[["Sum"]]

In [28]:
Value

            Sum
0      3.817004
1      3.004289
2      5.558739
3      6.295536
4      3.516603
...         ...
1996  10.243051
1997   8.837596
1998   7.677914
1999  10.013321
2000   9.260319

[2001 rows x 1 columns]

In [29]:
Count = Count.T
Count.loc["Number"] = Count.sum()
Count = Count.T

In [30]:
Number = Count[["Number"]]

In [31]:
Number

      Number
0       8817
1       8827
2       8834
3       8843
4       8846
...      ...
1996    7659
1997    7655
1998    7650
1999    7645
2000    7635

[2001 rows x 1 columns]

In [32]:
Data = pd.concat([Value, Number], axis=1)

In [33]:
Data

            Sum  Number
0      3.817004    8817
1      3.004289    8827
2      5.558739    8834
3      6.295536    8843
4      3.516603    8846
...         ...     ...
1996  10.243051    7659
1997   8.837596    7655
1998   7.677914    7650
1999  10.013321    7645
2000   9.260319    7635

[2001 rows x 2 columns]

In [34]:
Data = Data.head(2000)

In [35]:
Data = Data.reset_index(drop = True)

In [36]:
Data

            Sum  Number
0      3.817004    8817
1      3.004289    8827
2      5.558739    8834
3      6.295536    8843
4      3.516603    8846
...         ...     ...
1995   8.721045    7663
1996  10.243051    7659
1997   8.837596    7655
1998   7.677914    7650
1999  10.013321    7645

[2000 rows x 2 columns]

In [37]:
Sum = []
Number = []

for j in range(0,len(Data),10):

    a = Data.loc[j:(j+9),"Sum"]
    b = np.mean(a, axis=0)
    Sum.append(b)
    
    a = Data.loc[j:(j+9),"Number"]
    b = np.mean(a, axis=0)
    Number.append(b)

Result = pd.DataFrame({"Index":range(-1000,1000,10), "Sum":Sum, "Number":Number})
Result["Mean"] = Result["Sum"]/Result["Number"]

In [38]:
Result

     Index        Sum  Number      Mean
0    -1000   4.634015  8850.9  0.000524
1     -990   5.592537  8903.3  0.000628
2     -980   5.961022  8970.2  0.000665
3     -970   5.599800  9049.5  0.000619
4     -960   5.121497  9123.8  0.000561
..     ...        ...     ...       ...
195    950  11.377971  7906.2  0.001439
196    960  11.276633  7836.0  0.001439
197    970  11.169552  7775.3  0.001437
198    980   9.571557  7716.6  0.001240
199    990   9.585809  7665.9  0.001250

[200 rows x 4 columns]

In [39]:
Result.to_csv("Mouse_iM6A_LastExonStart_C2_IL.csv", index=0)